<section class="bg-dark-hard">
	<footer
		class="container mx-auto px-4 py-10 grid gap-y-10 gap-x-5 grid-cols-10 md:pt-20 md:grid-cols-12 lg:grid-cols-10 lg:gap-x-10"
	>
		<div class="col-span-5 md:col-span-4 lg:col-span-2">
			<h3 class="text-dark-light font-bold md:text-lg">Product</h3>
			<ul class="text-[#959EAD] mt-5 space-y-4 text-sm md:text-base">
				<li><a href="" class="hover:underline">Landing page</a></li>
				<li><a href="" class="hover:underline">Features</a></li>
				<li><a href="" class="hover:underline">Documentation</a></li>
				<li><a href="" class="hover:underline">Referral Program</a></li>
				<li><a href="" class="hover:underline">Pricing</a></li>
			</ul>
		</div>
		<div class="col-span-5 md:col-span-4 lg:col-span-2">
			<h3 class="text-dark-light font-bold md:text-lg">Services</h3>
			<ul class="text-[#959EAD] mt-5 space-y-4 text-sm md:text-base">
				<li><a href="" class="hover:underline">Documentation</a></li>
				<li><a href="" class="hover:underline">Design</a></li>
				<li><a href="" class="hover:underline">Themes</a></li>
				<li><a href="" class="hover:underline">Illustrations</a></li>
				<li><a href="" class="hover:underline">UI Kit</a></li>
			</ul>
		</div>
		<div class="col-span-5 md:col-span-4 md:col-start-5 lg:col-span-2 lg:col-start-auto">
			<h3 class="text-dark-light font-bold md:text-lg">Company</h3>
			<ul class="text-[#959EAD] mt-5 space-y-4 text-sm md:text-base">
				<li><a href="" class="hover:underline">About</a></li>
				<li><a href="" class="hover:underline">Terms</a></li>
				<li><a href="" class="hover:underline">Privacy Policy</a></li>
				<li><a href="" class="hover:underline">Careers</a></li>
			</ul>
		</div>
		<div class="col-span-5 md:col-span-4 lg:col-span-2">
			<h3 class="text-dark-light font-bold md:text-lg">More</h3>
			<ul class="text-[#959EAD] mt-5 space-y-4 text-sm md:text-base">
				<li><a href="" class="hover:underline">Documentation</a></li>
				<li><a href="" class="hover:underline">License</a></li>
				<li><a href="" class="hover:underline">Changelog</a></li>
			</ul>
		</div>
		<div class="col-span-10 md:order-first md:col-span-4 lg:col-span-2">
			<img src="./images/Logo.svg" alt="Logo" class="brightness-0 invert mx-auto md:mx-0" />
			<p class="text-center mt-4 text-dark-light md:text-left md:text-base">
				Build a modern and creative website with <span class="text-primary">Zouhair</span>
			</p>
			<ul class="flex items-center justify-center md:justify-start mt-5 space-x-4 text-gray-300">
				<li>
					<a href="">
						<i class="ri-twitter-x-fill h-auto text-2xl"></i>
					</a>
				</li>
				<li>
					<a href="">
						<i class="ri-facebook-circle-fill h-auto text-2xl"></i>
					</a>
				</li>
				<li>
					<a href="">
						<i class="ri-youtube-fill h-auto text-2xl"></i>
					</a>
				</li>
				<li>
					<a href="">
						<i class="ri-instagram-fill h-auto text-2xl"></i>
					</a>
				</li>
				<li>
					<a href="">
						<i class="ri-telegram-fill h-auto text-2xl"></i>
					</a>
				</li>
			</ul>
		</div>
		<div
			class="hidden md:flex flex-col items-center space-y-4 justify-center md:col-span-12 lg:col-span-10"
		>
			<div class="flex items-center justify-center w-14 h-14 rounded-full bg-primary">
				<i class="ri-heart-fill text-white text-[28px]"></i>
			</div>
			<p class="italic text-dark-light font-bold">
				Copyright &copy; <%= new Date().getFullYear() %>. Crafted with
				<span class="text-red-500">love</span>
			</p>
		</div>
	</footer>
</section>
