			</main>
		</div>
		<% if (req.url === "/create-post") { %>
		<!-- Include the validator library -->
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/validator/13.11.0/validator.min.js"
			integrity="sha512-hbPvueZAJx8GdjaqfRAA7FEz9UahrMeTaePHz/LDMDvDQaGSGxavizrTmww82nQmtfCUFW7wL9QmtTq8X/qM5A=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
			></script>
			<% } %>
	</body>
</html>