<!DOCTYPE html>
<html lang="en" data-theme="mytheme">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Blog App Home</title>
		<!-- Main Css File -->
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<!-- Remix Icons Library -->
		<link
			href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
			rel="stylesheet"
		/>
		<!-- Favicons -->
		<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon_io/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon_io/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon_io/favicon-16x16.png" />
		<link rel="manifest" href="/images/favicon_io/site.webmanifest" />
		<!-- Main JS File -->
		<script src="/javascripts/main.js" defer></script>
		<script src="/javascripts/preline.js" defer></script>
	</head>
	<body>
		<div class="flex flex-col min-h-screen overflow-hidden font-roboto">
			<header class="container relative px-4 py-4 mx-auto navbar">
				<hr class="absolute -left-24 bottom-0 w-[200%] h-[1px] bg-slate-50" />
				<div class="flex-1">
					<a href="/" class="block w-20 cursor-pointer">
						<img src="/images/Logo.svg" alt="Logo" loading="lazy" />
					</a>
				</div>
				<div class="flex-none gap-2">

					<div class="hidden md:block" title="Search">
						<button class="inline-flex items-center justify-center gap-2 px-[0.6rem] py-1 text-[22px] border border-transparent rounded-full hover:border hover:border-slate-200 focus:outline-none focus:ring focus:ring-offset-2 focus:ring-offset-white focus:ring-primary text-slate-500 ">
							<i class="ri-search-line"></i>
						</button>
					</div>
					
					<a
						class="hidden px-6 py-2 text-sm text-white transition duration-200 bg-blue-500 rounded-full md:inline-block hover:bg-blue-600"
						href="/create-post"
					>
							<i class="text-xl ri-edit-line"></i>
							<span class="text-sm font-normal">Write</span>
					</a>

					<div class="block md:hidden" title="Write">
						<a href='/create-post' class="inline-flex items-center justify-center gap-2 px-[0.6rem] py-1 text-[22px] border border-transparent rounded-full hover:border hover:border-slate-200 focus:outline-none focus:ring focus:ring-offset-2 focus:ring-offset-white focus:ring-primary text-slate-500 ">
							<i class="ri-edit-2-line"></i>
						</a>
					</div>


					<div title="Toggle dark mode">
						<button class="inline-flex items-center justify-center gap-2 px-[0.6rem] py-1 text-[22px] border border-transparent rounded-full hover:border hover:border-slate-200 focus:outline-none focus:ring focus:ring-offset-2 focus:ring-offset-white focus:ring-primary text-slate-500 ">
							<i class="ri-moon-line"></i>
						</button>
					</div>

					<div class="hidden md:block" title="Notification">
						<button class="inline-flex items-center justify-center gap-2 px-[0.6rem] py-1 text-[22px]  border border-transparent rounded-full hover:border hover:border-slate-200 focus:outline-none focus:ring focus:ring-offset-2 focus:ring-offset-white focus:ring-primary text-slate-500 ">
							<i class="ri-notification-3-line"></i>
						</button>
					</div>

					<div class="dropdown dropdown-end">
						<label tabindex="0" class="gap-x-1 btn btn-ghost btn-circle avatar">
							<div class="w-10 rounded-full">
								<img src="<%= user.avatar %>" loading="lazy" />
							</div>
						</label>
						<ul
							tabindex="0"
							class="z-50 w-48 p-2 mt-3 shadow menu menu-sm dropdown-content bg-base-100 rounded-box"
						>
							<li>
								<a
								href="/my-profile"
								class="flex px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-200 transform hover:bg-gray-100"
								>
								<img src="<%= user.avatar %>" class="w-10 rounded-full" alt="user image" loading="lazy">
									<div class="flex flex-col">
										<span class="text-xs">Signed in As</span>
										<span class="font-bold"><%= user.username %></span>
									</div>
								</a>
							</li>
							<hr class="border-gray-100" />
							<li>
								<a
									href="#"
									class="block space-x-1 px-4 py-2.5 text-sm text-gray-600 capitalize transition-colors duration-200 transform hover:bg-gray-100"
								>
									<i class="ri-bookmark-line"></i>
									<span>Library</span>
								</a>
							</li>
							<li>
								<a
									href="/settings"
									class="block px-4 space-x-1 py-2.5 text-sm text-gray-600 capitalize transition-colors duration-200 transform hover:bg-gray-100"
								>
									<i class="ri-settings-line"></i>
									<span>Account settings</span>
								</a>
							</li>		
							<hr class="border-gray-100" />
							<li>
								<a
									href="/faqs"
									class="block px-4 space-x-1 py-2.5 text-sm text-gray-600 capitalize transition-colors duration-200 transform hover:bg-gray-100"
								>
									<i class="ri-question-line"></i>
									<span>Support, feedback</span>
								</a>
							</li>
								<li>
								<a
									href="/pricing"
									class="block px-4 space-x-1 py-2.5 text-sm text-gray-600 capitalize transition-colors duration-200 transform hover:bg-gray-100"
								>
									<i class="text-yellow-500 ri-bard-fill"></i>
									<span>Become a member</span>
								</a>
							</li>
							<hr class="border-gray-100" />
							<form action="/logout" method="POST">
								<button
									type="submit"
									class="flex items-center px-4 rounded-md transition-colors duration-200 py-3.5 w-full text-sm text-red-500 space-x-3 hover:bg-gray-100 focus:outline-none"
								>
									<i class="text-xl ri-logout-box-line"></i>
									<span>Log Out</span>
								</button>
							</form>
						</ul>
					</div>
				</div>
			</header>
			<main>