<section class="bg-[#F9FCFF]">
	<div
		class="container px-4 pt-[7.5rem] pb-20 mx-auto overflow-hidden lg:flex lg:items-center lg:space-x-8"
	>
		<div class="w-full text-center lg:text-left lg:w-1/2">
			<h1 class="text-3xl leading-snug text-gray-800 font-roboto md:text-4xl">
				Read the <span class="font-semibold">Most Interesting</span> Articles and
				<br class="hidden lg:block" />
				<span class="font-semibold underline decoration-primary">Explore Creativity</span>
			</h1>
			<p class="mt-4 text-lg text-gray-500 md:text-xl">
				Discover a world of ideas, inspiration, and knowledge right at your fingertips.
				<br class="hidden lg:block" />
				Welcome to <span class="underline decoration-primary">[Zouhair blog]</span>.
			</p>
			<div
				class="mt-6 bg-transparent shadow-[rgba(13,_38,_76,_0.19)_0px_9px_20px] border rounded-lg lg:w-2/3 focus-within:border-primary focus-within:ring focus-within:ring-opacity-20"
			>
				<form
					action="/search"
					method="POST"
					class="flex flex-col flex-wrap justify-between lg:flex-row"
				>
					<input
						type="search"
						name="query"
						placeholder="Search article"
						required
						autocomplete="off"
						class="flex-1 h-10 px-4 py-2 m-1 font-semibold placeholder-gray-400 bg-transparent border-none text-dark-soft placeholder:font-normal lg:h-12 focus:outline-none focus:placeholder-transparent focus:ring-0"
					/>
					<button
						type="submit"
						class="flex items-center justify-center p-2 m-1 text-white transition-colors duration-300 transform rounded-lg lg:w-12 lg:h-12 lg:p-0 bg-primary hover:bg-primary/70 focus:outline-none focus:bg-primary/70"
					>
						<i class="text-xl ri-search-line"></i>
					</button>
				</form>
			</div>
			<div
				class="flex flex-col mt-4 text-left xl:flex-row xl:flex-nowrap xl:items-start xl:gap-x-4 xl:mt-7"
			>
				<span class="mt-2 italic font-semibold text-dark-light xl:mt-4">Popular Tags:</span>
				<ul class="flex flex-wrap gap-x-2.5 gap-y-2.5 mt-3">
					<li
						class="rounded-lg bg-primary/10 px-3 py-1.5 text-primary font-semibold cursor-pointer"
					>
						Design
					</li>
					<li
						class="rounded-lg bg-primary/10 px-3 py-1.5 text-primary font-semibold cursor-pointer"
					>
						User Experience
					</li>
					<li
						class="rounded-lg bg-primary/10 px-3 py-1.5 text-primary font-semibold cursor-pointer"
					>
						Frontend Development
					</li>
				</ul>
			</div>
		</div>
		<div class="items-center w-full mt-4 lg:mt-0 lg:flex lg:w-1/2">
			<img
				src="./images/blog-animate.svg"
				class="w-full h-full max-w-md mx-auto"
				alt="users are reading articles"
			/>
		</div>
	</div>
</section>
