<%- include("../components/loggedHeader"); %>

<section
	class="container relative z-40 flex justify-center gap-10 px-4 pt-24 pb-10 mx-auto lg:px-0"
>
	<div
		class="relative flex flex-col gap-6 min-w-full pt-5 mb-14 md:w-[640px] md:min-w-0 md:gap-8 md:pt-14 lg:w-[728px]"
	>
		<div
			class="relative flex flex-col items-start w-full gap-1 p-6 overflow-hidden bg-white border rounded-2xl border-slate-200"
		>
			<div class="text-2xl font-semibold font-heading text-slate-700">Bookmarks</div>
			<div class="w-4/5 text-base text-slate-500 sm:w-auto">
				All articles you have bookmarked on Zouhair blog
			</div>
			<div
				class="absolute right-0 flex items-center justify-center text-indigo-500 top-1/2 bottom-1/2"
			>
				<svg
					width="381"
					height="120"
					viewBox="0 0 381 120"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
					class="hidden sm:block"
				>
					<mask
						id="mask0_48_18"
						style="mask-type: alpha"
						maskUnits="userSpaceOnUse"
						x="0"
						y="-219"
						width="558"
						height="557"
					>
						<rect
							x="0.943115"
							y="1.10583"
							width="402.136"
							height="402.136"
							rx="10.0534"
							transform="rotate(-33.1785 0.943115 1.10583)"
							fill="url(#paint0_radial_48_18)"
						></rect>
					</mask>
					<g mask="url(#mask0_48_18)">
						<rect
							x="223.105"
							y="60.025"
							width="79.4272"
							height="79.4272"
							rx="23.5"
							transform="rotate(-45.6785 223.105 60.025)"
							stroke="#C7D2FE"
						></rect>
						<rect
							x="185.195"
							y="60.4732"
							width="133.045"
							height="133.045"
							rx="23.5"
							transform="rotate(-45.6785 185.195 60.4732)"
							stroke="#C7D2FE"
						></rect>
						<rect
							x="147.284"
							y="60.9224"
							width="186.663"
							height="186.663"
							rx="23.5"
							transform="rotate(-45.6785 147.284 60.9224)"
							stroke="#C7D2FE"
						></rect>
						<rect
							x="109.373"
							y="61.3715"
							width="240.281"
							height="240.281"
							rx="23.5"
							transform="rotate(-45.6785 109.373 61.3715)"
							stroke="#C7D2FE"
						></rect>
						<rect
							x="71.4607"
							y="61.8207"
							width="293.9"
							height="293.9"
							rx="23.5"
							transform="rotate(-45.6785 71.4607 61.8207)"
							stroke="#C7D2FE"
						></rect>
						<rect
							x="33.5496"
							y="62.2698"
							width="347.518"
							height="347.518"
							rx="23.5"
							transform="rotate(-45.6785 33.5496 62.2698)"
							stroke="#C7D2FE"
						></rect>
						<rect
							x="-4.36057"
							y="62.7181"
							width="401.136"
							height="401.136"
							rx="23.5"
							transform="rotate(-45.6785 -4.36057 62.7181)"
							stroke="#C7D2FE"
						></rect>
					</g>
					<path
						fill-rule="evenodd"
						clip-rule="evenodd"
						d="M272.75 53C272.75 50.9289 274.429 49.25 276.5 49.25H283.5C285.571 49.25 287.25 50.9289 287.25 53V68C287.25 68.2717 287.103 68.5222 286.866 68.6547C286.629 68.7873 286.338 68.7811 286.107 68.6387L280.131 64.9613C280.051 64.9118 279.949 64.9118 279.869 64.9613L273.893 68.6387C273.662 68.7811 273.371 68.7873 273.134 68.6547C272.897 68.5222 272.75 68.2717 272.75 68V53ZM283.53 56.0303C283.823 55.7374 283.823 55.2626 283.53 54.9697C283.237 54.6768 282.763 54.6768 282.47 54.9697L279 58.4393L277.53 56.9697C277.237 56.6768 276.763 56.6768 276.47 56.9697C276.177 57.2626 276.177 57.7374 276.47 58.0303L278.47 60.0303C278.763 60.3232 279.237 60.3232 279.53 60.0303L283.53 56.0303Z"
						fill="#818CF8"
					></path>
					<defs>
						<radialGradient
							id="paint0_radial_48_18"
							cx="0"
							cy="0"
							r="1"
							gradientUnits="userSpaceOnUse"
							gradientTransform="translate(202.011 202.174) rotate(90) scale(201.068 201.068)"
						>
							<stop></stop>
							<stop offset="1" stop-opacity="0"></stop>
						</radialGradient>
					</defs></svg
				><svg
					width="207"
					height="132"
					viewBox="0 0 207 132"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
					class="sm:hidden"
				>
					<mask
						id="mask0_48_572"
						style="mask-type: alpha"
						maskUnits="userSpaceOnUse"
						x="0"
						y="-90"
						width="313"
						height="313"
					>
						<rect
							x="58.6752"
							y="37.5043"
							width="145.589"
							height="144.473"
							rx="5.62832"
							transform="rotate(-33.1785 58.6752 37.5043)"
							fill="url(#paint0_radial_48_572)"
						></rect>
					</mask>
					<g mask="url(#mask0_48_572)">
						<rect
							x="125.554"
							y="67.1423"
							width="44.0266"
							height="44.0266"
							rx="12.9362"
							transform="rotate(-45.6785 125.554 67.1423)"
							stroke="#C7D2FE"
						></rect>
						<rect
							x="104.33"
							y="67.3932"
							width="74.0443"
							height="74.0443"
							rx="12.9362"
							transform="rotate(-45.6785 104.33 67.3932)"
							stroke="#C7D2FE"
						></rect>
						<rect
							x="83.1057"
							y="67.6447"
							width="104.062"
							height="104.062"
							rx="12.9362"
							transform="rotate(-45.6785 83.1057 67.6447)"
							stroke="#C7D2FE"
						></rect>
						<rect
							x="61.8813"
							y="67.896"
							width="134.08"
							height="134.08"
							rx="12.9362"
							transform="rotate(-45.6785 61.8813 67.896)"
							stroke="#C7D2FE"
						></rect>
						<rect
							x="40.6569"
							y="68.1476"
							width="164.097"
							height="164.097"
							rx="12.9362"
							transform="rotate(-45.6785 40.6569 68.1476)"
							stroke="#C7D2FE"
						></rect>
						<rect
							x="19.4325"
							y="68.3991"
							width="194.115"
							height="194.115"
							rx="12.9362"
							transform="rotate(-45.6785 19.4325 68.3991)"
							stroke="#C7D2FE"
						></rect>
						<rect
							x="-1.79117"
							y="68.6501"
							width="224.133"
							height="224.133"
							rx="12.9362"
							transform="rotate(-45.6785 -1.79117 68.6501)"
							stroke="#C7D2FE"
						></rect>
					</g>
					<path
						fill-rule="evenodd"
						clip-rule="evenodd"
						d="M150.58 62.2023C150.58 60.6843 151.811 59.4537 153.329 59.4537H158.459C159.977 59.4537 161.208 60.6843 161.208 62.2023V73.1965C161.208 73.3957 161.1 73.5792 160.926 73.6764C160.753 73.7735 160.54 73.769 160.37 73.6647L155.99 70.9693C155.931 70.933 155.857 70.933 155.798 70.9693L151.418 73.6647C151.248 73.769 151.036 73.7735 150.862 73.6764C150.688 73.5792 150.58 73.3957 150.58 73.1965V62.2023ZM158.482 64.4234C158.696 64.2087 158.696 63.8606 158.482 63.646C158.267 63.4313 157.919 63.4313 157.704 63.646L155.161 66.189L154.084 65.1119C153.869 64.8972 153.521 64.8972 153.307 65.1119C153.092 65.3265 153.092 65.6746 153.307 65.8893L154.772 67.3552C154.987 67.5698 155.335 67.5698 155.55 67.3552L158.482 64.4234Z"
						fill="#818CF8"
					></path>
					<defs>
						<radialGradient
							id="paint0_radial_48_572"
							cx="0"
							cy="0"
							r="1"
							gradientUnits="userSpaceOnUse"
							gradientTransform="translate(131.47 109.741) rotate(90) scale(72.2363 72.7945)"
						>
							<stop></stop>
							<stop offset="1" stop-opacity="0"></stop>
						</radialGradient>
					</defs></svg
				><svg
					width="381"
					height="120"
					viewBox="0 0 381 120"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
					class="hidden"
				>
					<mask
						id="mask0_52_4664"
						style="mask-type: alpha"
						maskUnits="userSpaceOnUse"
						x="0"
						y="-219"
						width="558"
						height="557"
					>
						<rect
							x="0.943115"
							y="1.10571"
							width="402.136"
							height="402.136"
							rx="10.0534"
							transform="rotate(-33.1785 0.943115 1.10571)"
							fill="url(#paint0_radial_52_4664)"
						></rect>
					</mask>
					<g mask="url(#mask0_52_4664)">
						<rect
							x="223.105"
							y="60.0248"
							width="79.4272"
							height="79.4272"
							rx="23.5"
							transform="rotate(-45.6785 223.105 60.0248)"
							stroke="#334155"
							stroke-opacity="0.8"
						></rect>
						<rect
							x="185.195"
							y="60.4731"
							width="133.045"
							height="133.045"
							rx="23.5"
							transform="rotate(-45.6785 185.195 60.4731)"
							stroke="#334155"
							stroke-opacity="0.8"
						></rect>
						<rect
							x="147.284"
							y="60.9223"
							width="186.663"
							height="186.663"
							rx="23.5"
							transform="rotate(-45.6785 147.284 60.9223)"
							stroke="#334155"
							stroke-opacity="0.8"
						></rect>
						<rect
							x="109.373"
							y="61.3715"
							width="240.281"
							height="240.281"
							rx="23.5"
							transform="rotate(-45.6785 109.373 61.3715)"
							stroke="#334155"
							stroke-opacity="0.8"
						></rect>
						<rect
							x="71.4607"
							y="61.8205"
							width="293.9"
							height="293.9"
							rx="23.5"
							transform="rotate(-45.6785 71.4607 61.8205)"
							stroke="#334155"
							stroke-opacity="0.8"
						></rect>
						<rect
							x="33.5496"
							y="62.2697"
							width="347.518"
							height="347.518"
							rx="23.5"
							transform="rotate(-45.6785 33.5496 62.2697)"
							stroke="#334155"
							stroke-opacity="0.8"
						></rect>
						<rect
							x="-4.36057"
							y="62.7179"
							width="401.136"
							height="401.136"
							rx="23.5"
							transform="rotate(-45.6785 -4.36057 62.7179)"
							stroke="#334155"
							stroke-opacity="0.8"
						></rect>
					</g>
					<path
						fill-rule="evenodd"
						clip-rule="evenodd"
						d="M272.75 53C272.75 50.9289 274.429 49.25 276.5 49.25H283.5C285.571 49.25 287.25 50.9289 287.25 53V68C287.25 68.2717 287.103 68.5222 286.866 68.6547C286.629 68.7873 286.338 68.7811 286.107 68.6387L280.131 64.9613C280.051 64.9118 279.949 64.9118 279.869 64.9613L273.893 68.6387C273.662 68.7811 273.371 68.7873 273.134 68.6547C272.897 68.5222 272.75 68.2717 272.75 68V53ZM283.53 56.0303C283.823 55.7374 283.823 55.2626 283.53 54.9697C283.237 54.6768 282.763 54.6768 282.47 54.9697L279 58.4393L277.53 56.9697C277.237 56.6768 276.763 56.6768 276.47 56.9697C276.177 57.2626 276.177 57.7374 276.47 58.0303L278.47 60.0303C278.763 60.3232 279.237 60.3232 279.53 60.0303L283.53 56.0303Z"
						fill="#4338CA"
					></path>
					<defs>
						<radialGradient
							id="paint0_radial_52_4664"
							cx="0"
							cy="0"
							r="1"
							gradientUnits="userSpaceOnUse"
							gradientTransform="translate(202.011 202.174) rotate(90) scale(201.068 201.068)"
						>
							<stop></stop>
							<stop offset="1" stop-opacity="0"></stop>
						</radialGradient>
					</defs></svg
				><svg
					width="207"
					height="132"
					viewBox="0 0 207 132"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
					class="hidden"
				>
					<mask
						id="mask0_45_18740"
						style="mask-type: alpha"
						maskUnits="userSpaceOnUse"
						x="0"
						y="-90"
						width="313"
						height="313"
					>
						<rect
							x="58.6768"
							y="37.5082"
							width="145.589"
							height="144.473"
							rx="5.62832"
							transform="rotate(-33.1785 58.6768 37.5082)"
							fill="url(#paint0_radial_45_18740)"
						></rect>
					</mask>
					<g mask="url(#mask0_45_18740)">
						<rect
							x="125.555"
							y="67.1462"
							width="44.0266"
							height="44.0266"
							rx="12.9362"
							transform="rotate(-45.6785 125.555 67.1462)"
							stroke="#334155"
							stroke-opacity="0.8"
						></rect>
						<rect
							x="104.332"
							y="67.3972"
							width="74.0443"
							height="74.0443"
							rx="12.9362"
							transform="rotate(-45.6785 104.332 67.3972)"
							stroke="#334155"
							stroke-opacity="0.8"
						></rect>
						<rect
							x="83.1074"
							y="67.6487"
							width="104.062"
							height="104.062"
							rx="12.9362"
							transform="rotate(-45.6785 83.1074 67.6487)"
							stroke="#334155"
							stroke-opacity="0.8"
						></rect>
						<rect
							x="61.8828"
							y="67.9001"
							width="134.08"
							height="134.08"
							rx="12.9362"
							transform="rotate(-45.6785 61.8828 67.9001)"
							stroke="#334155"
							stroke-opacity="0.8"
						></rect>
						<rect
							x="40.6587"
							y="68.1517"
							width="164.097"
							height="164.097"
							rx="12.9362"
							transform="rotate(-45.6785 40.6587 68.1517)"
							stroke="#334155"
							stroke-opacity="0.8"
						></rect>
						<rect
							x="19.4341"
							y="68.403"
							width="194.115"
							height="194.115"
							rx="12.9362"
							transform="rotate(-45.6785 19.4341 68.403)"
							stroke="#334155"
							stroke-opacity="0.8"
						></rect>
						<rect
							x="-1.78952"
							y="68.654"
							width="224.133"
							height="224.133"
							rx="12.9362"
							transform="rotate(-45.6785 -1.78952 68.654)"
							stroke="#334155"
							stroke-opacity="0.8"
						></rect>
					</g>
					<path
						fill-rule="evenodd"
						clip-rule="evenodd"
						d="M150.582 62.2061C150.582 60.6882 151.812 59.4576 153.33 59.4576H158.461C159.979 59.4576 161.209 60.6882 161.209 62.2061V73.2004C161.209 73.3995 161.102 73.5831 160.928 73.6802C160.754 73.7774 160.541 73.7729 160.371 73.6685L155.991 70.9731C155.933 70.9369 155.858 70.9369 155.799 70.9731L151.419 73.6685C151.25 73.7729 151.037 73.7774 150.863 73.6802C150.689 73.5831 150.582 73.3995 150.582 73.2004V62.2061ZM158.483 64.4272C158.698 64.2125 158.698 63.8645 158.483 63.6498C158.268 63.4351 157.92 63.4351 157.706 63.6498L155.162 66.1929L154.085 65.1157C153.871 64.901 153.523 64.901 153.308 65.1157C153.093 65.3304 153.093 65.6784 153.308 65.8931L154.774 67.359C154.988 67.5737 155.336 67.5737 155.551 67.359L158.483 64.4272Z"
						fill="#4338CA"
					></path>
					<defs>
						<radialGradient
							id="paint0_radial_45_18740"
							cx="0"
							cy="0"
							r="1"
							gradientUnits="userSpaceOnUse"
							gradientTransform="translate(131.471 109.745) rotate(90) scale(72.2363 72.7945)"
						>
							<stop></stop>
							<stop offset="1" stop-opacity="0"></stop>
						</radialGradient>
					</defs>
				</svg>
			</div>
		</div>
		<div class="flex flex-col items-center gap-6">
			<div
				class="flex flex-col items-center w-full gap-5 px-5 pb-20 bg-white border border-slate-200 md:pt-28 md:pb-32 sm:pt-16 sm:pb-24 pt-14 rounded-2xl"
			>
				<div class="-mb-12 scale-50 md:scale-100 sm:scale-75 sm:-mb-8 md:mb-0">
					<svg width="200" height="200" fill="none" class="">
						<path
							fill="#60A5FA"
							d="M114.827 108.62a4.57 4.57 0 0 0-4.567-4.567 4.57 4.57 0 0 0-4.567 4.567 4.57 4.57 0 0 0 4.567 4.567 4.574 4.574 0 0 0 4.567-4.567ZM109.947 93.533a7.087 7.087 0 0 0-2.787-6.78l-.08-.06-.026.094c-.427 1.573-1.274 2.726-2.527 3.42l-.093.053.08.06a2.643 2.643 0 0 1 1.04 2.54 2.62 2.62 0 0 1-1.06 1.74 2.66 2.66 0 0 1-3.8-3.607l.06-.093-.114-.013c-1.386-.134-2.847-.614-4.127-1.34l-.066-.04-.034.066a7.18 7.18 0 0 0-.526 1.8 7.054 7.054 0 0 0 1.293 5.274 7.085 7.085 0 0 0 5.727 2.9c3.473.006 6.5-2.507 7.04-6.014ZM87.68 109.26l-.087-.047-.013.1c-.266 2.287-1.113 4.107-2.593 5.574l-.053.053.06.047a3.637 3.637 0 0 1 1.48 2.92 3.628 3.628 0 0 1-3.62 3.62 3.624 3.624 0 0 1-3.587-3.154l-.013-.086-.394.166c-2.046.867-3.98 1.694-5.193 3.047l-.027.033.013.04a9.89 9.89 0 0 0 3.58 4.487 9.866 9.866 0 0 0 5.62 1.747c2.42 0 4.747-.88 6.56-2.487l.034-.027-.014-.04c-.92-3.586.28-7.273 3.06-9.4l.034-.026-.007-.04a9.875 9.875 0 0 0-4.84-6.527Z"
						></path>
						<path
							fill="#60A5FA"
							d="M127.12 104.06c-1.467.587-3.267.22-4.693-.953-1.687-1.387-2.46-3.487-2.067-5.62.38-2.054 1.313-3.14 2.213-4.194.887-1.033 1.727-2.006 1.887-3.793l.007-.06-.06-.013c-3.52-.787-7.12.753-8.954 3.833a7.572 7.572 0 0 0-1.066 4.547c.146 1.753.893 3.413 2.213 4.933 2.813 3.24 3.48 7.193 1.753 10.32-1.626 2.94-4.96 4.407-8.686 3.827-.54-.08-1.06-.14-1.554-.174l-.346-.02.313.147c1.8.847 3.027 1.893 4.113 2.813 1.6 1.36 2.967 2.52 5.527 2.52 1.067 0 2.34-.2 3.927-.673 1.893-.56 4.186.367 5.446 2.207l.12.18v-19.854l-.093.027ZM74.287 103.567c2.966-.147 5.133-.9 6.626-2.307 1.26-1.26 1.16-2.467 1.06-3.753-.106-1.314-.213-2.674 1.26-4.14 1.474-1.474 2.834-1.36 4.147-1.26 1.28.1 2.493.2 3.753-1.06 1.26-1.26 1.16-2.474 1.06-3.754-.006-.106-.02-.22-.026-.326v-.04l-.034-.014c-1.8-.82-3.806-.733-6.313.254-1.367.54-3.053.366-4.507-.474-1.653-.953-2.766-2.6-3.06-4.526-.226-1.5.1-2.774.447-4.12.4-1.567.82-3.187.28-5.174l-.013-.046H74.22c-.727 0-1.313.586-1.313 1.313v28.12a1.317 1.317 0 0 0 1.313 1.313c.027 0 .047 0 .067-.006ZM99.067 76.847c.44.153.907.233 1.407.233.966 0 2.04-.293 3.2-.88l.033-.013.007-.034c.086-.66.12-1.366.08-2.086a1.312 1.312 0 0 0-1.314-1.24h-6.973l.04.093c.966 2.147 2.12 3.433 3.52 3.927ZM110.727 80.393a9.945 9.945 0 0 0 6.54 2.447 9.99 9.99 0 0 0 5.093-1.4l.053-.033-.033-.054c-1.16-2.073-2.333-5.226-1.387-8.44l.027-.086h-12.307c-.38 0-.74.166-.993.453a1.304 1.304 0 0 0-.307 1.06 9.949 9.949 0 0 0 3.314 6.053Z"
						></path>
						<path
							fill="#4F46E5"
							d="M94.407 102.86a2.632 2.632 0 0 0-2.993 2.193 2.632 2.632 0 0 0 2.6 3.027 2.6 2.6 0 0 0 1.546-.507 2.601 2.601 0 0 0 1.04-1.713 2.63 2.63 0 0 0-2.193-3ZM81.24 86.807c.913.526 1.927.8 2.894.8.6 0 1.193-.107 1.733-.32 2.473-.974 4.447-1.06 6.206-.26l.1.046-.006-.113c-.087-1.247-.06-2.473 1.287-3.813 1.466-1.467 2.826-1.36 4.146-1.26 1.28.1 2.493.2 3.747-1.06 1.28-1.054 2.1-2.68 2.366-4.687l.014-.127-.114.06c-1.753.887-3.226 1.094-4.5.64-1.366-.486-2.493-1.746-3.44-3.86l-.02-.04H78.827l.02.087c.527 1.953.113 3.553-.28 5.107-.333 1.3-.68 2.646-.447 4.173.293 1.973 1.433 3.66 3.12 4.627ZM121.607 121.367c-5.32 1.58-7.087.08-9.327-1.82-1.093-.927-2.327-1.974-4.14-2.827l-.013-.007h-.014c-3.586-.226-6.54.8-8.3 2.887-1.593 1.887-2.073 4.433-1.386 7.367.14.593.666 1.013 1.28 1.013H125.9c.727 0 1.313-.587 1.313-1.313v-3.027l-.013-.02c-1.293-1.887-3.647-2.833-5.593-2.253ZM82.86 108.007c-5.46 0-9.9 4.44-9.9 9.9 0 1.266.233 2.5.7 3.666l.04.1.073-.08c1.194-1.333 3.114-2.146 5.147-3.013l.36-.153-.007-.054a3.65 3.65 0 0 1-.033-.466 3.627 3.627 0 0 1 3.62-3.62c.78 0 1.52.24 2.14.7l.047.033.04-.04c1.5-1.487 2.36-3.333 2.633-5.653l.007-.047-.04-.02a9.903 9.903 0 0 0-4.827-1.253ZM122.3 81.473l.06-.033a9.913 9.913 0 0 0 4.76-7.127 1.299 1.299 0 0 0-.307-1.033 1.33 1.33 0 0 0-1-.453h-4.926l-.014.046c-.966 3.26.227 6.447 1.394 8.547l.033.053ZM126.5 90.167a9.638 9.638 0 0 0-2.087-.74l-.073-.014-.007.074c-.16 1.74-.986 2.7-1.86 3.72-.913 1.066-1.86 2.166-2.246 4.253-.407 2.187.386 4.333 2.113 5.747 1 .82 2.187 1.253 3.313 1.253.527 0 1.04-.093 1.514-.287l.04-.02V91.327a1.286 1.286 0 0 0-.707-1.16ZM92.5 115.68l-.08.067a8.596 8.596 0 0 0-2.973 4.273 9.492 9.492 0 0 0-.134 5.267l.027.106.08-.073a9.916 9.916 0 0 0 3.34-7.413c0-.714-.08-1.427-.233-2.127l-.027-.1ZM96.44 89.58l-.027.053.053.027c1.294.74 2.774 1.22 4.18 1.36l.04.007.02-.034a2.659 2.659 0 0 1 2.627-1.166c.433.066.84.24 1.187.493l.033.027.04-.02c1.287-.714 2.16-1.887 2.593-3.5l.014-.047-.034-.027a7.036 7.036 0 0 0-3.153-1.313 7.107 7.107 0 0 0-7.573 4.14Z"
						></path>
						<path
							fill="#94A3B8"
							d="M187.54 43.593a7.313 7.313 0 0 0-7.493-2.5l-3.134.807a28.088 28.088 0 0 1-15.546-.453L104.98 23.433a2.874 2.874 0 0 0-2.54.394 2.844 2.844 0 0 0-1.213 2.26c-.107 3.673 1.266 6.213 3.786 8.24.16.133.06.386-.146.366l-6.987-.673a2.88 2.88 0 0 0-2.553 1.107 2.86 2.86 0 0 0-.434 2.733c1.627 4.5 5.42 6.42 12.347 7.453.24.034.24.38 0 .414l-5.947.853c-.926.133-1.76.68-2.186 1.507-.474.92-.407 2 .166 2.846 2.107 3.114 5.214 4.307 10.027 4.307 1.587 0 3.367-.133 5.353-.367.24-.026.327.307.107.4l-2.633 1.114a2.833 2.833 0 0 0-1.767 2.293 2.886 2.886 0 0 0 1.14 2.693c1.447 1.08 3.02 1.58 4.893 1.58 4.267 0 10.074-2.586 19.407-6.753l.427-.193c5.073-2.26 8.833-3.107 11.626-2.554 2.527.5 4.247 2.907 3.8 5.44 0 .014-.006.027-.006.04-.494 2.727-2.934 4.04-5.76 5.554-3.874 2.08-8.267 4.44-7.894 11.153a3.538 3.538 0 0 0 3.52 3.353c.367 0 .74-.06 1.107-.173l43.933-14.36c2.64-.86 4.58-3.18 4.947-5.9.793-5.687-.547-10.727-3.96-14.967Zm-91.073-6.3a1.17 1.17 0 0 1 .18-1.146 1.19 1.19 0 0 1 1.08-.467l6.813.653c.753.24 1.507.247 2.3.334 1.073.12 2.107.446 3.12.813 1.18.433 2.34.893 3.547 1.2 1.7.647 3.54 1.3 5.506 1.993.847.3 1.714.6 2.607.92 1.367.487 2.707.954 4.02 1.407.147.067.293.14.433.227.694.433.907 1.293-.046 1.586a4.172 4.172 0 0 1-1.067.187c-.027 0-.047 0-.073-.007-3.087-.16-5.874-.3-8.38-.46a.774.774 0 0 0-.46-.066l-.18.026c-12.06-.786-17.52-1.993-19.4-7.2Zm12.806 16.32c-4.24 0-6.866-1.026-8.62-3.613a1.105 1.105 0 0 1-.093-1.093c.167-.374.487-.62.887-.674l11.433-1.64c1.547-.173 3.1-.273 4.66-.28 1.28-.006 2.687.227 4.02.174 1.04.053 2.12.113 3.233.166 2.78.147 5.82.3 9.114.494.44.12.913.146 1.386.213.427.133.9.167 1.387.287.367.086.913.28.92.766.007.46-.513.694-.86.82-.3.107-.6.18-.893.28-2.04.374-3.967.74-5.78 1.08-2.694.507-5.154.967-7.4 1.367-.007 0-.014 0-.014.007-5.7 1.013-10.04 1.646-13.38 1.646Zm31.327-1.506a1.986 1.986 0 0 1-.24.24c-.047.033-.1.073-.153.106-.354.207-.72.407-1.08.6-1.12.4-2.314.874-3.574 1.44l-.426.187c-12.814 5.713-18.66 8.32-22.627 5.36a1.226 1.226 0 0 1-.493-1.147 1.18 1.18 0 0 1 .753-.966l7.487-3.167c1.92-.64 3.853-1.22 5.813-1.733 1.373-.254 2.807-.527 4.307-.807a1084.77 1084.77 0 0 1 8.393-1.553c.253.006.513-.02.76-.04.833.04 1.953.446 1.08 1.48Zm49.273 6.24c-.286 2.1-1.786 3.88-3.82 4.546l-23.12 7.554a7.146 7.146 0 0 0-.32-1.054 10.03 10.03 0 0 0-.366-.813c-.14-.267-.274-.507-.447-.78a.629.629 0 0 0-.793-.227.62.62 0 0 0-.3.827l.013.027c.1.206.207.46.287.693.086.24.16.48.226.72.06.24.107.48.134.707.013.133.013.266.013.393l-1.713.56c-.014-.087-.034-.167-.047-.253a9.751 9.751 0 0 0-.347-1.12 12.165 12.165 0 0 0-1.02-2.04.629.629 0 0 0-.806-.227.621.621 0 0 0-.28.833l.013.02c.14.28.28.607.4.914.12.313.227.633.313.953.087.32.154.633.2.947.02.16.034.313.034.466l-4.787 1.567c-.487.093-.973.12-1.373-.113-.3-.174-.527-.387-.78-.567a3.359 3.359 0 0 0-.68-.393 5.011 5.011 0 0 0-1.36-.374c-.454-.066-.894-.08-1.327-.066-.867.026-1.693.166-2.507.353-.4.093-.8.207-1.193.327-.4.126-.773.26-1.18.42-.3.12-.467.46-.36.773a.623.623 0 0 0 .787.4l.02-.007a18.556 18.556 0 0 1 2.22-.546 11.685 11.685 0 0 1 2.233-.2c.393.006.78.046 1.14.126.493.18 1.267.574.673.994-.073.053-.146.1-.213.146l-7.313 2.387a1.855 1.855 0 0 1-1.627-.233 1.885 1.885 0 0 1-.82-1.46c-.313-5.66 3.247-7.574 7.013-9.594 1.274-.686 2.574-1.38 3.68-2.24.92-.526 1.82-1.12 2.66-1.826.847-.707 1.627-1.534 2.247-2.5l.227-.367c.066-.127.133-.253.2-.387l.193-.386.153-.407c.047-.133.1-.273.147-.407l.107-.42c.033-.14.073-.28.1-.42l.06-.433c.153-1.147.02-2.287-.26-3.36a.628.628 0 0 0-.72-.46.626.626 0 0 0-.5.727l.006.02c.18.96.214 1.933.047 2.853a6.284 6.284 0 0 1-.48 1.507c-.027.053-.06.1-.087.14-.16.213-.5.526-.8.286-.146-.12-.173-.36-.206-.533-.014-.053-.02-.107-.034-.16-.34-5.167-6.046-8.26-14.453-11.367a.345.345 0 0 0-.073-.026c-2.514-.927-5.26-1.854-8.18-2.84-2.734-.92-5.56-1.874-8.54-2.94-.894-.32-1.767-.627-2.614-.927-3.933-1.387-7.286-2.573-9.926-3.873-.02-.014-.04-.02-.06-.034-4.394-2.173-6.814-4.693-6.68-9.06.013-.386.2-.733.513-.953.207-.147.453-.227.7-.227.127 0 .247.02.373.06l7.187 2.294c.087.046.167.1.247.153.526.353 0 .647-.387.787-.42.133-.867.213-1.327.253a9.225 9.225 0 0 1-2.173-.113 12.71 12.71 0 0 1-1.093-.234 10.87 10.87 0 0 1-1.054-.326l-.026-.014a.618.618 0 0 0-.767.307.63.63 0 0 0 .273.84c.4.207.774.347 1.174.493.393.147.793.26 1.206.36.82.2 1.674.307 2.547.287.44-.013.88-.06 1.32-.147a6.525 6.525 0 0 0 1.553-.553.42.42 0 0 0 .107-.04c.36-.213.72-.487 1.1-.66.58-.26.947-.173 1.5-.007.24.074.467.134.693.174l3.68 1.173c-.113.187-.226.38-.333.573-.12.227-.24.46-.353.694-.114.24-.22.466-.327.726a.625.625 0 0 0 .26.774c.3.173.68.073.853-.22l.014-.027c.106-.18.24-.393.366-.587.134-.193.267-.393.407-.58.213-.293.447-.573.687-.846l11.6 3.706c-.12.16-.24.327-.354.5-.16.24-.306.487-.44.747-.14.26-.253.5-.373.807a.618.618 0 0 0 .273.773c.3.173.68.067.847-.233l.02-.04a7.395 7.395 0 0 1 .847-1.18c.26-.307.546-.587.846-.84l1.994.64c-.24.286-.46.586-.667.893a10.82 10.82 0 0 0-1.08 1.98c-.12.293 0 .633.28.787.307.16.68.046.847-.254l.013-.026c.14-.26.32-.554.507-.82.186-.274.386-.534.6-.787a9.813 9.813 0 0 1 1.2-1.22l22.08 7.093a29.747 29.747 0 0 0 16.466.48l3.134-.8a5.65 5.65 0 0 1 5.786 1.934c3.107 3.86 4.327 8.473 3.62 13.7Zm-36.6.986c.007 0 .007.007.014.007-.007.007-.014.013-.014.02-.006-.007 0-.013 0-.027Z"
						></path>
						<path
							fill="#94A3B8"
							d="m187.7 134.247-15.914-10.607a2.074 2.074 0 0 1-.926-1.727V86.707a.834.834 0 0 0-.834-.834h-35.12a1.66 1.66 0 0 1-1.66-1.66V67.587a.833.833 0 0 0-.833-.834H90.226a1.66 1.66 0 0 1-1.66-1.66V48.467c0-.02-.006-.04-.006-.06 0-.034-.007-.06-.007-.094l-.02-.073c-.007-.027-.013-.053-.027-.08-.013-.027-.026-.047-.04-.073-.013-.02-.02-.047-.04-.067-.013-.027-.04-.047-.06-.073-.013-.014-.02-.034-.033-.047 0-.007-.007-.007-.007-.007-.02-.02-.046-.046-.073-.066-.013-.014-.033-.027-.047-.04a.704.704 0 0 0-.073-.04.31.31 0 0 0-.067-.034c-.02-.013-.046-.013-.066-.02-.027-.013-.06-.02-.087-.026-.02-.007-.04-.007-.06-.007-.033-.007-.067-.007-.1-.007h-57.78a.834.834 0 0 0-.833.834V81.18c0 .92-.747 1.66-1.66 1.66H19.726c-.053 0-.1.007-.153.013-.027.007-.047.014-.073.02a.378.378 0 0 0-.08.027l-.08.04c-.02.013-.047.02-.067.033a.764.764 0 0 0-.113.094c-.007 0-.007.006-.014.006-.006 0-.006.007-.006.014a.764.764 0 0 0-.094.113.315.315 0 0 0-.033.067c-.013.026-.027.046-.04.08-.013.026-.013.053-.027.086l-.02.067c-.013.053-.013.107-.013.167v20.466c0 .054.007.114.013.16.007.027.014.047.02.067.014.027.014.06.027.087l.04.08c.013.02.02.046.033.066a.961.961 0 0 0 .234.234c.02.013.046.02.066.033l.08.04c.027.013.054.02.087.027l.067.02a.72.72 0 0 0 .166.013h7.74c.92 0 1.66.747 1.66 1.66v6.687c0 .46.374.833.834.833H65.1c.92 0 1.66.747 1.66 1.66v16.627c0 .46.373.833.833.833h42.187c.92 0 1.66.747 1.66 1.66v16.613c0 .02.006.04.006.054 0 .033.007.066.007.093l.02.073c.007.027.013.054.027.08.013.027.02.047.04.074.013.026.02.046.04.073.013.027.04.047.053.073.013.014.02.034.04.047a.928.928 0 0 0 .093.08c.014.013.027.02.04.033.047.034.094.054.147.08.013.007.027.007.04.014l.12.04a.637.637 0 0 0 .153.013h57.78c.46 0 .834-.373.834-.833V139.38c0-.667.74-1.06 1.293-.693l8.707 5.8c.14.093.3.14.46.14a.84.84 0 0 0 .693-.374l3.987-5.98 1.933-2.9c.233-.36.127-.873-.253-1.126Zm-54.454-45.054c0-.92.747-1.66 1.66-1.66h32.627c.92 0 1.66.747 1.66 1.66v4.534c0 .92-.747 1.66-1.66 1.66h-32.627a1.66 1.66 0 0 1-1.66-1.66v-4.534Zm-46.34-36.86v12.76c0 .92-.746 1.66-1.66 1.66H71.753a.83.83 0 0 1-.573-1.433l14.326-13.587c.527-.506 1.4-.133 1.4.6ZM30.8 50.96c0-.92.746-1.66 1.66-1.66h51.106a.83.83 0 0 1 .574 1.433L78.266 56.3c-.386.367-.9.573-1.433.573H32.466a1.66 1.66 0 0 1-1.66-1.66V50.96H30.8Zm-8.054 33.527H37.2c.366 0 .553.446.293.706l-7.08 7.074c-.24.24-.64.24-.88 0l-7.073-7.074a.411.411 0 0 1 .286-.706Zm15.914 1.886c.26-.26.706-.08.706.294v14.446a.415.415 0 0 1-.706.294l-7.074-7.074a.628.628 0 0 1 0-.88l7.074-7.08Zm-18.094 14.734V86.66c0-.367.447-.553.707-.293l7.073 7.073c.24.24.24.64 0 .88l-7.066 7.08a.416.416 0 0 1-.714-.293Zm2.18 2.18a.415.415 0 0 1-.293-.707l7.073-7.073c.24-.24.64-.24.88 0l7.074 7.073c.26.26.08.707-.294.707h-14.44ZM67.013 66.98c-.007 0-.007.007-.007.007-.02.02-.046.046-.066.073-.014.013-.027.033-.04.047l-.04.08a.21.21 0 0 0-.034.066c-.013.02-.013.047-.026.074-.007.026-.02.053-.027.08-.007.02-.007.046-.007.066-.006.034-.006.067-.006.1v43.234c0 .92-.747 1.66-1.66 1.66H32.466a1.66 1.66 0 0 1-1.66-1.66v-4.194c0-.92.747-1.66 1.66-1.66H40.2c.053 0 .113-.006.166-.013l.067-.02c.027-.007.06-.013.087-.027l.08-.04c.02-.013.046-.02.066-.033a.95.95 0 0 0 .234-.233c.013-.02.02-.047.033-.067.013-.027.027-.047.04-.08.013-.027.013-.06.027-.087l.02-.066c.013-.054.013-.107.013-.16V83.66a1.42 1.42 0 0 0-.013-.167l-.02-.066c-.007-.027-.014-.06-.027-.087a29.814 29.814 0 0 1-.04-.08c-.013-.02-.02-.047-.033-.067a.763.763 0 0 0-.094-.113c0-.007-.006-.007-.006-.013-.007-.007-.007-.007-.014-.007a.763.763 0 0 0-.113-.093c-.02-.014-.047-.02-.067-.034a29.814 29.814 0 0 1-.08-.04c-.026-.013-.053-.013-.08-.026a1.046 1.046 0 0 0-.073-.02c-.047-.014-.1-.014-.153-.014H32.466a1.66 1.66 0 0 1-1.66-1.66v-20.98c0-.92.747-1.66 1.66-1.66h41.367c.753 0 1.113.914.573 1.434l-7.393 7.013Zm3.06 64.607a1.66 1.66 0 0 1-1.66-1.66V70.08c0-.92.747-1.66 1.66-1.66h59.847c.92 0 1.66.747 1.66 1.66v59.847c0 .92-.747 1.66-1.66 1.66H70.073Zm43.02 16.08v-12.76c0-.92.747-1.66 1.66-1.66h13.493a.83.83 0 0 1 .574 1.433l-14.327 13.587a.827.827 0 0 1-1.4-.6Zm56.107 1.373c0 .92-.747 1.66-1.66 1.66h-51.107a.83.83 0 0 1-.573-1.433l17.133-16.254c.007 0 .007-.006.007-.006.02-.02.04-.047.06-.074.013-.02.033-.033.046-.053.014-.02.027-.047.04-.073.014-.02.027-.047.04-.067.014-.02.014-.047.02-.067a.31.31 0 0 0 .027-.086c.007-.02.007-.04.007-.06.006-.034.006-.067.006-.1V98.713c0-.913.747-1.66 1.66-1.66h32.627c.92 0 1.66.747 1.66 1.66v21.64a.83.83 0 0 1-1.293.687l-6.66-4.44c-.04-.027-.087-.047-.134-.073-.013-.007-.02-.007-.026-.014l-.134-.04c-.013 0-.02 0-.033-.006-.013-.007-.033-.007-.053-.007l-11.32-1.133h-.04a.832.832 0 0 0-.667.273.478.478 0 0 0-.067.093l-.06.1c0 .007 0 .014-.006.014-.014.033-.027.06-.04.093 0 .007-.007.02-.007.027l-.02.08c0 .013-.007.033-.007.046 0 .02-.006.04-.006.06v.114c0 .02.006.046.013.073 0 .013 0 .027.007.04.006.027.013.047.02.073.006.014.006.02.013.034.007.026.02.046.033.073.007.007.007.02.014.027l.013.02 5.387 9.98c.006.006.013.013.013.02.02.04.047.073.08.113.013.013.02.027.033.04.04.047.087.087.147.12l13.867 9.247c.58.386.926 1.033.926 1.726v11.227h.014Zm-10.367-30.32-.673 1.007-2.054 3.086-.673 1.007a.529.529 0 0 1-.907-.047l-.84-1.56a1.75 1.75 0 0 1 .087-1.8l1.293-1.94c.36-.54.98-.833 1.627-.766l1.76.173c.393.06.6.513.38.84Zm22.76 23.18a.917.917 0 0 1-.753.407.899.899 0 0 1-.507-.154l-23.56-15.706a.912.912 0 0 1 .5-1.667.87.87 0 0 1 .5.153l23.56 15.707c.427.28.54.847.26 1.26Zm1.993-2.987c-.2.294-.526.454-.853.454a.997.997 0 0 1-.567-.174L158.8 123.62a1.025 1.025 0 0 1-.28-1.42c.2-.293.52-.453.846-.453.194 0 .394.053.567.173L183.3 137.5c.473.307.6.94.286 1.413Zm1.994-2.993a.919.919 0 0 1-.754.407.866.866 0 0 1-.5-.154l-23.566-15.706a.918.918 0 0 1-.254-1.26.904.904 0 0 1 1.26-.254l23.56 15.707c.42.28.534.84.254 1.26ZM185.467 50.947c-.1-.247-.214-.487-.32-.727-.054-.12-.107-.24-.167-.36l-.193-.347c-.487-.94-1.174-1.76-1.907-2.506a.633.633 0 0 0-.793-.08.63.63 0 0 0-.174.866l.027.047c.527.787 1.053 1.553 1.433 2.407l.154.313c.053.107.086.213.133.327l.26.646c.14.44.293.88.4 1.34.233.9.38 1.834.447 2.774l.04.706c0 .234.013.474.006.707 0 .233-.006.473-.02.707-.013.233-.026.48-.046.686l-.007.047a.62.62 0 0 0 1.22.213c.073-.28.127-.526.173-.786.047-.26.08-.52.114-.78.033-.26.04-.52.06-.78.013-.26.013-.52.013-.78a13.321 13.321 0 0 0-.4-3.114c-.1-.533-.287-1.026-.453-1.526Z"
						></path>
						<path
							fill="#94A3B8"
							d="M164.766 92.727a1.354 1.354 0 1 0 0-2.707 1.354 1.354 0 0 0 0 2.707ZM159.96 51.44l-.207-.453c-.08-.147-.153-.294-.24-.434a5.343 5.343 0 0 0-.273-.413c-.1-.14-.2-.26-.333-.407a.625.625 0 0 0-1.04.66l.033.08.153.36c.054.127.107.254.154.38.1.26.186.52.273.78.167.52.28 1.054.347 1.587.046.267.04.533.066.8-.013.267.007.533-.026.8-.027.54-.154 1.067-.274 1.613l-.013.06a.623.623 0 0 0 .32.68c.307.16.687.04.847-.266.306-.587.553-1.214.66-1.88.08-.327.086-.667.113-1.007 0-.333 0-.673-.047-1.007a7.3 7.3 0 0 0-.513-1.933ZM159.347 92.727a1.353 1.353 0 1 0 0-2.707 1.353 1.353 0 0 0 0 2.707ZM139.307 110.92a5.499 5.499 0 0 0 4.113.573c.047.007.1-.006.153-.026.64-.267 1.227-.227 1.82.02a4.82 4.82 0 0 0 2.014.733c.866.1 1.72-.013 2.506-.26.087-.027.18-.06.267-.087.18-.053.413-.126.587-.08.173.047.293.194.44.28.026.02.053.034.086.047.04.027.074.06.114.087.773.54 1.733.72 2.593.613a4.48 4.48 0 0 0 2.287-1.013.623.623 0 0 0 .14-.787.625.625 0 0 0-.847-.24l-.013.007c-.54.306-1.134.493-1.7.513-.474.02-.914-.08-1.28-.287-.08-.106-.134-.226-.107-.36a.463.463 0 0 1 .087-.173c.46-.38.88-.8 1.246-1.26.5-.62.92-1.3 1.247-2.02.32-.727.573-1.473.667-2.34.033-.433.033-.9-.12-1.413-.04-.127-.1-.26-.16-.387-.08-.127-.147-.253-.254-.373a1.753 1.753 0 0 0-.8-.56 2.016 2.016 0 0 0-.473-.107c-.08-.007-.153-.007-.233-.007-.08 0-.154.007-.22.014-.074.013-.147.02-.214.033l-.193.053c-.133.034-.247.094-.367.14-.46.22-.806.52-1.106.84-.594.647-.98 1.38-1.26 2.127a9.808 9.808 0 0 0-.547 2.293c-.093.787-.087 1.62.14 2.454.007.026.02.06.027.086-.18.08-.367.154-.554.207a4.324 4.324 0 0 1-1.76.18 3.223 3.223 0 0 1-.8-.22.977.977 0 0 1-.18-.273c-.1-.227.067-.46.187-.694.347-.406.66-.846.913-1.306l.147-.254.133-.26c.087-.173.174-.346.26-.526l.22-.54.107-.267.093-.273c.254-.714.447-1.46.58-2.234.127-.773.18-1.586.014-2.46l-.027-.16-.047-.166a6.136 6.136 0 0 0-.106-.334l-.147-.333c-.047-.113-.127-.22-.193-.327-.06-.113-.16-.213-.254-.313-.086-.107-.2-.2-.313-.287a1.778 1.778 0 0 0-.373-.233c-.127-.073-.274-.113-.42-.153-.594-.147-1.187-.027-1.64.193-.46.227-.827.527-1.127.86-.593.667-.96 1.427-1.22 2.193-.26.767-.393 1.547-.467 2.32-.073.774-.06 1.534 0 2.32a8.61 8.61 0 0 0 .327 1.694c.027.173.087.353.093.52.02.466-.126.68-.38.873a3.8 3.8 0 0 1-2.826-.387c-1.034-.586-1.754-1.666-2.047-2.88-.16-.606-.213-1.253-.213-1.906 0-.654.106-1.32.213-1.994l.007-.04a.634.634 0 0 0-.4-.686.62.62 0 0 0-.8.373c-.26.713-.474 1.467-.547 2.247a8.005 8.005 0 0 0 .12 2.386c.307 1.62 1.307 3.154 2.787 4.007Zm12.133-3.187c.08-.64.227-1.3.46-1.893.113-.3.247-.587.4-.853a4.44 4.44 0 0 1 .52-.714c.193-.206.407-.373.6-.46.193-.086.353-.1.393-.066.027.006.04.013.067.053.013.007.027.047.047.067.013.033.033.073.046.113.054.18.074.447.047.727-.027.286-.1.586-.187.886-.046.154-.1.307-.16.454l-.186.446a7.897 7.897 0 0 1-1.02 1.64c-.194.24-.407.46-.627.674l-.1.04c-.22.06-.307-.067-.34-.227-.013-.293 0-.593.04-.887Zm-6.707-3.153a8.48 8.48 0 0 1 .374-1.907c.2-.593.48-1.16.846-1.566.18-.207.38-.36.567-.454.187-.093.347-.106.453-.08.107.027.22.1.334.267.026.047.06.08.08.133.02.054.046.107.073.16.02.06.033.127.053.187l.027.093.02.1c.107.547.08 1.194-.02 1.84-.107.647-.273 1.3-.5 1.94l-.08.24-.093.234-.187.466-.213.447-.114.22-.126.207a6.83 6.83 0 0 1-.367.58c-.053.04-.1.08-.153.113-.074.06-.227.2-.32.233-.24.067-.36-.113-.46-.286a6.616 6.616 0 0 1-.2-1.174c-.034-.646-.054-1.333.006-1.993ZM153.927 92.727a1.353 1.353 0 1 0 0-2.707 1.353 1.353 0 0 0 0 2.707ZM152.606 131.813a.814.814 0 0 0-.4-.406c-.006-.007-.02-.007-.026-.014a.802.802 0 0 0-.54-.04l-12.134 3.06a.824.824 0 0 0-.5.367l-3.353 5.327-2.027 1.693a.831.831 0 0 0-.106 1.167l4.426 5.3c.14.166.347.273.56.293h.074c.193 0 .38-.067.533-.193l2.027-1.694 5.84-2.346c.2-.08.36-.234.446-.427l5.174-11.387a.846.846 0 0 0 .073-.486.761.761 0 0 0-.067-.214Zm-3.393 4.14-2.827 6.227a1.997 1.997 0 0 1-1.073 1.027l-3.567 1.433a1.165 1.165 0 0 1-1.326-.333l-2.567-3.074c-.32-.386-.36-.94-.093-1.366l2.046-3.254c.274-.433.7-.746 1.2-.873l6.634-1.673c.213-.054.353.22.18.36L144.74 137c-.46.38-1.007.613-1.587.76a1.36 1.36 0 0 0-.493.24c-.62.467-.727 1.393-.24 1.993.493.607 1.38.694 1.98.194a1.45 1.45 0 0 0 .393-.527c.253-.593.68-1.107 1.18-1.52l2.92-2.433c.167-.14.413.046.32.246ZM148.933 163.38c-.2-.093-.4-.14-.607-.173-.2-.034-.4-.04-.606-.034-.2.007-.4.02-.607.047-.2.033-.4.073-.607.153a.67.67 0 0 0 0 1.247c.2.08.4.12.607.16.2.033.4.047.607.047.2 0 .4-.007.606-.04.207-.034.4-.08.607-.174a.645.645 0 0 0 .333-.333.668.668 0 0 0-.333-.9ZM143.833 127.28c-.153-.013-.306-.02-.466-.027a11.934 11.934 0 0 0-.027-.46 10.275 10.275 0 0 0-.16-1.273.633.633 0 0 0-.5-.5.633.633 0 0 0-.747.5 12.064 12.064 0 0 0-.186 1.74c-.154.007-.314.013-.467.027a9.059 9.059 0 0 0-1.273.16.632.632 0 0 0-.5.5.64.64 0 0 0 .5.746c.426.08.846.127 1.273.16.153.014.307.014.46.027.007.153.013.307.027.467.033.426.08.846.166 1.273.054.24.24.44.494.493.34.074.68-.146.753-.493.087-.427.133-.847.167-1.273.013-.154.013-.307.026-.46.154-.007.307-.014.46-.027a8.296 8.296 0 0 0 1.274-.167c.24-.046.44-.24.493-.493a.633.633 0 0 0-.493-.753 10.465 10.465 0 0 0-1.274-.167ZM145.213 165.927a.65.65 0 0 0-.333-.334.69.69 0 0 0-.913.334c-.094.2-.14.4-.174.606-.026.2-.04.4-.033.607.007.2.02.4.047.607.033.2.073.4.153.606a.671.671 0 0 0 1.247 0c.08-.2.12-.4.16-.606.033-.2.046-.4.046-.607.007-.2-.006-.4-.04-.607a2.23 2.23 0 0 0-.16-.606ZM145.213 159.653a.69.69 0 0 0-1.246 0c-.094.2-.14.4-.174.607-.026.207-.04.407-.033.607.007.2.02.4.047.606.033.2.073.4.153.607a.67.67 0 0 0 1.247 0c.08-.2.12-.4.16-.607.033-.2.046-.4.046-.606.007-.2-.006-.4-.04-.607-.02-.2-.066-.407-.16-.607ZM144.167 179.893a3.625 3.625 0 0 0-.767-.173 6.066 6.066 0 0 0-.773-.04c-.254.007-.514.02-.767.047-.253.033-.513.08-.767.16a.654.654 0 0 0 0 1.246c.26.08.514.12.767.154.26.033.513.046.767.046.26.007.513-.006.773-.033.253-.033.513-.08.767-.173a.7.7 0 0 0 .4-.4.663.663 0 0 0-.4-.834ZM141.453 164.833c.2 0 .4-.006.607-.04.206-.033.4-.08.606-.173a.654.654 0 0 0 .334-.333.691.691 0 0 0-.334-.914c-.2-.093-.4-.14-.606-.173-.2-.033-.4-.04-.607-.033-.2.006-.4.02-.607.046a2.838 2.838 0 0 0-.606.154c-.16.066-.3.2-.374.373a.67.67 0 0 0 .374.873c.2.08.4.12.606.16.2.04.407.054.607.06ZM139.58 182.647a.66.66 0 0 0-1.247 0c-.093.26-.14.513-.173.766-.027.26-.04.514-.033.774.006.253.02.513.046.766.034.254.074.514.154.767a.651.651 0 0 0 1.246 0 5.4 5.4 0 0 0 .207-1.533 5.02 5.02 0 0 0-.04-.774 2.927 2.927 0 0 0-.16-.766ZM139.58 175.313a.7.7 0 0 0-.4-.4.662.662 0 0 0-.847.4c-.093.26-.14.514-.173.774-.027.253-.04.513-.033.766.006.254.02.514.046.767.034.253.074.513.154.767.066.193.22.36.426.426a.65.65 0 0 0 .82-.426c.08-.254.12-.514.16-.767a5.87 5.87 0 0 0 .047-.767 4.873 4.873 0 0 0-.04-.766c-.02-.26-.067-.52-.16-.774ZM136.833 179.893a3.617 3.617 0 0 0-.766-.173 6.082 6.082 0 0 0-.774-.04c-.253.007-.513.02-.766.047-.254.033-.514.08-.767.16a.654.654 0 0 0 0 1.246c.26.08.513.12.767.154.26.033.513.046.766.046.26.007.514-.006.774-.033.253-.033.513-.08.766-.173a.694.694 0 0 0 .4-.4.663.663 0 0 0-.4-.834ZM130.073 168.46a5.818 5.818 0 0 0-1-.173c-.333-.027-.667-.04-1-.034-.333.007-.667.02-1 .054a7.351 7.351 0 0 0-1 .153.643.643 0 0 0-.473.473c-.08.34.126.687.473.774.333.08.667.12 1 .153.333.033.667.047 1 .053.333.007.667-.013 1-.04.333-.033.667-.08 1-.173a.642.642 0 0 0 0-1.24ZM124.147 163.38a7.514 7.514 0 0 0-.154-1 .643.643 0 0 0-.473-.473.638.638 0 0 0-.773.473c-.08.333-.12.667-.154 1a10.14 10.14 0 0 0-.046 1c-.007.333.006.667.033 1 .033.333.08.667.173 1 .06.207.227.387.447.447.347.093.7-.107.8-.447.093-.333.14-.667.173-1 .027-.333.04-.667.034-1-.014-.333-.027-.667-.06-1ZM124.147 172.787a7.489 7.489 0 0 0-.154-1 .644.644 0 0 0-.473-.474.639.639 0 0 0-.773.474c-.08.333-.12.666-.154 1-.033.333-.046.666-.046 1-.007.333.006.666.033 1 .033.333.08.666.173 1 .06.206.227.386.447.453.347.093.7-.107.8-.453.093-.334.14-.667.173-1 .027-.334.04-.667.034-1-.014-.334-.027-.667-.06-1ZM120.666 168.46a5.801 5.801 0 0 0-1-.173c-.333-.027-.666-.04-1-.034-.333.007-.666.02-1 .054a7.375 7.375 0 0 0-1 .153.644.644 0 0 0-.473.473c-.08.34.127.687.473.774.334.08.667.12 1 .153.334.033.667.047 1 .053.334.007.667-.013 1-.04.334-.033.667-.08 1-.173a.65.65 0 0 0 .454-.447.652.652 0 0 0-.454-.793ZM92.746 154.687c-.24-.034-.24-.38 0-.414l6.034-.866a2.796 2.796 0 0 0 2.173-1.647 2.756 2.756 0 0 0-.24-2.693c-2.8-4.14-7.38-4.887-15.38-3.94-.24.026-.326-.307-.106-.4l2.633-1.114a2.833 2.833 0 0 0 1.766-2.293 2.885 2.885 0 0 0-1.14-2.693c-4.746-3.547-10.873-.814-24.3 5.173l-.426.193c-5.073 2.26-8.834 3.107-11.627 2.554-2.527-.5-4.247-2.907-3.8-5.44 0-.014.007-.027.007-.04.493-2.727 2.933-4.04 5.76-5.554 3.873-2.08 8.267-4.44 7.893-11.153a3.538 3.538 0 0 0-1.54-2.74 3.5 3.5 0 0 0-3.087-.44l-43.933 14.36c-2.64.86-4.58 3.18-4.946 5.9-.78 5.7.56 10.74 3.973 14.973a7.312 7.312 0 0 0 7.493 2.5l3.134-.806a28.087 28.087 0 0 1 15.546.453l56.387 18.013a2.87 2.87 0 0 0 2.533-.386c.773-.554 1.2-1.467 1.22-2.42.067-3.594-1.306-6.087-3.793-8.087-.16-.127-.06-.387.146-.367l6.987.674c.094.013.187.013.28.013a2.87 2.87 0 0 0 2.274-1.12c.606-.78.766-1.8.433-2.727-1.627-4.513-5.42-6.44-12.353-7.466Zm6.594-4.694c.22.327.26.727.093 1.094-.167.373-.487.62-.887.673l-11.44 1.64a43.537 43.537 0 0 1-4.653.28c-1.28.007-2.687-.227-4.02-.173-1.04-.054-2.12-.114-3.233-.167-2.78-.147-5.82-.3-9.114-.493-.44-.12-.913-.147-1.386-.214-.427-.133-.9-.166-1.387-.286-.367-.087-.913-.28-.92-.767-.007-.46.514-.693.86-.82.3-.107.6-.18.894-.28 2.033-.373 3.96-.74 5.78-1.08a783.05 783.05 0 0 1 7.4-1.367c.006 0 .013 0 .013-.006 12.947-2.3 18.88-2.647 22 1.966Zm-39.94-2.1c.073-.086.153-.166.24-.24.047-.033.1-.073.153-.106.36-.207.72-.407 1.087-.607 1.12-.4 2.306-.873 3.566-1.433l.427-.187c12.813-5.713 18.66-8.32 22.627-5.36.367.273.546.7.493 1.147a1.18 1.18 0 0 1-.753.966l-7.487 3.167a90.851 90.851 0 0 1-5.813 1.733c-1.373.254-2.807.527-4.307.807-2.573.487-5.367 1.007-8.386 1.553-.254-.006-.514.02-.76.04-.84-.04-1.96-.446-1.087-1.48Zm37.706 25.967c-.013.387-.2.733-.513.953a1.23 1.23 0 0 1-1.073.167l-6.733-2.147a2.53 2.53 0 0 0-.394-.153c-.28-.08-.58-.187-.373-.54.12-.2.353-.327.567-.427.386-.113.793-.18 1.206-.22a9.243 9.243 0 0 1 2.173.114c.367.06.727.14 1.094.233.36.093.733.207 1.053.327l.027.013a.617.617 0 0 0 .766-.307.63.63 0 0 0-.273-.84 9.934 9.934 0 0 0-1.173-.493 10.43 10.43 0 0 0-1.207-.36 9.79 9.79 0 0 0-2.546-.287c-.44.014-.88.06-1.32.147a6.49 6.49 0 0 0-1.294.427 5.672 5.672 0 0 0-.833.473c-.014.007-.02.013-.034.02-.793.467-1.513.427-2.393.28-.02-.007-.04-.007-.06-.007l-4.02-1.286c.114-.187.227-.38.334-.574.12-.226.24-.46.353-.693.113-.24.22-.467.326-.727a.623.623 0 0 0-1.113-.553l-.013.027c-.107.18-.24.393-.367.586-.133.194-.266.394-.406.58-.214.294-.447.574-.687.847l-11.6-3.707a9.222 9.222 0 0 0 .793-1.246c.14-.26.253-.5.373-.807a.617.617 0 0 0-.273-.773.614.614 0 0 0-.847.233l-.02.04c-.1.18-.246.407-.386.6-.147.2-.293.393-.46.58-.26.307-.547.587-.847.84l-1.993-.64c.24-.287.46-.587.666-.893.207-.307.4-.627.58-.954.18-.333.34-.646.494-1.026a.628.628 0 0 0-.28-.787.632.632 0 0 0-.847.253l-.013.027a9.998 9.998 0 0 1-1.107 1.607 9.961 9.961 0 0 1-1.2 1.22l-22.08-7.04c-2.947-.94-6-1.414-9.06-1.414-2.48 0-4.966.314-7.4.934l-3.133.806a5.65 5.65 0 0 1-5.787-1.933c-3.113-3.867-4.333-8.48-3.627-13.707.287-2.1 1.787-3.88 3.82-4.546l23.12-7.554c.08.374.194.72.32 1.054.114.28.234.553.367.813.14.267.273.507.447.78a.63.63 0 0 0 .793.227.621.621 0 0 0 .3-.827l-.013-.027c-.1-.206-.207-.46-.287-.693a9.96 9.96 0 0 1-.227-.72c-.06-.24-.106-.48-.133-.707-.013-.133-.013-.266-.013-.393l1.713-.56c.014.087.034.167.047.253.093.387.213.76.346 1.12a12.235 12.235 0 0 0 1.02 2.04.622.622 0 0 0 1.087-.606l-.013-.02c-.14-.28-.28-.607-.4-.914a9.926 9.926 0 0 1-.314-.953 8.267 8.267 0 0 1-.2-.947 3.744 3.744 0 0 1-.033-.466l3.747-1.227a.33.33 0 0 0 .22-.027c.806-.42 1.74-.44 2.533.014l.094.053c.306.293.66.533 1.033.693a5 5 0 0 0 1.36.374c.453.066.893.08 1.327.066.866-.026 1.693-.166 2.506-.353.4-.093.8-.207 1.194-.327.4-.126.773-.26 1.18-.42.3-.12.466-.46.36-.773a.622.622 0 0 0-.787-.4l-.02.007c-.707.226-1.473.406-2.22.546-.753.134-1.507.214-2.233.2a5.674 5.674 0 0 1-1.287-.16 1.248 1.248 0 0 1-.38-.366c-.254-.414.06-.654.413-.84.034-.02.067-.034.1-.054l6.86-2.24a1.854 1.854 0 0 1 1.627.234c.486.333.786.866.82 1.46.313 5.66-3.247 7.573-7.014 9.593-1.273.687-2.573 1.38-3.68 2.24-.92.527-1.826 1.12-2.66 1.827-.846.706-1.626 1.533-2.246 2.5l-.227.366c-.067.127-.133.254-.2.387l-.193.387-.154.406c-.046.134-.1.274-.146.407l-.107.42c-.033.14-.073.28-.1.42l-.06.433c-.153 1.147-.02 2.294.26 3.36a.625.625 0 0 0 1.22-.266l-.006-.02c-.18-.954-.214-1.92-.047-2.834.106-.5.233-1.106.7-1.406.373-.24.8-.007.933.393.013.14.033.28.053.42l.02.173c.007.047.02.087.034.134.953 4.593 6.447 7.493 14.313 10.4.027.006.053.02.08.026 2.513.927 5.26 1.854 8.18 2.84a453.4 453.4 0 0 1 8.534 2.94c.893.32 1.766.627 2.613.927 3.933 1.387 7.287 2.573 9.927 3.873.02.014.04.02.06.034 4.406 2.126 6.826 4.64 6.7 9.013Zm6.247-10.007c-.26.334-.653.507-1.08.467l-6.813-.653c-.753-.24-1.507-.247-2.3-.334-1.073-.12-2.107-.446-3.12-.813-1.18-.433-2.347-.893-3.553-1.2-1.7-.647-3.54-1.3-5.507-1.993-.847-.3-1.714-.607-2.607-.92a318.307 318.307 0 0 0-4.013-1.4 3.835 3.835 0 0 1-.433-.227c-.694-.433-.907-1.293.046-1.587a4.18 4.18 0 0 1 1.067-.186c.02 0 .046 0 .073.006 3.094.16 5.874.3 8.38.46.107.047.22.074.34.074.04 0 .08 0 .12-.007l.18-.027c12.047.787 17.507 1.994 19.394 7.2.153.387.086.807-.174 1.14ZM79.333 31.54c.334.093.667.14 1 .173.334.027.667.04 1 .034.334-.007.667-.02 1-.054a7.4 7.4 0 0 0 1-.153.645.645 0 0 0 .474-.473.645.645 0 0 0-.474-.774 7.4 7.4 0 0 0-1-.153 12.543 12.543 0 0 0-1-.053 10.07 10.07 0 0 0-1 .04c-.333.033-.666.08-1 .173a.65.65 0 0 0-.453.447c-.093.34.113.7.453.793ZM75.853 27.213a7.4 7.4 0 0 0 .154 1 .645.645 0 0 0 .473.474.639.639 0 0 0 .773-.474 7.4 7.4 0 0 0 .153-1c.034-.333.047-.666.047-1 .007-.333-.007-.666-.033-1a5.819 5.819 0 0 0-.174-1 .675.675 0 0 0-.446-.453.653.653 0 0 0-.8.453c-.094.334-.14.667-.174 1-.026.334-.04.667-.033 1 .013.334.027.667.06 1ZM75.853 36.62a7.4 7.4 0 0 0 .154 1 .645.645 0 0 0 .473.473.639.639 0 0 0 .773-.473 7.4 7.4 0 0 0 .153-1c.034-.333.047-.667.047-1 .007-.333-.007-.667-.033-1a5.819 5.819 0 0 0-.174-1 .654.654 0 0 0-.446-.447.655.655 0 0 0-.8.447c-.094.333-.14.667-.174 1-.026.333-.04.667-.033 1 .013.333.027.667.06 1ZM69.927 31.54c.333.093.666.14 1 .173.333.027.666.04 1 .034.333-.007.666-.02 1-.054a7.397 7.397 0 0 0 1-.153.645.645 0 0 0 .473-.473.645.645 0 0 0-.474-.774 7.397 7.397 0 0 0-1-.153 12.54 12.54 0 0 0-1-.053c-.333-.007-.666.013-1 .04a5.82 5.82 0 0 0-1 .173.642.642 0 0 0 0 1.24ZM63.167 20.107c.26.093.513.14.766.173.26.033.514.04.774.04.253-.007.513-.02.766-.047a4.49 4.49 0 0 0 .767-.16.654.654 0 0 0 0-1.247c-.26-.08-.513-.12-.767-.153a5.996 5.996 0 0 0-.766-.046 6.009 6.009 0 0 0-.774.033c-.253.033-.513.08-.766.173a.695.695 0 0 0-.4.4c-.12.327.06.707.4.834ZM63.4 98.44l-11.833-8.207a1.431 1.431 0 0 0-1.467-.093c-.467.24-.767.72-.767 1.247l-.166 14.4a1.422 1.422 0 0 0 2.073 1.286l2.167-1.12a.62.62 0 0 1 .84.267l1.54 2.98c.16.313.42.573.74.707.18.073.366.113.546.113.227 0 .447-.053.654-.16l4.02-2.08c.7-.36.973-1.22.613-1.92l-1.56-3.027a.621.621 0 0 1 .267-.84l2.113-1.093c.447-.233.773-.667.82-1.167.053-.513-.173-1-.6-1.293Zm-2.193 1.62-1.66.86c-.38.193-.647.54-.74.96-.074.34-.007.693.153 1.007l1.533 2.973c.16.307.04.687-.266.84l-2.494 1.287a.62.62 0 0 1-.84-.267l-1.56-3.027a1.423 1.423 0 0 0-1.92-.613l-1.66.86a.629.629 0 0 1-.913-.56l.133-11.347a.626.626 0 0 1 .98-.506l9.327 6.46c.38.273.34.853-.073 1.073ZM60.42 24.687a.66.66 0 0 0 1.247 0c.093-.26.14-.514.173-.774.027-.253.04-.513.033-.766a9.858 9.858 0 0 0-.046-.767 4.457 4.457 0 0 0-.154-.767.679.679 0 0 0-.426-.426.651.651 0 0 0-.82.426c-.08.254-.12.514-.16.767-.034.26-.047.513-.047.767-.007.26.007.513.04.766.02.26.067.52.16.774ZM60.42 17.353a.66.66 0 0 0 1.247 0c.093-.26.14-.513.173-.766.027-.26.04-.514.033-.774a9.858 9.858 0 0 0-.046-.766 4.457 4.457 0 0 0-.154-.767.679.679 0 0 0-.426-.427.651.651 0 0 0-.82.427c-.08.26-.12.513-.16.767-.034.26-.047.513-.047.766-.007.26.007.514.04.774.02.253.067.506.16.766ZM47.787 76.86c.34 0 .626.273.626.62v.86c0 .46.374.833.834.833h2.44c.46 0 .833-.373.833-.833v-.9c0-.34.273-.62.62-.627.38-.006.76-.006 1.14-.013 1.92-.02 3.84-.06 5.76-.22.32-.027.587-.3.573-.64-.006-.327-.28-.58-.6-.607-1.913-.16-3.826-.193-5.733-.213-.38-.007-.76-.013-1.14-.013a.629.629 0 0 1-.62-.627v-.9a.834.834 0 0 0-.833-.833h-2.44a.834.834 0 0 0-.834.833v.86c0 .347-.28.627-.626.62-1.68 0-3.36 0-5.04.013-1.92.014-3.84.007-5.76.26a.637.637 0 0 0-.547.667c.02.3.267.547.567.587 1.913.253 3.826.24 5.74.253 1.68.02 3.36.02 5.04.02ZM37.02 68.727c1.346.1 2.686.153 4.033.18.34.006.613.28.613.626v.947c0 .46.374.833.834.833h2.433c.46 0 .833-.373.833-.833v-.887c0-.346.28-.626.627-.626l2.127.006c1.92 0 3.84-.013 5.76-.033 1.92-.02 3.84-.053 5.76-.213.32-.027.586-.3.573-.647-.007-.32-.28-.58-.6-.607-1.913-.16-3.827-.193-5.733-.213-1.92-.02-3.84-.033-5.76-.033l-2.127.006a.622.622 0 0 1-.627-.626v-.887a.834.834 0 0 0-.833-.833h-2.44a.834.834 0 0 0-.833.833v.947c0 .34-.274.613-.614.626-1.353.027-2.706.08-4.06.18a.631.631 0 0 0-.58.647c.014.327.287.58.614.607ZM58.547 35.167c-.2 0-.4.006-.607.04-.2.033-.4.08-.607.173a.65.65 0 0 0-.333.333.69.69 0 0 0 .333.914c.2.093.4.14.607.173.2.033.4.04.607.033.2-.006.4-.02.606-.046a2.79 2.79 0 0 0 .607-.154.67.67 0 0 0 0-1.247c-.2-.08-.4-.12-.607-.16-.2-.04-.406-.053-.606-.06ZM55.833 20.107c.26.093.514.14.767.173.26.033.513.04.773.04.254-.007.514-.02.767-.047a4.49 4.49 0 0 0 .767-.16.654.654 0 0 0 0-1.247c-.26-.08-.514-.12-.767-.153a5.996 5.996 0 0 0-.767-.046 6.009 6.009 0 0 0-.773.033c-.254.033-.514.08-.767.173a.695.695 0 0 0-.4.4c-.12.327.06.707.4.834ZM54.787 40.347c.066.14.18.266.333.333a.69.69 0 0 0 .913-.333c.094-.2.14-.4.174-.607.026-.207.04-.407.033-.607-.007-.2-.02-.4-.047-.606-.033-.2-.073-.4-.153-.607a.67.67 0 0 0-1.247 0c-.08.2-.12.4-.16.607-.033.2-.046.4-.046.606-.007.2.006.4.04.607.02.2.066.407.16.607ZM54.787 34.073a.65.65 0 0 0 .333.334.69.69 0 0 0 .913-.334c.094-.2.14-.4.174-.606.026-.2.04-.4.033-.607-.007-.2-.02-.4-.047-.607-.033-.2-.073-.4-.153-.606a.67.67 0 0 0-1.247 0c-.08.2-.12.4-.16.606-.033.2-.046.4-.046.607-.007.2.006.4.04.607.02.2.066.4.16.606ZM51.066 36.62c.2.093.4.14.607.173.2.034.4.04.607.034.2-.007.4-.02.606-.047.2-.033.4-.073.607-.153a.67.67 0 0 0 0-1.247c-.2-.08-.4-.12-.607-.16-.2-.033-.4-.047-.606-.047-.2 0-.4.007-.607.04-.2.034-.4.08-.607.174a.65.65 0 0 0-.333.333.668.668 0 0 0 .333.9ZM53.126 85.88a.686.686 0 0 0-.966.073c-.134.154-.227.32-.307.487a3.5 3.5 0 0 0-.313 1.067c-.02.186-.027.373.006.58.027.146.1.293.22.4.287.253.72.233.98-.054.14-.153.234-.32.314-.486.08-.167.146-.34.193-.52.047-.18.087-.36.107-.547.02-.187.026-.373 0-.58a.7.7 0 0 0-.234-.42ZM49.333 89.107a.651.651 0 0 0 .567-.727 4.415 4.415 0 0 0-.207-.84 6.233 6.233 0 0 0-.313-.787 9.094 9.094 0 0 0-.4-.753 5.547 5.547 0 0 0-.493-.7.653.653 0 0 0-1.133.52c.04.293.12.567.206.833.087.267.193.534.307.787.113.26.246.507.393.753.147.24.307.48.5.7.147.16.353.247.573.214ZM47.653 90.073a2.57 2.57 0 0 0-.54-.333 3.53 3.53 0 0 0-.58-.207c-.193-.053-.4-.1-.6-.126a2.506 2.506 0 0 0-.633-.014.67.67 0 0 0-.347 1.193c.174.14.36.234.547.327a4.57 4.57 0 0 0 1.173.347c.207.027.414.04.634.013a.684.684 0 0 0 .347-1.2ZM46.02 54.293a1.353 1.353 0 1 0 0-2.706 1.353 1.353 0 0 0 0 2.706Z"
						></path>
						<path
							fill="#94A3B8"
							d="m42.106 149.527-.153-.36c-.053-.127-.107-.254-.153-.38-.1-.26-.187-.52-.274-.78a8.773 8.773 0 0 1-.346-1.587c-.047-.267-.04-.533-.067-.8.013-.267-.007-.533.027-.8.026-.54.153-1.067.273-1.613l.013-.06a.62.62 0 0 0-.32-.68.629.629 0 0 0-.846.266c-.307.587-.554 1.214-.66 1.88-.08.327-.087.667-.114 1.007 0 .333 0 .673.047 1.007.073.666.24 1.32.5 1.933l.207.453c.08.147.153.294.24.434.086.14.173.28.273.413.1.14.2.26.333.407a.625.625 0 0 0 1.04-.66l-.02-.08ZM40.607 54.293a1.353 1.353 0 1 0 0-2.706 1.353 1.353 0 0 0 0 2.706ZM35.18 54.293a1.353 1.353 0 1 0 0-2.706 1.353 1.353 0 0 0 0 2.706ZM18.053 152.173c-.526-.786-1.053-1.553-1.433-2.406l-.153-.314c-.054-.106-.087-.213-.134-.326l-.26-.647c-.14-.44-.293-.88-.4-1.34-.233-.9-.38-1.833-.446-2.773l-.04-.707c0-.233-.014-.473-.007-.707 0-.233.007-.473.02-.706.013-.234.027-.48.047-.687l.006-.047a.62.62 0 0 0-1.22-.213c-.073.28-.126.527-.173.787-.047.26-.08.52-.113.78-.034.26-.04.52-.06.78-.014.26-.014.52-.014.78.007 1.046.147 2.093.4 3.113.114.513.3 1.007.467 1.513.1.247.213.487.32.727.053.12.107.24.167.36l.193.347c.487.94 1.173 1.76 1.907 2.506.206.207.54.247.793.08a.63.63 0 0 0 .173-.866l-.04-.034Z"
						></path></svg
					><svg width="200" height="200" fill="none" class="hidden">
						<path
							fill="#3B82F6"
							d="M114.827 108.62a4.57 4.57 0 0 0-4.567-4.567 4.57 4.57 0 0 0-4.567 4.567 4.57 4.57 0 0 0 4.567 4.567 4.574 4.574 0 0 0 4.567-4.567ZM109.947 93.533a7.087 7.087 0 0 0-2.787-6.78l-.08-.06-.026.094c-.427 1.573-1.274 2.726-2.527 3.42l-.093.053.08.06a2.643 2.643 0 0 1 1.04 2.54 2.62 2.62 0 0 1-1.06 1.74 2.66 2.66 0 0 1-3.8-3.607l.06-.093-.114-.013c-1.386-.134-2.847-.614-4.127-1.34l-.066-.04-.034.066a7.18 7.18 0 0 0-.526 1.8 7.054 7.054 0 0 0 1.293 5.274 7.085 7.085 0 0 0 5.727 2.9c3.473.006 6.5-2.507 7.04-6.014ZM87.68 109.26l-.087-.047-.013.1c-.266 2.287-1.113 4.107-2.593 5.574l-.053.053.06.047a3.637 3.637 0 0 1 1.48 2.92 3.628 3.628 0 0 1-3.62 3.62 3.624 3.624 0 0 1-3.587-3.154l-.013-.086-.394.166c-2.046.867-3.98 1.694-5.193 3.047l-.027.033.013.04a9.89 9.89 0 0 0 3.58 4.487 9.866 9.866 0 0 0 5.62 1.747c2.42 0 4.747-.88 6.56-2.487l.034-.027-.014-.04c-.92-3.586.28-7.273 3.06-9.4l.034-.026-.007-.04a9.875 9.875 0 0 0-4.84-6.527Z"
						></path>
						<path
							fill="#3B82F6"
							d="M127.12 104.06c-1.467.587-3.267.22-4.693-.953-1.687-1.387-2.46-3.487-2.067-5.62.38-2.054 1.313-3.14 2.213-4.194.887-1.033 1.727-2.006 1.887-3.793l.007-.06-.06-.013c-3.52-.787-7.12.753-8.954 3.833a7.572 7.572 0 0 0-1.066 4.547c.146 1.753.893 3.413 2.213 4.933 2.813 3.24 3.48 7.193 1.753 10.32-1.626 2.94-4.96 4.407-8.686 3.827-.54-.08-1.06-.14-1.554-.174l-.346-.02.313.147c1.8.847 3.027 1.893 4.113 2.813 1.6 1.36 2.967 2.52 5.527 2.52 1.067 0 2.34-.2 3.927-.673 1.893-.56 4.186.367 5.446 2.207l.12.18v-19.854l-.093.027ZM74.287 103.567c2.966-.147 5.133-.9 6.626-2.307 1.26-1.26 1.16-2.467 1.06-3.753-.106-1.314-.213-2.674 1.26-4.14 1.474-1.474 2.834-1.36 4.147-1.26 1.28.1 2.493.2 3.753-1.06 1.26-1.26 1.16-2.474 1.06-3.754-.006-.106-.02-.22-.026-.326v-.04l-.034-.014c-1.8-.82-3.806-.733-6.313.254-1.367.54-3.053.366-4.507-.474-1.653-.953-2.766-2.6-3.06-4.526-.226-1.5.1-2.774.447-4.12.4-1.567.82-3.187.28-5.174l-.013-.046H74.22c-.727 0-1.313.586-1.313 1.313v28.12a1.317 1.317 0 0 0 1.313 1.313c.027 0 .047 0 .067-.006ZM99.067 76.847c.44.153.907.233 1.407.233.966 0 2.04-.293 3.2-.88l.033-.013.007-.034c.086-.66.12-1.366.08-2.086a1.312 1.312 0 0 0-1.314-1.24h-6.973l.04.093c.966 2.147 2.12 3.433 3.52 3.927ZM110.727 80.393a9.945 9.945 0 0 0 6.54 2.447 9.99 9.99 0 0 0 5.093-1.4l.053-.033-.033-.054c-1.16-2.073-2.333-5.226-1.387-8.44l.027-.086h-12.307c-.38 0-.74.166-.993.453a1.304 1.304 0 0 0-.307 1.06 9.949 9.949 0 0 0 3.314 6.053Z"
						></path>
						<path
							fill="#4338CA"
							d="M94.407 102.86a2.63 2.63 0 0 0-2.993 2.193 2.63 2.63 0 0 0 4.146 2.52 2.603 2.603 0 0 0 1.04-1.713 2.63 2.63 0 0 0-2.193-3ZM81.24 86.807c.913.526 1.927.8 2.894.8.6 0 1.193-.107 1.733-.32 2.473-.974 4.447-1.06 6.206-.26l.1.046-.006-.113c-.087-1.247-.06-2.473 1.287-3.813 1.466-1.467 2.826-1.36 4.146-1.26 1.28.1 2.493.2 3.747-1.06 1.28-1.054 2.1-2.68 2.366-4.687l.014-.127-.114.06c-1.753.887-3.226 1.094-4.5.64-1.366-.486-2.493-1.746-3.44-3.86l-.02-.04H78.827l.02.087c.527 1.953.113 3.553-.28 5.107-.333 1.3-.68 2.646-.447 4.173.293 1.973 1.433 3.66 3.12 4.627ZM121.607 121.366c-5.32 1.58-7.087.08-9.327-1.82-1.093-.926-2.327-1.973-4.14-2.826l-.013-.007h-.014c-3.586-.227-6.54.8-8.3 2.887-1.593 1.886-2.073 4.433-1.386 7.366.14.594.666 1.014 1.28 1.014H125.9c.727 0 1.313-.587 1.313-1.314v-3.026l-.013-.02c-1.293-1.887-3.647-2.834-5.593-2.254ZM82.86 108.006c-5.46 0-9.9 4.44-9.9 9.9 0 1.267.233 2.5.7 3.667l.04.1.073-.08c1.194-1.333 3.114-2.147 5.147-3.013l.36-.154-.007-.053a3.653 3.653 0 0 1-.033-.467 3.628 3.628 0 0 1 3.62-3.62c.78 0 1.52.24 2.14.7l.047.034.04-.04c1.5-1.487 2.36-3.334 2.633-5.654l.007-.046-.04-.02a9.904 9.904 0 0 0-4.827-1.254ZM122.3 81.473l.06-.033a9.913 9.913 0 0 0 4.76-7.127 1.299 1.299 0 0 0-.307-1.033 1.33 1.33 0 0 0-1-.453h-4.926l-.014.046c-.966 3.26.227 6.447 1.394 8.547l.033.053ZM126.5 90.166a9.643 9.643 0 0 0-2.087-.74l-.073-.013-.007.073c-.16 1.74-.986 2.7-1.86 3.72-.913 1.067-1.86 2.167-2.246 4.254-.407 2.186.386 4.333 2.113 5.746 1 .82 2.187 1.254 3.313 1.254.527 0 1.04-.094 1.514-.287l.04-.02V91.326a1.287 1.287 0 0 0-.707-1.16ZM92.5 115.68l-.08.066a8.6 8.6 0 0 0-2.973 4.274 9.489 9.489 0 0 0-.134 5.266l.027.107.08-.073a9.917 9.917 0 0 0 3.34-7.414c0-.713-.08-1.426-.233-2.126l-.027-.1ZM96.44 89.58l-.027.053.053.027c1.294.74 2.774 1.22 4.18 1.36l.04.007.02-.034a2.659 2.659 0 0 1 2.627-1.166c.433.066.84.24 1.187.493l.033.027.04-.02c1.287-.714 2.16-1.887 2.593-3.5l.014-.047-.034-.027a7.036 7.036 0 0 0-3.153-1.313 7.107 7.107 0 0 0-7.573 4.14Z"
						></path>
						<path
							fill="#64748B"
							d="M187.54 43.593a7.313 7.313 0 0 0-7.493-2.5l-3.134.807a28.089 28.089 0 0 1-15.546-.453L104.98 23.433a2.874 2.874 0 0 0-2.54.394 2.843 2.843 0 0 0-1.213 2.26c-.107 3.673 1.266 6.213 3.786 8.24.16.133.06.386-.146.366l-6.987-.673a2.88 2.88 0 0 0-2.553 1.107 2.86 2.86 0 0 0-.434 2.733c1.627 4.5 5.42 6.42 12.347 7.453.24.034.24.38 0 .414l-5.947.853c-.926.133-1.76.68-2.186 1.507-.474.92-.407 2 .166 2.846 2.107 3.114 5.214 4.307 10.027 4.307 1.587 0 3.367-.133 5.353-.367.24-.026.327.307.107.4l-2.633 1.114a2.833 2.833 0 0 0-1.767 2.293 2.886 2.886 0 0 0 1.14 2.693c1.447 1.08 3.02 1.58 4.893 1.58 4.267 0 10.074-2.586 19.407-6.753l.427-.193c5.073-2.26 8.833-3.107 11.626-2.554 2.527.5 4.247 2.907 3.8 5.44 0 .014-.006.027-.006.04-.494 2.727-2.934 4.04-5.76 5.554-3.874 2.08-8.267 4.44-7.894 11.153a3.538 3.538 0 0 0 3.52 3.353c.367 0 .74-.06 1.107-.173l43.933-14.36c2.64-.86 4.58-3.18 4.947-5.9.793-5.687-.547-10.727-3.96-14.967Zm-91.073-6.3a1.17 1.17 0 0 1 .18-1.146 1.19 1.19 0 0 1 1.08-.467l6.813.653c.753.24 1.507.247 2.3.334 1.073.12 2.107.446 3.12.813 1.18.433 2.34.893 3.547 1.2 1.7.647 3.54 1.3 5.506 1.993.847.3 1.714.6 2.607.92 1.367.487 2.707.954 4.02 1.407.147.067.293.14.433.227.694.433.907 1.293-.046 1.586a4.168 4.168 0 0 1-1.067.187c-.027 0-.047 0-.073-.007-3.087-.16-5.874-.3-8.38-.46a.774.774 0 0 0-.46-.066l-.18.026c-12.06-.786-17.52-1.993-19.4-7.2Zm12.806 16.32c-4.24 0-6.866-1.026-8.62-3.613a1.105 1.105 0 0 1-.093-1.093c.167-.374.487-.62.887-.674l11.433-1.64c1.547-.173 3.1-.273 4.66-.28 1.28-.006 2.687.227 4.02.174 1.04.053 2.12.113 3.233.166 2.78.147 5.82.3 9.114.494.44.12.913.146 1.386.213.427.133.9.167 1.387.287.367.086.913.28.92.766.007.46-.513.694-.86.82-.3.107-.6.18-.893.28-2.04.374-3.967.74-5.78 1.08-2.694.507-5.154.967-7.4 1.367-.007 0-.014 0-.014.007-5.7 1.013-10.04 1.646-13.38 1.646Zm31.327-1.506a1.994 1.994 0 0 1-.24.24c-.047.033-.1.073-.153.106-.354.207-.72.407-1.08.6-1.12.4-2.314.874-3.574 1.44l-.426.187c-12.814 5.713-18.66 8.32-22.627 5.36a1.226 1.226 0 0 1-.493-1.147 1.18 1.18 0 0 1 .753-.966l7.487-3.167a92.35 92.35 0 0 1 5.813-1.733c1.373-.254 2.807-.527 4.307-.807a1084.77 1084.77 0 0 1 8.393-1.553c.253.006.513-.02.76-.04.833.04 1.953.446 1.08 1.48Zm49.273 6.24c-.286 2.1-1.786 3.88-3.82 4.546l-23.12 7.554a7.146 7.146 0 0 0-.32-1.054 10.03 10.03 0 0 0-.366-.813c-.14-.267-.274-.507-.447-.78a.629.629 0 0 0-.793-.227.62.62 0 0 0-.3.827l.013.027c.1.206.207.46.287.693.086.24.16.48.226.72.06.24.107.48.134.707.013.133.013.266.013.393l-1.713.56c-.014-.087-.034-.167-.047-.253a9.75 9.75 0 0 0-.347-1.12 12.15 12.15 0 0 0-1.02-2.04.628.628 0 0 0-.806-.227.621.621 0 0 0-.28.833l.013.02c.14.28.28.607.4.914.12.313.227.633.313.953.087.32.154.633.2.947.02.16.034.313.034.466l-4.787 1.567c-.487.093-.973.12-1.373-.113-.3-.174-.527-.387-.78-.567a3.358 3.358 0 0 0-.68-.393 5.011 5.011 0 0 0-1.36-.374c-.454-.066-.894-.08-1.327-.066-.867.026-1.693.166-2.507.353-.4.093-.8.207-1.193.327-.4.126-.773.26-1.18.42-.3.12-.467.46-.36.773a.623.623 0 0 0 .787.4l.02-.007a18.536 18.536 0 0 1 2.22-.546 11.677 11.677 0 0 1 2.233-.2c.393.006.78.046 1.14.126.493.18 1.267.574.673.994-.073.053-.146.1-.213.146l-7.313 2.387a1.855 1.855 0 0 1-1.627-.233 1.885 1.885 0 0 1-.82-1.46c-.313-5.66 3.247-7.574 7.013-9.594 1.274-.686 2.574-1.38 3.68-2.24.92-.526 1.82-1.12 2.66-1.826.847-.707 1.627-1.534 2.247-2.5l.227-.367c.066-.127.133-.253.2-.387l.193-.386.153-.407c.047-.133.1-.273.147-.407l.107-.42c.033-.14.073-.28.1-.42l.06-.433c.153-1.147.02-2.287-.26-3.36a.628.628 0 0 0-.72-.46.626.626 0 0 0-.5.727l.006.02c.18.96.214 1.933.047 2.853a6.285 6.285 0 0 1-.48 1.507c-.027.053-.06.1-.087.14-.16.213-.5.526-.8.286-.146-.12-.173-.36-.206-.533-.014-.053-.02-.107-.034-.16-.34-5.167-6.046-8.26-14.453-11.367a.339.339 0 0 0-.073-.026c-2.514-.927-5.26-1.854-8.18-2.84a464.26 464.26 0 0 1-8.54-2.94c-.894-.32-1.767-.627-2.614-.927-3.933-1.387-7.286-2.573-9.926-3.873-.02-.014-.04-.02-.06-.034-4.394-2.173-6.814-4.693-6.68-9.06.013-.386.2-.733.513-.953.207-.147.453-.227.7-.227.127 0 .247.02.373.06l7.187 2.294c.087.046.167.1.247.153.526.353 0 .647-.387.787-.42.133-.867.213-1.327.253a9.225 9.225 0 0 1-2.173-.113c-.367-.06-.727-.14-1.093-.234a10.87 10.87 0 0 1-1.054-.326l-.026-.014a.618.618 0 0 0-.767.307.63.63 0 0 0 .273.84c.4.207.774.347 1.174.493.393.147.793.26 1.206.36.82.2 1.674.307 2.547.287.44-.013.88-.06 1.32-.147a6.531 6.531 0 0 0 1.553-.553.42.42 0 0 0 .107-.04c.36-.213.72-.487 1.1-.66.58-.26.947-.173 1.5-.007.24.074.467.134.693.174l3.68 1.173c-.113.187-.226.38-.333.573-.12.227-.24.46-.353.694-.114.24-.22.466-.327.726a.625.625 0 0 0 .26.774c.3.173.68.073.853-.22l.014-.027c.106-.18.24-.393.366-.587.134-.193.267-.393.407-.58.213-.293.447-.573.687-.846l11.6 3.706c-.12.16-.24.327-.354.5-.16.24-.306.487-.44.747-.14.26-.253.5-.373.807a.618.618 0 0 0 .273.773c.3.173.68.067.847-.233l.02-.04a7.376 7.376 0 0 1 .847-1.18c.26-.307.546-.587.846-.84l1.994.64c-.24.286-.46.586-.667.893a10.85 10.85 0 0 0-1.08 1.98c-.12.293 0 .633.28.787.307.16.68.046.847-.254l.013-.026c.14-.26.32-.554.507-.82.186-.274.386-.534.6-.787a9.82 9.82 0 0 1 1.2-1.22l22.08 7.093a29.746 29.746 0 0 0 16.466.48l3.134-.8a5.65 5.65 0 0 1 5.786 1.934c3.107 3.86 4.327 8.473 3.62 13.7Zm-36.6.986c.007 0 .007.007.014.007-.007.007-.014.013-.014.02-.006-.007 0-.013 0-.027Z"
						></path>
						<path
							fill="#64748B"
							d="m187.7 134.247-15.914-10.607a2.074 2.074 0 0 1-.926-1.727V86.707a.834.834 0 0 0-.834-.834h-35.12a1.66 1.66 0 0 1-1.66-1.66V67.587a.833.833 0 0 0-.833-.834H90.226a1.66 1.66 0 0 1-1.66-1.66V48.467c0-.02-.006-.04-.006-.06 0-.034-.007-.06-.007-.094l-.02-.073c-.007-.027-.013-.053-.027-.08-.013-.027-.026-.047-.04-.073-.013-.02-.02-.047-.04-.067-.013-.027-.04-.047-.06-.073-.013-.014-.02-.034-.033-.047 0-.007-.007-.007-.007-.007-.02-.02-.046-.046-.073-.066-.013-.014-.033-.027-.047-.04a.704.704 0 0 0-.073-.04.31.31 0 0 0-.067-.034c-.02-.013-.046-.013-.066-.02-.027-.013-.06-.02-.087-.026-.02-.007-.04-.007-.06-.007-.033-.007-.067-.007-.1-.007h-57.78a.834.834 0 0 0-.833.834V81.18c0 .92-.747 1.66-1.66 1.66H19.726c-.053 0-.1.007-.153.013-.027.007-.047.014-.073.02a.378.378 0 0 0-.08.027l-.08.04c-.02.013-.047.02-.067.033a.764.764 0 0 0-.113.094c-.007 0-.007.006-.014.006-.006 0-.006.007-.006.014a.764.764 0 0 0-.094.113.315.315 0 0 0-.033.067c-.013.026-.027.046-.04.08-.013.026-.013.053-.027.086l-.02.067c-.013.053-.013.107-.013.167v20.466c0 .054.007.114.013.16.007.027.014.047.02.067.014.027.014.06.027.087l.04.08c.013.02.02.046.033.066a.961.961 0 0 0 .234.234c.02.013.046.02.066.033l.08.04c.027.013.054.02.087.027l.067.02a.72.72 0 0 0 .166.013h7.74c.92 0 1.66.747 1.66 1.66v6.687c0 .46.374.833.834.833H65.1c.92 0 1.66.747 1.66 1.66v16.627c0 .46.373.833.833.833h42.187c.92 0 1.66.747 1.66 1.66v16.613c0 .02.006.04.006.054 0 .033.007.066.007.093l.02.073c.007.027.013.054.027.08.013.027.02.047.04.074.013.026.02.046.04.073.013.027.04.047.053.073.013.014.02.034.04.047a.928.928 0 0 0 .093.08c.014.013.027.02.04.033.047.034.094.054.147.08.013.007.027.007.04.014l.12.04a.637.637 0 0 0 .153.013h57.78c.46 0 .834-.373.834-.833V139.38c0-.667.74-1.06 1.293-.693l8.707 5.8c.14.093.3.14.46.14a.84.84 0 0 0 .693-.374l3.987-5.98 1.933-2.9c.233-.36.127-.873-.253-1.126Zm-54.454-45.054c0-.92.747-1.66 1.66-1.66h32.627c.92 0 1.66.747 1.66 1.66v4.534c0 .92-.747 1.66-1.66 1.66h-32.627a1.66 1.66 0 0 1-1.66-1.66v-4.534Zm-46.34-36.86v12.76c0 .92-.746 1.66-1.66 1.66H71.753a.83.83 0 0 1-.573-1.433l14.326-13.587c.527-.506 1.4-.133 1.4.6ZM30.8 50.96c0-.92.746-1.66 1.66-1.66h51.106a.83.83 0 0 1 .574 1.433L78.266 56.3c-.386.367-.9.573-1.433.573H32.466a1.66 1.66 0 0 1-1.66-1.66V50.96H30.8Zm-8.054 33.527H37.2c.366 0 .553.446.293.706l-7.08 7.074c-.24.24-.64.24-.88 0l-7.073-7.074a.411.411 0 0 1 .286-.706Zm15.914 1.886c.26-.26.706-.08.706.294v14.446a.415.415 0 0 1-.706.294l-7.074-7.074a.628.628 0 0 1 0-.88l7.074-7.08Zm-18.094 14.734V86.66c0-.367.447-.553.707-.293l7.073 7.073c.24.24.24.64 0 .88l-7.066 7.08a.416.416 0 0 1-.714-.293Zm2.18 2.18a.415.415 0 0 1-.293-.707l7.073-7.073c.24-.24.64-.24.88 0l7.074 7.073c.26.26.08.707-.294.707h-14.44ZM67.013 66.98c-.007 0-.007.007-.007.007-.02.02-.046.046-.066.073-.014.013-.027.033-.04.047l-.04.08a.21.21 0 0 0-.034.066c-.013.02-.013.047-.026.074-.007.026-.02.053-.027.08-.007.02-.007.046-.007.066-.006.034-.006.067-.006.1v43.234c0 .92-.747 1.66-1.66 1.66H32.466a1.66 1.66 0 0 1-1.66-1.66v-4.194c0-.92.747-1.66 1.66-1.66H40.2c.053 0 .113-.006.166-.013l.067-.02c.027-.007.06-.013.087-.027l.08-.04c.02-.013.046-.02.066-.033a.95.95 0 0 0 .234-.233c.013-.02.02-.047.033-.067.013-.027.027-.047.04-.08.013-.027.013-.06.027-.087l.02-.066c.013-.054.013-.107.013-.16V83.66a1.42 1.42 0 0 0-.013-.167l-.02-.066c-.007-.027-.014-.06-.027-.087a29.814 29.814 0 0 1-.04-.08c-.013-.02-.02-.047-.033-.067a.763.763 0 0 0-.094-.113c0-.007-.006-.007-.006-.013-.007-.007-.007-.007-.014-.007a.763.763 0 0 0-.113-.093c-.02-.014-.047-.02-.067-.034a29.814 29.814 0 0 1-.08-.04c-.026-.013-.053-.013-.08-.026a1.046 1.046 0 0 0-.073-.02c-.047-.014-.1-.014-.153-.014H32.466a1.66 1.66 0 0 1-1.66-1.66v-20.98c0-.92.747-1.66 1.66-1.66h41.367c.753 0 1.113.914.573 1.434l-7.393 7.013Zm3.06 64.607a1.66 1.66 0 0 1-1.66-1.66V70.08c0-.92.747-1.66 1.66-1.66h59.847c.92 0 1.66.747 1.66 1.66v59.847c0 .92-.747 1.66-1.66 1.66H70.073Zm43.02 16.08v-12.76c0-.92.747-1.66 1.66-1.66h13.493a.83.83 0 0 1 .574 1.433l-14.327 13.587a.827.827 0 0 1-1.4-.6Zm56.107 1.373c0 .92-.747 1.66-1.66 1.66h-51.107a.83.83 0 0 1-.573-1.433l17.133-16.254c.007 0 .007-.006.007-.006.02-.02.04-.047.06-.074.013-.02.033-.033.046-.053.014-.02.027-.047.04-.073.014-.02.027-.047.04-.067.014-.02.014-.047.02-.067a.31.31 0 0 0 .027-.086c.007-.02.007-.04.007-.06.006-.034.006-.067.006-.1V98.713c0-.913.747-1.66 1.66-1.66h32.627c.92 0 1.66.747 1.66 1.66v21.64a.83.83 0 0 1-1.293.687l-6.66-4.44c-.04-.027-.087-.047-.134-.073-.013-.007-.02-.007-.026-.014l-.134-.04c-.013 0-.02 0-.033-.006-.013-.007-.033-.007-.053-.007l-11.32-1.133h-.04a.832.832 0 0 0-.667.273.478.478 0 0 0-.067.093l-.06.1c0 .007 0 .014-.006.014-.014.033-.027.06-.04.093 0 .007-.007.02-.007.027l-.02.08c0 .013-.007.033-.007.046 0 .02-.006.04-.006.06v.114c0 .02.006.046.013.073 0 .013 0 .027.007.04.006.027.013.047.02.073.006.014.006.02.013.034.007.026.02.046.033.073.007.007.007.02.014.027l.013.02 5.387 9.98c.006.006.013.013.013.02.02.04.047.073.08.113.013.013.02.027.033.04.04.047.087.087.147.12l13.867 9.247c.58.386.926 1.033.926 1.726v11.227h.014Zm-10.367-30.32-.673 1.007-2.054 3.086-.673 1.007a.529.529 0 0 1-.907-.047l-.84-1.56a1.75 1.75 0 0 1 .087-1.8l1.293-1.94c.36-.54.98-.833 1.627-.766l1.76.173c.393.06.6.513.38.84Zm22.76 23.18a.917.917 0 0 1-.753.407.899.899 0 0 1-.507-.154l-23.56-15.706a.912.912 0 0 1 .5-1.667.87.87 0 0 1 .5.153l23.56 15.707c.427.28.54.847.26 1.26Zm1.993-2.987c-.2.294-.526.454-.853.454a.997.997 0 0 1-.567-.174L158.8 123.62a1.025 1.025 0 0 1-.28-1.42c.2-.293.52-.453.846-.453.194 0 .394.053.567.173L183.3 137.5c.473.307.6.94.286 1.413Zm1.994-2.993a.919.919 0 0 1-.754.407.866.866 0 0 1-.5-.154l-23.566-15.706a.918.918 0 0 1-.254-1.26.904.904 0 0 1 1.26-.254l23.56 15.707c.42.28.534.84.254 1.26ZM185.467 50.947c-.1-.247-.214-.487-.32-.727-.054-.12-.107-.24-.167-.36l-.193-.346c-.487-.94-1.174-1.76-1.907-2.507a.634.634 0 0 0-.793-.08.63.63 0 0 0-.174.867l.027.046c.527.787 1.053 1.553 1.433 2.407l.154.313c.053.107.086.213.133.327l.26.646c.14.44.293.88.4 1.34.233.9.38 1.834.447 2.774l.04.706c0 .234.013.474.006.707 0 .233-.006.473-.02.707-.013.233-.026.48-.046.686l-.007.047a.62.62 0 0 0 1.22.214c.073-.28.127-.527.173-.787.047-.26.08-.52.114-.78.033-.26.04-.52.06-.78.013-.26.013-.52.013-.78a13.322 13.322 0 0 0-.4-3.114c-.1-.533-.287-1.026-.453-1.526Z"
						></path>
						<path
							fill="#64748B"
							d="M164.766 92.727a1.354 1.354 0 1 0 0-2.707 1.354 1.354 0 0 0 0 2.707ZM159.96 51.44l-.207-.453c-.08-.147-.153-.294-.24-.434a5.322 5.322 0 0 0-.273-.413c-.1-.14-.2-.26-.333-.407a.625.625 0 0 0-1.04.66l.033.08.153.36c.054.127.107.254.154.38.1.26.186.52.273.78.167.52.28 1.054.347 1.587.046.267.04.534.066.8-.013.267.007.533-.026.8-.027.54-.154 1.067-.274 1.614l-.013.06a.623.623 0 0 0 .32.68c.307.16.687.04.847-.267.306-.587.553-1.214.66-1.88.08-.327.086-.667.113-1.007 0-.333 0-.673-.047-1.007a7.298 7.298 0 0 0-.513-1.933ZM159.347 92.727a1.353 1.353 0 1 0 0-2.707 1.353 1.353 0 0 0 0 2.707ZM139.307 110.92a5.499 5.499 0 0 0 4.113.573c.047.007.1-.006.153-.026.64-.267 1.227-.227 1.82.02a4.82 4.82 0 0 0 2.014.733c.866.1 1.72-.013 2.506-.26.087-.027.18-.06.267-.087.18-.053.413-.126.587-.08.173.047.293.194.44.28.026.02.053.034.086.047.04.027.074.06.114.087.773.54 1.733.72 2.593.613a4.48 4.48 0 0 0 2.287-1.013.623.623 0 0 0 .14-.787.625.625 0 0 0-.847-.24l-.013.007c-.54.306-1.134.493-1.7.513-.474.02-.914-.08-1.28-.287-.08-.106-.134-.226-.107-.36a.463.463 0 0 1 .087-.173c.46-.38.88-.8 1.246-1.26.5-.62.92-1.3 1.247-2.02.32-.727.573-1.473.667-2.34.033-.433.033-.9-.12-1.413-.04-.127-.1-.26-.16-.387-.08-.127-.147-.253-.254-.373a1.753 1.753 0 0 0-.8-.56 2.016 2.016 0 0 0-.473-.107c-.08-.007-.153-.007-.233-.007-.08 0-.154.007-.22.014-.074.013-.147.02-.214.033l-.193.053c-.133.034-.247.094-.367.14-.46.22-.806.52-1.106.84-.594.647-.98 1.38-1.26 2.127a9.808 9.808 0 0 0-.547 2.293c-.093.787-.087 1.62.14 2.454.007.026.02.06.027.086-.18.08-.367.154-.554.207a4.324 4.324 0 0 1-1.76.18 3.223 3.223 0 0 1-.8-.22.977.977 0 0 1-.18-.273c-.1-.227.067-.46.187-.694.347-.406.66-.846.913-1.306l.147-.254.133-.26c.087-.173.174-.346.26-.526l.22-.54.107-.267.093-.273c.254-.714.447-1.46.58-2.234.127-.773.18-1.586.014-2.46l-.027-.16-.047-.166a6.136 6.136 0 0 0-.106-.334l-.147-.333c-.047-.113-.127-.22-.193-.327-.06-.113-.16-.213-.254-.313-.086-.107-.2-.2-.313-.287a1.778 1.778 0 0 0-.373-.233c-.127-.073-.274-.113-.42-.153-.594-.147-1.187-.027-1.64.193-.46.227-.827.527-1.127.86-.593.667-.96 1.427-1.22 2.193-.26.767-.393 1.547-.467 2.32-.073.774-.06 1.534 0 2.32a8.61 8.61 0 0 0 .327 1.694c.027.173.087.353.093.52.02.466-.126.68-.38.873a3.8 3.8 0 0 1-2.826-.387c-1.034-.586-1.754-1.666-2.047-2.88-.16-.606-.213-1.253-.213-1.906 0-.654.106-1.32.213-1.994l.007-.04a.634.634 0 0 0-.4-.686.62.62 0 0 0-.8.373c-.26.713-.474 1.467-.547 2.247a8.005 8.005 0 0 0 .12 2.386c.307 1.62 1.307 3.154 2.787 4.007Zm12.133-3.187c.08-.64.227-1.3.46-1.893.113-.3.247-.587.4-.853a4.44 4.44 0 0 1 .52-.714c.193-.206.407-.373.6-.46.193-.086.353-.1.393-.066.027.006.04.013.067.053.013.007.027.047.047.067.013.033.033.073.046.113.054.18.074.447.047.727-.027.286-.1.586-.187.886-.046.154-.1.307-.16.454l-.186.446a7.897 7.897 0 0 1-1.02 1.64c-.194.24-.407.46-.627.674l-.1.04c-.22.06-.307-.067-.34-.227-.013-.293 0-.593.04-.887Zm-6.707-3.153a8.48 8.48 0 0 1 .374-1.907c.2-.593.48-1.16.846-1.566.18-.207.38-.36.567-.454.187-.093.347-.106.453-.08.107.027.22.1.334.267.026.047.06.08.08.133.02.054.046.107.073.16.02.06.033.127.053.187l.027.093.02.1c.107.547.08 1.194-.02 1.84-.107.647-.273 1.3-.5 1.94l-.08.24-.093.234-.187.466-.213.447-.114.22-.126.207a6.83 6.83 0 0 1-.367.58c-.053.04-.1.08-.153.113-.074.06-.227.2-.32.233-.24.067-.36-.113-.46-.286a6.616 6.616 0 0 1-.2-1.174c-.034-.646-.054-1.333.006-1.993ZM153.927 92.727a1.353 1.353 0 1 0 0-2.707 1.353 1.353 0 0 0 0 2.707ZM152.606 131.813a.814.814 0 0 0-.4-.406c-.006-.007-.02-.007-.026-.014a.802.802 0 0 0-.54-.04l-12.134 3.06a.824.824 0 0 0-.5.367l-3.353 5.327-2.027 1.693a.831.831 0 0 0-.106 1.167l4.426 5.3c.14.166.347.273.56.293h.074c.193 0 .38-.067.533-.193l2.027-1.694 5.84-2.346c.2-.08.36-.234.446-.427l5.174-11.387a.846.846 0 0 0 .073-.486.761.761 0 0 0-.067-.214Zm-3.393 4.14-2.827 6.227a1.997 1.997 0 0 1-1.073 1.027l-3.567 1.433a1.165 1.165 0 0 1-1.326-.333l-2.567-3.074c-.32-.386-.36-.94-.093-1.366l2.046-3.254c.274-.433.7-.746 1.2-.873l6.634-1.673c.213-.054.353.22.18.36L144.74 137c-.46.38-1.007.613-1.587.76a1.36 1.36 0 0 0-.493.24c-.62.467-.727 1.393-.24 1.993.493.607 1.38.694 1.98.194a1.45 1.45 0 0 0 .393-.527c.253-.593.68-1.107 1.18-1.52l2.92-2.433c.167-.14.413.046.32.246ZM148.933 163.38c-.2-.093-.4-.14-.607-.173-.2-.034-.4-.04-.606-.034-.2.007-.4.02-.607.047-.2.033-.4.073-.607.153a.67.67 0 0 0 0 1.247c.2.08.4.12.607.16.2.033.4.047.607.047.2 0 .4-.007.606-.04.207-.034.4-.08.607-.174a.645.645 0 0 0 .333-.333.668.668 0 0 0-.333-.9ZM143.833 127.28a9.84 9.84 0 0 0-.466-.026 11.703 11.703 0 0 0-.027-.46 10.267 10.267 0 0 0-.16-1.274.636.636 0 0 0-1.247 0 12.05 12.05 0 0 0-.186 1.74c-.154.007-.314.014-.467.027a9.209 9.209 0 0 0-1.273.16.633.633 0 0 0-.5.5c-.067.34.16.68.5.747.426.08.846.126 1.273.16.153.013.307.013.46.026.007.154.013.307.027.467.033.427.08.847.166 1.273a.637.637 0 0 0 1.247 0c.087-.426.133-.846.167-1.273.013-.153.013-.307.026-.46.154-.007.307-.013.46-.027a8.294 8.294 0 0 0 1.274-.166c.24-.047.44-.24.493-.494a.634.634 0 0 0-.493-.753 10.666 10.666 0 0 0-1.274-.167ZM145.213 165.927a.65.65 0 0 0-.333-.334.69.69 0 0 0-.913.334c-.094.2-.14.4-.174.606-.026.2-.04.4-.033.607.007.2.02.4.047.607.033.2.073.4.153.606a.671.671 0 0 0 1.247 0c.08-.2.12-.4.16-.606.033-.2.046-.4.046-.607.007-.2-.006-.4-.04-.607a2.23 2.23 0 0 0-.16-.606ZM145.213 159.653a.69.69 0 0 0-1.246 0c-.094.2-.14.4-.174.607-.026.207-.04.407-.033.607.007.2.02.4.047.606.033.2.073.4.153.607a.67.67 0 0 0 1.247 0c.08-.2.12-.4.16-.607.033-.2.046-.4.046-.606.007-.2-.006-.4-.04-.607-.02-.2-.066-.407-.16-.607ZM144.167 179.894a3.629 3.629 0 0 0-.767-.174 6.066 6.066 0 0 0-.773-.04c-.254.007-.514.02-.767.047-.253.033-.513.08-.767.16a.654.654 0 0 0 0 1.247c.26.08.514.12.767.153.26.033.513.047.767.047.26.006.513-.007.773-.034.253-.033.513-.08.767-.173a.7.7 0 0 0 .4-.4.661.661 0 0 0-.4-.833ZM141.453 164.834c.2 0 .4-.007.607-.04.206-.034.4-.08.606-.174a.65.65 0 0 0 .334-.333.69.69 0 0 0-.334-.913c-.2-.094-.4-.14-.606-.174-.2-.033-.4-.04-.607-.033-.2.007-.4.02-.607.047a2.777 2.777 0 0 0-.606.153.71.71 0 0 0-.374.373c-.14.34.027.734.374.874.2.08.4.12.606.16.2.04.407.053.607.06ZM139.58 182.647a.66.66 0 0 0-1.247 0c-.093.26-.14.513-.173.766-.027.26-.04.514-.033.774.006.253.02.513.046.766.034.254.074.514.154.767a.651.651 0 0 0 1.246 0 5.4 5.4 0 0 0 .207-1.533 5.02 5.02 0 0 0-.04-.774 2.927 2.927 0 0 0-.16-.766ZM139.58 175.314a.66.66 0 0 0-1.247 0c-.093.26-.14.513-.173.773-.027.253-.04.513-.033.767.006.253.02.513.046.766.034.254.074.514.154.767a.651.651 0 0 0 1.246 0c.08-.253.12-.513.16-.767.034-.26.047-.513.047-.766a4.885 4.885 0 0 0-.04-.767c-.02-.26-.067-.52-.16-.773ZM136.833 179.894a3.62 3.62 0 0 0-.766-.174 6.082 6.082 0 0 0-.774-.04c-.253.007-.513.02-.766.047-.254.033-.514.08-.767.16a.655.655 0 0 0 0 1.247c.26.08.513.12.767.153.26.033.513.047.766.047.26.006.514-.007.774-.034.253-.033.513-.08.766-.173a.694.694 0 0 0 .4-.4.661.661 0 0 0-.4-.833ZM130.073 168.46a5.818 5.818 0 0 0-1-.173 9.826 9.826 0 0 0-1-.033c-.333.006-.667.02-1 .053a7.351 7.351 0 0 0-1 .153.646.646 0 0 0-.473.474c-.08.34.126.686.473.773.333.08.667.12 1 .153a10.448 10.448 0 0 0 2 .014 5.82 5.82 0 0 0 1-.174.644.644 0 0 0 0-1.24ZM124.147 163.38a7.514 7.514 0 0 0-.154-1 .643.643 0 0 0-.473-.473.638.638 0 0 0-.773.473c-.08.333-.12.667-.154 1a10.14 10.14 0 0 0-.046 1c-.007.333.006.667.033 1 .033.333.08.667.173 1 .06.207.227.387.447.447.347.093.7-.107.8-.447.093-.333.14-.667.173-1 .027-.333.04-.667.034-1-.014-.333-.027-.667-.06-1ZM124.147 172.787a7.514 7.514 0 0 0-.154-1 .643.643 0 0 0-.473-.473.638.638 0 0 0-.773.473c-.08.333-.12.667-.154 1a10.14 10.14 0 0 0-.046 1c-.007.333.006.667.033 1 .033.333.08.667.173 1 .06.207.227.387.447.453.347.094.7-.106.8-.453.093-.333.14-.667.173-1 .027-.333.04-.667.034-1-.014-.333-.027-.667-.06-1ZM120.666 168.46a5.801 5.801 0 0 0-1-.173 9.817 9.817 0 0 0-1-.033c-.333.006-.666.02-1 .053a7.375 7.375 0 0 0-1 .153.647.647 0 0 0-.473.474c-.08.34.127.686.473.773.334.08.667.12 1 .153a10.435 10.435 0 0 0 2 .014c.334-.034.667-.08 1-.174a.651.651 0 0 0 .454-.446.653.653 0 0 0-.454-.794ZM92.746 154.687c-.24-.034-.24-.38 0-.414l6.034-.866a2.796 2.796 0 0 0 2.173-1.647 2.756 2.756 0 0 0-.24-2.693c-2.8-4.14-7.38-4.887-15.38-3.94-.24.026-.326-.307-.106-.4l2.633-1.114a2.833 2.833 0 0 0 1.766-2.293 2.885 2.885 0 0 0-1.14-2.693c-4.746-3.547-10.873-.814-24.3 5.173l-.426.193c-5.073 2.26-8.834 3.107-11.627 2.554-2.527-.5-4.247-2.907-3.8-5.44 0-.014.007-.027.007-.04.493-2.727 2.933-4.04 5.76-5.554 3.873-2.08 8.267-4.44 7.893-11.153a3.538 3.538 0 0 0-1.54-2.74 3.5 3.5 0 0 0-3.087-.44l-43.933 14.36c-2.64.86-4.58 3.18-4.946 5.9-.78 5.7.56 10.74 3.973 14.973a7.312 7.312 0 0 0 7.493 2.5l3.134-.806a28.087 28.087 0 0 1 15.546.453l56.387 18.013a2.87 2.87 0 0 0 2.533-.386c.773-.554 1.2-1.467 1.22-2.42.067-3.594-1.306-6.087-3.793-8.087-.16-.127-.06-.387.146-.367l6.987.674c.094.013.187.013.28.013a2.87 2.87 0 0 0 2.274-1.12c.606-.78.766-1.8.433-2.727-1.627-4.513-5.42-6.44-12.353-7.466Zm6.594-4.694c.22.327.26.727.093 1.094-.167.373-.487.62-.887.673l-11.44 1.64a43.537 43.537 0 0 1-4.653.28c-1.28.007-2.687-.227-4.02-.173-1.04-.054-2.12-.114-3.233-.167-2.78-.147-5.82-.3-9.114-.493-.44-.12-.913-.147-1.386-.214-.427-.133-.9-.166-1.387-.286-.367-.087-.913-.28-.92-.767-.007-.46.514-.693.86-.82.3-.107.6-.18.894-.28 2.033-.373 3.96-.74 5.78-1.08a783.05 783.05 0 0 1 7.4-1.367c.006 0 .013 0 .013-.006 12.947-2.3 18.88-2.647 22 1.966Zm-39.94-2.1c.073-.086.153-.166.24-.24.047-.033.1-.073.153-.106.36-.207.72-.407 1.087-.607 1.12-.4 2.306-.873 3.566-1.433l.427-.187c12.813-5.713 18.66-8.32 22.627-5.36.367.273.546.7.493 1.147a1.18 1.18 0 0 1-.753.966l-7.487 3.167a90.851 90.851 0 0 1-5.813 1.733c-1.373.254-2.807.527-4.307.807-2.573.487-5.367 1.007-8.386 1.553-.254-.006-.514.02-.76.04-.84-.04-1.96-.446-1.087-1.48Zm37.706 25.967c-.013.387-.2.733-.513.953a1.23 1.23 0 0 1-1.073.167l-6.733-2.147a2.53 2.53 0 0 0-.394-.153c-.28-.08-.58-.187-.373-.54.12-.2.353-.327.567-.427.386-.113.793-.18 1.206-.22a9.243 9.243 0 0 1 2.173.114c.367.06.727.14 1.094.233.36.093.733.207 1.053.327l.027.013a.617.617 0 0 0 .766-.307.63.63 0 0 0-.273-.84 9.934 9.934 0 0 0-1.173-.493 10.43 10.43 0 0 0-1.207-.36 9.79 9.79 0 0 0-2.546-.287c-.44.014-.88.06-1.32.147a6.49 6.49 0 0 0-1.294.427 5.672 5.672 0 0 0-.833.473c-.014.007-.02.013-.034.02-.793.467-1.513.427-2.393.28-.02-.007-.04-.007-.06-.007l-4.02-1.286c.114-.187.227-.38.334-.574.12-.226.24-.46.353-.693.113-.24.22-.467.326-.727a.623.623 0 0 0-1.113-.553l-.013.027c-.107.18-.24.393-.367.586-.133.194-.266.394-.406.58-.214.294-.447.574-.687.847l-11.6-3.707a9.222 9.222 0 0 0 .793-1.246c.14-.26.253-.5.373-.807a.617.617 0 0 0-.273-.773.614.614 0 0 0-.847.233l-.02.04c-.1.18-.246.407-.386.6-.147.2-.293.393-.46.58-.26.307-.547.587-.847.84l-1.993-.64c.24-.287.46-.587.666-.893.207-.307.4-.627.58-.954.18-.333.34-.646.494-1.026a.628.628 0 0 0-.28-.787.632.632 0 0 0-.847.253l-.013.027a9.998 9.998 0 0 1-1.107 1.607 9.961 9.961 0 0 1-1.2 1.22l-22.08-7.04c-2.947-.94-6-1.414-9.06-1.414-2.48 0-4.966.314-7.4.934l-3.133.806a5.65 5.65 0 0 1-5.787-1.933c-3.113-3.867-4.333-8.48-3.627-13.707.287-2.1 1.787-3.88 3.82-4.546l23.12-7.554c.08.374.194.72.32 1.054.114.28.234.553.367.813.14.267.273.507.447.78a.63.63 0 0 0 .793.227.621.621 0 0 0 .3-.827l-.013-.027c-.1-.206-.207-.46-.287-.693a9.96 9.96 0 0 1-.227-.72c-.06-.24-.106-.48-.133-.707-.013-.133-.013-.266-.013-.393l1.713-.56c.014.087.034.167.047.253.093.387.213.76.346 1.12a12.235 12.235 0 0 0 1.02 2.04.622.622 0 0 0 1.087-.606l-.013-.02c-.14-.28-.28-.607-.4-.914a9.926 9.926 0 0 1-.314-.953 8.267 8.267 0 0 1-.2-.947 3.744 3.744 0 0 1-.033-.466l3.747-1.227a.33.33 0 0 0 .22-.027c.806-.42 1.74-.44 2.533.014l.094.053c.306.293.66.533 1.033.693a5 5 0 0 0 1.36.374c.453.066.893.08 1.327.066.866-.026 1.693-.166 2.506-.353.4-.093.8-.207 1.194-.327.4-.126.773-.26 1.18-.42.3-.12.466-.46.36-.773a.622.622 0 0 0-.787-.4l-.02.007c-.707.226-1.473.406-2.22.546-.753.134-1.507.214-2.233.2a5.674 5.674 0 0 1-1.287-.16 1.248 1.248 0 0 1-.38-.366c-.254-.414.06-.654.413-.84.034-.02.067-.034.1-.054l6.86-2.24a1.854 1.854 0 0 1 1.627.234c.486.333.786.866.82 1.46.313 5.66-3.247 7.573-7.014 9.593-1.273.687-2.573 1.38-3.68 2.24-.92.527-1.826 1.12-2.66 1.827-.846.706-1.626 1.533-2.246 2.5l-.227.366c-.067.127-.133.254-.2.387l-.193.387-.154.406c-.046.134-.1.274-.146.407l-.107.42c-.033.14-.073.28-.1.42l-.06.433c-.153 1.147-.02 2.294.26 3.36a.625.625 0 0 0 1.22-.266l-.006-.02c-.18-.954-.214-1.92-.047-2.834.106-.5.233-1.106.7-1.406.373-.24.8-.007.933.393.013.14.033.28.053.42l.02.173c.007.047.02.087.034.134.953 4.593 6.447 7.493 14.313 10.4.027.006.053.02.08.026 2.513.927 5.26 1.854 8.18 2.84a453.4 453.4 0 0 1 8.534 2.94c.893.32 1.766.627 2.613.927 3.933 1.387 7.287 2.573 9.927 3.873.02.014.04.02.06.034 4.406 2.126 6.826 4.64 6.7 9.013Zm6.247-10.007c-.26.334-.653.507-1.08.467l-6.813-.653c-.753-.24-1.507-.247-2.3-.334-1.073-.12-2.107-.446-3.12-.813-1.18-.433-2.347-.893-3.553-1.2-1.7-.647-3.54-1.3-5.507-1.993-.847-.3-1.714-.607-2.607-.92a318.307 318.307 0 0 0-4.013-1.4 3.835 3.835 0 0 1-.433-.227c-.694-.433-.907-1.293.046-1.587a4.18 4.18 0 0 1 1.067-.186c.02 0 .046 0 .073.006 3.094.16 5.874.3 8.38.46.107.047.22.074.34.074.04 0 .08 0 .12-.007l.18-.027c12.047.787 17.507 1.994 19.394 7.2.153.387.086.807-.174 1.14ZM79.333 31.54c.334.093.667.14 1 .173.334.027.667.04 1 .034.334-.007.667-.02 1-.054a7.4 7.4 0 0 0 1-.153.645.645 0 0 0 .474-.473.645.645 0 0 0-.474-.774 7.4 7.4 0 0 0-1-.153 12.543 12.543 0 0 0-1-.053 10.07 10.07 0 0 0-1 .04c-.333.033-.666.08-1 .173a.65.65 0 0 0-.453.447c-.093.34.113.7.453.793ZM75.853 27.213c.034.334.074.667.154 1a.645.645 0 0 0 .473.474.639.639 0 0 0 .773-.474c.08-.333.12-.666.153-1 .034-.333.047-.666.047-1 .007-.333-.007-.666-.033-1a5.82 5.82 0 0 0-.174-1 .676.676 0 0 0-.446-.453.653.653 0 0 0-.8.453 5.82 5.82 0 0 0-.174 1c-.026.334-.04.667-.033 1 .013.334.027.667.06 1ZM75.853 36.62a7.4 7.4 0 0 0 .154 1 .645.645 0 0 0 .473.473.639.639 0 0 0 .773-.473 7.4 7.4 0 0 0 .153-1c.034-.333.047-.667.047-1 .007-.333-.007-.667-.033-1a5.819 5.819 0 0 0-.174-1 .654.654 0 0 0-.446-.447.655.655 0 0 0-.8.447c-.094.333-.14.667-.174 1-.026.333-.04.667-.033 1 .013.333.027.667.06 1ZM69.927 31.54c.333.093.666.14 1 .173.333.027.666.04 1 .034.333-.007.666-.02 1-.054a7.397 7.397 0 0 0 1-.153.645.645 0 0 0 .473-.473.645.645 0 0 0-.474-.774 7.397 7.397 0 0 0-1-.153 12.54 12.54 0 0 0-1-.053c-.333-.007-.666.013-1 .04a5.82 5.82 0 0 0-1 .173.642.642 0 0 0 0 1.24ZM63.167 20.107c.26.093.513.14.766.173.26.033.514.04.774.04.253-.007.513-.02.766-.047a4.48 4.48 0 0 0 .767-.16.654.654 0 0 0 0-1.247c-.26-.08-.513-.12-.767-.153a5.996 5.996 0 0 0-.766-.046 6.009 6.009 0 0 0-.774.033c-.253.033-.513.08-.766.173a.695.695 0 0 0-.4.4c-.12.327.06.707.4.834ZM63.4 98.44l-11.833-8.207a1.431 1.431 0 0 0-1.467-.093c-.467.24-.767.72-.767 1.247l-.166 14.4a1.422 1.422 0 0 0 2.073 1.286l2.167-1.12a.62.62 0 0 1 .84.267l1.54 2.98c.16.313.42.573.74.707.18.073.366.113.546.113.227 0 .447-.053.654-.16l4.02-2.08c.7-.36.973-1.22.613-1.92l-1.56-3.027a.621.621 0 0 1 .267-.84l2.113-1.093c.447-.233.773-.667.82-1.167.053-.513-.173-1-.6-1.293Zm-2.193 1.62-1.66.86c-.38.193-.647.54-.74.96-.074.34-.007.693.153 1.007l1.533 2.973c.16.307.04.687-.266.84l-2.494 1.287a.62.62 0 0 1-.84-.267l-1.56-3.027a1.423 1.423 0 0 0-1.92-.613l-1.66.86a.629.629 0 0 1-.913-.56l.133-11.347a.626.626 0 0 1 .98-.506l9.327 6.46c.38.273.34.853-.073 1.073ZM60.42 24.687a.66.66 0 0 0 1.247 0c.093-.26.14-.514.173-.774.027-.253.04-.513.033-.766a9.858 9.858 0 0 0-.046-.767 4.457 4.457 0 0 0-.154-.767.679.679 0 0 0-.426-.426.651.651 0 0 0-.82.426c-.08.254-.12.514-.16.767-.034.26-.047.513-.047.767-.007.26.007.513.04.766.02.26.067.52.16.774ZM60.42 17.353a.66.66 0 0 0 1.247 0c.093-.26.14-.513.173-.766.027-.26.04-.514.033-.774a9.853 9.853 0 0 0-.046-.766 4.456 4.456 0 0 0-.154-.767.68.68 0 0 0-.426-.427.651.651 0 0 0-.82.427 5.414 5.414 0 0 0-.207 1.533c-.007.26.007.514.04.774.02.253.067.506.16.766ZM47.787 76.86c.34 0 .626.273.626.62v.86c0 .46.374.834.834.834h2.44c.46 0 .833-.374.833-.834v-.9c0-.34.273-.62.62-.626.38-.007.76-.007 1.14-.014 1.92-.02 3.84-.06 5.76-.22.32-.026.587-.3.573-.64-.006-.326-.28-.58-.6-.606-1.913-.16-3.826-.194-5.733-.214-.38-.007-.76-.013-1.14-.013a.629.629 0 0 1-.62-.627v-.9a.834.834 0 0 0-.833-.833h-2.44a.834.834 0 0 0-.834.833v.86c0 .347-.28.627-.626.62-1.68 0-3.36 0-5.04.013-1.92.014-3.84.007-5.76.26a.637.637 0 0 0-.547.667c.02.3.267.547.567.587 1.913.253 3.826.24 5.74.253 1.68.02 3.36.02 5.04.02ZM37.02 68.727c1.346.1 2.686.153 4.033.18.34.006.613.28.613.626v.947c0 .46.374.833.834.833h2.433c.46 0 .833-.373.833-.833v-.887c0-.346.28-.626.627-.626l2.127.006c1.92 0 3.84-.013 5.76-.033 1.92-.02 3.84-.053 5.76-.213.32-.027.586-.3.573-.647-.007-.32-.28-.58-.6-.607-1.913-.16-3.827-.193-5.733-.213-1.92-.02-3.84-.033-5.76-.033l-2.127.006a.622.622 0 0 1-.627-.626v-.887a.834.834 0 0 0-.833-.833h-2.44a.834.834 0 0 0-.833.833v.947c0 .34-.274.613-.614.626a75.19 75.19 0 0 0-4.06.18.631.631 0 0 0-.58.647c.014.327.287.58.614.607ZM58.547 35.167c-.2 0-.4.006-.607.04-.2.033-.4.08-.607.173a.65.65 0 0 0-.333.333.69.69 0 0 0 .333.914c.2.093.4.14.607.173.2.033.4.04.607.033.2-.006.4-.02.606-.046a2.79 2.79 0 0 0 .607-.154.67.67 0 0 0 0-1.247c-.2-.08-.4-.12-.607-.16-.2-.04-.406-.053-.606-.06ZM55.833 20.107c.26.093.514.14.767.173.26.033.513.04.773.04.254-.007.514-.02.767-.047a4.48 4.48 0 0 0 .767-.16.654.654 0 0 0 0-1.247c-.26-.08-.514-.12-.767-.153a5.996 5.996 0 0 0-.767-.046 6.009 6.009 0 0 0-.773.033c-.254.033-.514.08-.767.173a.695.695 0 0 0-.4.4c-.12.327.06.707.4.834ZM54.787 40.347c.066.14.18.267.333.333a.69.69 0 0 0 .913-.333c.094-.2.14-.4.174-.607.026-.207.04-.407.033-.607-.007-.2-.02-.4-.047-.606-.033-.2-.073-.4-.153-.607a.67.67 0 0 0-1.247 0c-.08.2-.12.4-.16.607-.033.2-.046.4-.046.606-.007.2.006.4.04.607.02.2.066.407.16.607ZM54.787 34.073a.65.65 0 0 0 .333.334.69.69 0 0 0 .913-.334c.094-.2.14-.4.174-.606.026-.2.04-.4.033-.607-.007-.2-.02-.4-.047-.607-.033-.2-.073-.4-.153-.606a.67.67 0 0 0-1.247 0c-.08.2-.12.4-.16.606-.033.2-.046.4-.046.607-.007.2.006.4.04.607.02.2.066.4.16.606ZM51.066 36.62c.2.093.4.14.607.173.2.034.4.04.607.034.2-.007.4-.02.606-.047.2-.033.4-.073.607-.153a.67.67 0 0 0 0-1.247c-.2-.08-.4-.12-.607-.16-.2-.033-.4-.047-.606-.047-.2 0-.4.007-.607.04-.2.034-.4.08-.607.174a.65.65 0 0 0-.333.333.668.668 0 0 0 .333.9ZM53.126 85.88a.686.686 0 0 0-.966.074 2.12 2.12 0 0 0-.307.486 3.497 3.497 0 0 0-.313 1.067c-.02.186-.027.373.006.58a.695.695 0 0 0 1.2.347c.14-.154.234-.32.314-.487.08-.167.146-.34.193-.52.047-.18.087-.36.107-.547.02-.186.026-.373 0-.58a.7.7 0 0 0-.234-.42ZM49.333 89.107a.651.651 0 0 0 .567-.727 4.415 4.415 0 0 0-.207-.84 6.233 6.233 0 0 0-.313-.787 9.094 9.094 0 0 0-.4-.753 5.547 5.547 0 0 0-.493-.7.653.653 0 0 0-1.133.52c.04.293.12.567.206.833.087.267.193.534.307.787.113.26.246.507.393.753.147.24.307.48.5.7.147.16.353.247.573.214ZM47.653 90.073a2.57 2.57 0 0 0-.54-.333 3.53 3.53 0 0 0-.58-.207c-.193-.053-.4-.1-.6-.126a2.506 2.506 0 0 0-.633-.014.67.67 0 0 0-.347 1.193c.174.14.36.234.547.327a4.57 4.57 0 0 0 1.173.347c.207.027.414.04.634.013a.684.684 0 0 0 .347-1.2ZM46.02 54.293a1.353 1.353 0 1 0 0-2.706 1.353 1.353 0 0 0 0 2.706Z"
						></path>
						<path
							fill="#64748B"
							d="m42.106 149.527-.153-.36c-.053-.127-.107-.253-.153-.38-.1-.26-.187-.52-.274-.78a8.755 8.755 0 0 1-.346-1.587c-.047-.266-.04-.533-.067-.8.013-.266-.007-.533.027-.8.026-.54.153-1.066.273-1.613l.013-.06a.622.622 0 0 0-.32-.68.628.628 0 0 0-.846.267c-.307.586-.554 1.213-.66 1.88-.08.326-.087.666-.114 1.006 0 .334 0 .674.047 1.007.073.667.24 1.32.5 1.933l.207.454c.08.146.153.293.24.433.086.14.173.28.273.413.1.14.2.26.333.407a.625.625 0 0 0 1.04-.66l-.02-.08ZM40.607 54.293a1.353 1.353 0 1 0 0-2.706 1.353 1.353 0 0 0 0 2.706ZM35.18 54.293a1.353 1.353 0 1 0 0-2.706 1.353 1.353 0 0 0 0 2.706ZM18.053 152.173c-.526-.786-1.053-1.553-1.433-2.406l-.153-.314c-.054-.106-.087-.213-.134-.326l-.26-.647c-.14-.44-.293-.88-.4-1.34-.233-.9-.38-1.833-.446-2.773l-.04-.707c0-.233-.014-.473-.007-.707 0-.233.007-.473.02-.706.013-.234.027-.48.047-.687l.006-.047a.62.62 0 0 0-1.22-.213c-.073.28-.126.527-.173.787-.047.26-.08.52-.113.78-.034.26-.04.52-.06.78-.014.26-.014.52-.014.78.007 1.046.147 2.093.4 3.113.114.513.3 1.007.467 1.513.1.247.213.487.32.727.053.12.107.24.167.36l.193.347c.487.94 1.173 1.76 1.907 2.506.206.207.54.247.793.08a.63.63 0 0 0 .173-.866l-.04-.034Z"
						></path>
					</svg>
				</div>
				<div class="flex flex-col items-center gap-6">
					<div class="flex flex-col items-center max-w-lg gap-2">
						<div
							class="text-base font-semibold text-center font-heading md:text-xl sm:text-lg text-slate-700"
						>
							You haven't bookmarked any articles yet
						</div>
						<div class="text-sm text-center text-slate-500 sm:text-base">
							Found an article that sparks your interest or a tutorial you want to read later? Click
							on the bookmark icon next to the posts and start building your personal library.
						</div>
					</div>
					<a
						class="rounded-full flex bg-blue-600 hover:bg-blue-500 text-white border-transparent focus:ring focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 disabled:bg-blue-200 disabled:cursor-not-allowed text-sm py-2.5 px-5"
						href="/"
					>
						Find articles to bookmark
					</a>
				</div>
			</div>
		</div>
	</div>
</section>

<%- include("../components/loggedNav", {bookmarksActive: '#1565D8'}); %> <%-
include("../components/loggedFooter"); %>
