<!DOCTYPE html>
<html lang="en" data-theme="mytheme">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Blog App Home</title>
		<!-- Main Css File -->
		<link rel="stylesheet" href="./stylesheets/style.css" />
		<!-- Remix Icons Library -->
		<link
			href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
			rel="stylesheet"
		/>
		<!-- Favicons -->
		<link rel="apple-touch-icon" sizes="180x180" href="./images/favicon_io/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="./images/favicon_io/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="./images/favicon_io/favicon-16x16.png" />
		<link rel="manifest" href="./images/favicon_io/site.webmanifest" />
		<!-- Main JS File -->
		<script src="./javascripts/main.js" defer></script>
	</head>
	<body>
		<div class="flex flex-col min-h-screen overflow-hidden font-roboto">
			<div class="container px-5 py-4 mx-auto navbar bg-base-100">
				<div class="flex-1">
					<a class="text-xl normal-case btn btn-ghost hover:bg-transparent">
						<img src="./images/Logo.svg" alt="" />
					</a>
				</div>
				<div class="flex-none gap-2">
					<div class="dropdown dropdown-end">
						<label tabindex="0" class="btn btn-ghost btn-circle avatar">
							<div class="w-10 rounded-full">
								<img src="/images/avatar.jpg" />
							</div>
						</label>
						<ul
							tabindex="0"
							class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-48"
						>
							<li>
								<a
									class="block px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-200 transform hover:bg-gray-100"
									>signed in as <br />
									<span class="font-medium"><%= username %></span>
								</a>
							</li>
							<hr class="border-gray-100" />
							<li>
								<a
									href=""
									class="block px-4 py-2.5 text-sm text-gray-600 capitalize transition-colors duration-200 transform hover:bg-gray-100"
								>
									My Profile
								</a>
							</li>
							<li>
								<a
									href=""
									class="block px-4 py-2.5 text-sm text-gray-600 capitalize transition-colors duration-200 transform hover:bg-gray-100"
								>
									settings
								</a>
							</li>
							<hr class="border-gray-100" />
							<form action="/logout" method="POST">
								<button
									type="submit"
									class="flex items-center px-4 rounded-md transition-colors duration-200 py-3.5 w-full text-sm text-gray-600 space-x-3 hover:bg-gray-100 focus:outline-none"
								>
									<i class="text-xl ri-logout-box-line"></i>
									<span>Log Out</span>
								</button>
							</form>
						</ul>
					</div>
				</div>
			</div>
			<main>
				<p class="mt-10 font-bold text-center">Hello <%= username %></p>
			</main>
		</div>
	</body>
</html>
