<%- include("../components/loggedHeader"); %>
<section class="container px-4 pt-24 mx-auto mt-3">
	<div class="flex flex-row flex-wrap pb-10 md:pt-2">
		<div class="w-full shrink-0 lg:w-[334px] lg:pl-0 lg:pr-4">
			<div class="p-4 mb-2 bg-white border rounded-lg">
				<h1 class="text-2xl font-bold">Account Settings</h1>
			</div>
			<div
				class="flex flex-row items-end mb-2 overflow-auto text-sm font-bold uppercase bg-white border rounded-lg text-slate-700 whitespace-nowrap lg:items-start lg:flex-col"
			>
				<a
					class="flex flex-row items-center w-full px-3 py-4 hover:bg-slate-100 md:px-6"
					href="/settings"
				>
					<svg class="w-6 h-6 mr-4 opacity-75 fill-current" viewBox="0 0 496 512">
						<path
							d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm128 421.6c-35.9 26.5-80.1 42.4-128 42.4s-92.1-15.9-128-42.4V416c0-35.3 28.7-64 64-64 11.1 0 27.5 11.4 64 11.4 36.6 0 52.8-11.4 64-11.4 35.3 0 64 28.7 64 64v13.6zm30.6-27.5c-6.8-46.4-46.3-82.1-94.6-82.1-20.5 0-30.4 11.4-64 11.4S204.6 320 184 320c-48.3 0-87.8 35.7-94.6 82.1C53.9 363.6 32 312.4 32 256c0-119.1 96.9-216 216-216s216 96.9 216 216c0 56.4-21.9 107.6-57.4 146.1zM248 120c-48.6 0-88 39.4-88 88s39.4 88 88 88 88-39.4 88-88-39.4-88-88-88zm0 144c-30.9 0-56-25.1-56-56s25.1-56 56-56 56 25.1 56 56-25.1 56-56 56z"
						></path>
					</svg>
					<span>Profile</span>
				</a>
				<a
					class="flex flex-row items-center w-full px-3 py-4 hover:bg-slate-100 md:px-6"
					href="/settings/account"
				>
					<svg class="w-6 h-6 mr-4 opacity-75 fill-current" viewBox="0 0 512 512">
						<path
							d="M168 255.1c0-47.7 39.4-88 88-88s88 40.3 88 88c0 49.5-39.4 88.9-88 88.9s-88-39.4-88-88.9zm88-56c-30.9 0-56 26-56 56 0 31.8 25.1 56 56 56s56-24.2 56-56c0-30-25.1-56-56-56zM65.67 230.6l-40.33-36.8c-11.12-10.1-13.68-26.6-6.16-39.6l30.24-52.4c7.52-13.02 23.09-19.05 37.42-14.48l51.96 16.58c13.4-10.34 28.2-18.94 44-25.47l11.7-53.27C197.7 10.47 210.7 0 225.8 0h60.4c15.1 0 28.1 10.47 31.3 25.16l11.7 53.27c14.9 6.53 30.6 15.13 44 25.47l52-16.58c14.3-4.57 29.9 1.46 37.4 14.48l30.2 52.4c7.5 13 5 29.5-6.1 39.6l-40.4 36.8c1.1 8.3 1.7 16.8 1.7 24.5 0 9.5-.6 18-1.7 26.3l40.4 36.8c11.1 10.1 13.6 26.6 6.1 39.6l-30.2 52.4c-7.5 13-23.1 19-37.4 14.5l-52-16.6c-13.4 10.3-29.1 18.9-44 25.5l-11.7 53.2c-3.2 14.7-16.2 25.2-31.3 25.2h-60.4c-15.1 0-28.1-10.5-31.3-25.2l-11.7-53.2c-15.8-6.6-30.6-15.2-44-25.5l-51.96 16.6c-14.33 4.5-29.9-1.5-37.42-14.5l-30.24-52.4c-7.52-13-4.96-29.5 6.16-39.6l40.33-36.8c-1.1-8.3-1.67-16.8-1.67-26.3 0-7.7.57-16.2 1.67-24.5zm92.73-101.4-13.3 10.3-67.97-21.7-30.24 52.4 52.69 48-2.19 16.6c-.92 6.9-1.39 14-1.39 20.3 0 8.1.47 15.2 1.39 22.1l2.19 16.6-52.69 48 30.24 52.4 67.97-21.7 13.3 10.3c11.1 8.6 23.5 15.8 36.6 20.3l15.5 7.3 15.3 69.6h60.4l15.3-69.6 14.6-7.3c14-4.5 26.4-11.7 37.5-20.3l13.3-10.3 68 21.7 30.2-52.4-52.7-48 2.2-16.6c.9-6.9 1.4-14 1.4-21.2 0-7.2-.5-14.3-1.4-21.2l-2.2-16.6 52.7-48-30.2-52.4-68 21.7-13.3-10.3c-11.1-8.6-23.5-15.8-37.5-21.2l-14.6-6.4L286.2 32h-60.4l-15.3 69.6L195 108c-13.1 5.4-25.5 12.6-36.6 21.2z"
						></path>
					</svg>
					<span>Account</span>
				</a>

				<a
					class="flex flex-row items-center w-full px-3 py-4 text-blue-500 md:px-6"
					href="/settings/pro"
				>
					<svg
						class="w-6 h-6 mr-4 opacity-75 stroke-current"
						viewBox="0 0 24 25"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M11.7691 15.5L8.99986 12.7308M11.7691 15.5C13.0584 15.0096 14.2954 14.3912 15.4613 13.6539M11.7691 15.5L11.7691 20.1154C11.7691 20.1154 14.5659 19.6077 15.4613 18.2692C16.4582 16.7739 15.4613 13.6539 15.4613 13.6539M8.99986 12.7308C9.49107 11.4565 10.1096 10.2349 10.846 9.08473C11.9215 7.36505 13.4192 5.94912 15.1964 4.97164C16.9736 3.99415 18.9714 3.48761 20.9997 3.50019C20.9997 6.01092 20.2797 10.4232 15.4613 13.6539M8.99986 12.7308H4.38454C4.38454 12.7308 4.89222 9.93395 6.23067 9.03858C7.72603 8.04167 10.846 9.03858 10.846 9.03858M15.8347 9.23082C15.6785 9.38703 15.4252 9.38703 15.269 9.23082C15.1128 9.07461 15.1128 8.82134 15.269 8.66513M15.8347 9.23082C15.9909 9.07461 15.9909 8.82135 15.8347 8.66514C15.6785 8.50893 15.4252 8.50892 15.269 8.66513M15.8347 9.23082L15.269 8.66513M4.84607 16.8846C3.46147 18.0477 2.99994 21.5 2.99994 21.5C2.99994 21.5 6.4522 21.0384 7.61526 19.6538C8.27064 18.8785 8.26141 17.6877 7.53219 16.9677C7.1734 16.6253 6.70078 16.4274 6.20503 16.412C5.70928 16.3967 5.22534 16.565 4.84607 16.8846Z"
							stroke="stroke-current"
							stroke-width="1.5"
							stroke-linecap="round"
							stroke-linejoin="round"
						></path>
					</svg>
					<span>Pro Subscription</span>
				</a>
			</div>
		</div>

		<div class="flex-1">
			<div class="px-4 bg-white border rounded-lg md:px-8 text-slate-800">
				<div class="py-5 border-b">
					<h1 class="font-sans text-lg font-semibold text-slate-800">Subscription</h1>
				</div>
				<div class="mt-4">
					<div
						style="
							background-image: url(https://cdn.hashnode.com/res/hashnode/image/upload/v1677740478473/t0vDTK8HQ.png?auto=compress);
						"
						class="bg-black bg-top bg-no-repeat bg-cover rounded-lg min-h-[160px] flex flex-col justify-center flex-wrap"
					>
						<div
							class="w-full px-6 py-8 mx-auto max-w-7xl md:py-8 lg:flex lg:items-center lg:justify-between lg:px-8 selection:bg-slate-700"
						>
							<div class="flex flex-col items-center md:mr-4 lg:items-start">
								<span class="relative block w-56 shrink-0 xl:pr-2">
									<img src="/images/Logo.svg" alt="Logo" class="mx-auto brightness-0 invert" />
									<span
										class="absolute bg-black top-1 right-5 block py-[1px] px-1.5 text-xs text-white rounded-[0.25rem]"
									>
										PRO
									</span>
								</span>
								<span class="mt-6 font-medium text-center lg:text-start text-slate-50 text-md">
									Zouhair Blog Pro plan $5/month + $3/month per additional publication
								</span>
							</div>
							<div
								class="flex items-center justify-center mt-8 lg:justify-end gap-x-2 lg:mt-0 lg:flex-shrink-0"
							>
								<a
									href="/pricing"
									target="_blank"
									class="inline-block whitespace-nowrap text-sm font-medium leading-tight tracking-wide rounded-full text-gray-50 px-5 py-2.5 focus:outline-none focus-visible:ring focus-visible:ring-offset-2 focus-visible:ring-offset-white hover:bg-slate-950 hover:bg-opacity-25 focus-visible:ring-blue-600"
								>
									Learn more
								</a>
								<button
									class="whitespace-nowrap px-5 py-2.5 text-sm leading-tight font-medium tracking-wide text-slate-800 rounded-full bg-white hover:bg-slate-100 focus:outline-none focus-visible:ring focus-visible:ring-offset-2 focus-visible:ring-offset-white focus-visible:ring-blue-600"
								>
									Upgrade now
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="pb-8 mt-8">
					<h2 class="mb-1 font-bold text-slate-800">Features</h2>
					<span class="text-sm text-slate-600">
						Boost your blogging experience with Zouhair Blog Pro.
					</span>
					<div
						class="flex flex-row flex-wrap items-start mt-5 text-sm rounded-lg bg-slate-50 md:gap-y-4"
					>
						<div class="flex flex-col items-start w-full p-5 mb-5 md:w-1/3 md:mb-0">
							<div class="relative mb-3">
								<svg
									width="25"
									height="25"
									viewBox="0 0 25 25"
									class="w-5 h-5 stroke-current"
									fill="none"
									xmlns="http://www.w3.org/2000/svg"
								>
									<path
										d="M18.9174 14.2303C19.1814 14.9167 19.3671 15.7871 19.7979 16.3931C19.8919 16.5252 20.0074 16.6407 20.1395 16.7347C20.7455 17.1655 21.6158 17.3511 22.3022 17.6151M18.9174 14.2303C18.6534 14.9167 18.4678 15.7871 18.0369 16.3931C17.9429 16.5252 17.8275 16.6407 17.6953 16.7347C17.0894 17.1655 16.219 17.3511 15.5326 17.6151M18.9174 14.2303V21M22.3022 17.6151C21.6158 17.8791 20.7455 18.0648 20.1395 18.4956C20.0074 18.5896 19.8919 18.7051 19.7979 18.8372C19.3671 19.4432 19.1814 20.3136 18.9174 21M22.3022 17.6151H15.5326M18.9174 21C18.6534 20.3136 18.4678 19.4432 18.0369 18.8372C17.9429 18.7051 17.8275 18.5896 17.6953 18.4956C17.0894 18.0648 16.219 17.8791 15.5326 17.6151M13.8851 20.6222C12.4966 21.4619 10.6645 21.2823 9.46573 20.0835L4.35973 14.9775C2.94975 13.5676 2.94975 11.2815 4.35973 9.87157L9.46573 4.76558C10.8757 3.3556 13.1617 3.3556 14.5717 4.76558L19.6777 9.87157C20.1483 10.3421 20.4618 10.9103 20.6183 11.5109M14.7512 12.4249C14.7512 13.9204 13.5388 15.1328 12.0433 15.1328C10.5478 15.1328 9.33544 13.9204 9.33544 12.4249C9.33544 10.9294 10.5478 9.71704 12.0433 9.71704C13.5388 9.71704 14.7512 10.9294 14.7512 12.4249Z"
										stroke="url(#paint0_linear_1335_8768)"
										stroke-width="2"
										stroke-linecap="round"
										stroke-linejoin="round"
									></path>
									<defs>
										<linearGradient
											id="paint0_linear_5342_21723"
											x1="17.9977"
											y1="0.466238"
											x2="6.68116"
											y2="23.5162"
											gradientUnits="userSpaceOnUse"
										>
											<stop stop-color="#3466F6"></stop>
											<stop offset="0.0001" stop-color="#3466F6"></stop>
											<stop offset="1" stop-color="#7C3AED"></stop>
										</linearGradient>
									</defs>
								</svg>
							</div>
							<div class="flex flex-row items-center mb-2">
								<h2 class="font-medium leading-snug text-slate-800">
									<a href="/create/story">Craft with AI</a>
								</h2>
							</div>
							<p class="text-slate-600">
								Get help with article outlines, titles, and improve your writing.
							</p>
						</div>
						<div class="flex flex-col items-start w-full p-5 mb-5 md:w-1/3 md:mb-0">
							<div class="relative mb-3">
								<svg class="w-5 h-5 stroke-current" viewBox="0 0 20 20" fill="none">
									<path
										d="M4.99919 9.68494C4.99919 9.68494 5.41667 10.9387 6.66607 10.9387C8.33333 10.9387 9.99543 7.61882 9.99543 7.61882C9.99543 7.61882 11.6667 10.9387 13.3341 10.9387C14.5833 10.9387 15.0056 9.68498 15.0056 9.68498M11.25 17.5149C11.25 17.5149 12.5 18.2292 14.1667 18.2292C16.6667 18.2292 17.5003 16.8006 17.5003 15.7292C17.5003 14.6578 16.6667 13.2292 14.1667 13.2292C10 13.2292 10 18.2292 5.83333 18.2292C3.35028 18.2292 2.5 16.8006 2.5 15.7292C2.5 14.6578 3.33333 13.2292 5.83333 13.2292C7.5 13.2292 8.75 13.9435 8.75 13.9435M11.6667 3.64584C11.6667 4.68138 10.9205 5.52084 10 5.52084C9.07953 5.52084 8.33333 4.68138 8.33333 3.64584C8.33333 2.61031 9.07953 1.77084 10 1.77084C10.9205 1.77084 11.6667 2.61031 11.6667 3.64584Z"
										stroke="url(#paint0_linear_1335_8768)"
										stroke-width="1.5"
										stroke-linecap="round"
										stroke-linejoin="round"
									></path>
									<defs>
										<linearGradient
											id="paint0_linear_1335_8768"
											x1="11.4752"
											y1="-2.78263"
											x2="6.77896"
											y2="21.4537"
											gradientUnits="userSpaceOnUse"
										>
											<stop stop-color="#3466F6"></stop>
											<stop offset="0.0001" stop-color="#3466F6"></stop>
											<stop offset="1" stop-color="#7C3AED"></stop>
										</linearGradient>
									</defs>
								</svg>
							</div>
							<div class="flex flex-row items-center mb-2">
								<h2 class="font-medium leading-snug text-slate-800">
									<a href="/create/story">Focus mode</a>
								</h2>
							</div>
							<p class="text-slate-600">
								Switch to a clutter-free interface and write without distractions.
							</p>
						</div>
						<div class="flex flex-col items-start w-full p-5 mb-5 md:w-1/3 md:mb-0">
							<div class="relative mb-3">
								<svg
									class="w-5 h-5 stroke-current"
									viewBox="0 0 19 18"
									fill="none"
									xmlns="http://www.w3.org/2000/svg"
								>
									<path
										d="M12.0522 4.5L14.3022 6.75M7.55225 2.25C7.55225 2.64782 7.71028 3.02936 7.99159 3.31066C8.27289 3.59196 8.65442 3.75 9.05225 3.75C8.65442 3.75 8.27289 3.90804 7.99159 4.18934C7.71028 4.47064 7.55225 4.85218 7.55225 5.25C7.55225 4.85218 7.39421 4.47064 7.11291 4.18934C6.8316 3.90804 6.45007 3.75 6.05225 3.75C6.45007 3.75 6.8316 3.59196 7.11291 3.31066C7.39421 3.02936 7.55225 2.64782 7.55225 2.25ZM15.0522 9.75C15.0522 10.1478 15.2103 10.5294 15.4916 10.8107C15.7729 11.092 16.1544 11.25 16.5522 11.25C16.1544 11.25 15.7729 11.408 15.4916 11.6893C15.2103 11.9706 15.0522 12.3522 15.0522 12.75C15.0522 12.3522 14.8942 11.9706 14.6129 11.6893C14.3316 11.408 13.9501 11.25 13.5522 11.25C13.9501 11.25 14.3316 11.092 14.6129 10.8107C14.8942 10.5294 15.0522 10.1478 15.0522 9.75ZM3.58258 12.9697L13.7719 2.78033C14.0648 2.48744 14.5397 2.48744 14.8326 2.78033L16.0219 3.96967C16.3148 4.26256 16.3148 4.73744 16.0219 5.03033L5.83258 15.2197C5.53968 15.5126 5.06481 15.5126 4.77192 15.2197L3.58258 14.0303C3.28968 13.7374 3.28968 13.2626 3.58258 12.9697Z"
										stroke="url(#paint0_linear_2881_23184)"
										stroke-width="1.25"
										stroke-linecap="round"
										stroke-linejoin="round"
									></path>
									<defs>
										<linearGradient
											id="paint0_linear_2881_23184"
											x1="13.5641"
											y1="-0.202717"
											x2="4.56117"
											y2="16.6224"
											gradientUnits="userSpaceOnUse"
										>
											<stop stop-color="#3466F6"></stop>
											<stop offset="0.0001" stop-color="#3466F6"></stop>
											<stop offset="1" stop-color="#7C3AED"></stop>
										</linearGradient>
									</defs>
								</svg>
							</div>
							<div class="flex flex-row items-center mb-2">
								<h2 class="font-medium leading-snug text-slate-800">
									Remove Zouhair Blog Branding
								</h2>
							</div>
							<p class="text-slate-600">
								Make your blog your own by removing Hashnode branding from the footer.
							</p>
						</div>
						<div class="flex flex-col items-start w-full p-5 mb-5 md:w-1/3 md:mb-0">
							<div class="relative mb-3">
								<svg
									class="w-5 h-5 fill-current"
									viewBox="0 0 19 18"
									fill="none"
									xmlns="http://www.w3.org/2000/svg"
								>
									<path
										d="M13.6457 9.12977L13.0207 9.12085V9.12977H13.6457ZM8.08745 3.80282L7.53141 4.0882C7.65162 4.32241 7.90569 4.45618 8.16681 4.42276L8.08745 3.80282ZM7.67541 3L8.23145 2.71462C8.10829 2.47464 7.84506 2.34076 7.57859 2.38255L7.67541 3ZM4.58728 3.95831L4.31687 3.39483C4.22032 3.44117 4.1373 3.51153 4.07576 3.59917L4.58728 3.95831ZM2.36813 12.5264L1.74634 12.5896C1.76396 12.7629 1.85302 12.9209 1.99208 13.0256L2.36813 12.5264ZM6.1688 14.4339L6.01023 15.0384C6.27819 15.1087 6.56045 14.9942 6.70372 14.7571L6.1688 14.4339ZM11.517 3.80282L11.438 4.42279C11.699 4.45609 11.9529 4.32232 12.0731 4.0882L11.517 3.80282ZM11.9291 3L12.0259 2.38255C11.7594 2.34076 11.4962 2.47464 11.373 2.71462L11.9291 3ZM15.0172 3.95831L15.5287 3.59917C15.4672 3.51153 15.3842 3.44117 15.2876 3.39483L15.0172 3.95831ZM17.2364 12.5264L17.6124 13.0256C17.7515 12.9209 17.8405 12.7629 17.8582 12.5896L17.2364 12.5264ZM13.4357 14.4339L12.9008 14.7571C13.044 14.9942 13.3263 15.1087 13.5943 15.0384L13.4357 14.4339ZM9.79944 3.67422L9.79943 4.29922L9.79944 3.67422ZM5.91167 11.7221C5.58704 11.6048 5.22878 11.7729 5.11147 12.0975C4.99416 12.4221 5.16223 12.7804 5.48686 12.8977L5.91167 11.7221ZM9.80235 13.0807L9.80236 13.7057L9.80235 13.0807ZM14.1176 12.8977C14.4423 12.7804 14.6103 12.4221 14.493 12.0975C14.3757 11.7728 14.0174 11.6048 13.6928 11.7221L14.1176 12.8977ZM8.65958 9.12977L8.03458 9.12085V9.12977H8.65958ZM12.2971 10.0166C11.9671 10.0166 11.5736 9.68573 11.5736 9.12983H10.3236C10.3236 10.2405 11.1485 11.2666 12.2971 11.2666V10.0166ZM11.5736 9.12983C11.5736 8.57015 11.9586 8.24299 12.2971 8.24299V6.99299C11.1333 6.99299 10.3236 8.02294 10.3236 9.12983H11.5736ZM12.2971 8.24299C12.6458 8.24299 13.0285 8.57925 13.0208 9.12085L14.2706 9.1387C14.2865 8.02563 13.4627 6.99299 12.2971 6.99299V8.24299ZM13.0207 9.12977C13.0207 9.69136 12.6399 10.0166 12.2971 10.0166V11.2666C13.4685 11.2666 14.2707 10.2348 14.2707 9.12977H13.0207ZM8.64349 3.51743L8.23145 2.71462L7.11937 3.28538L7.53141 4.0882L8.64349 3.51743ZM7.57859 2.38255C6.48388 2.55421 5.27703 2.93405 4.31687 3.39483L4.85769 4.52178C5.7088 4.11334 6.79875 3.77011 7.77223 3.61745L7.57859 2.38255ZM4.07576 3.59917C2.46229 5.89724 1.38785 9.06509 1.74634 12.5896L2.98992 12.4632C2.66492 9.26786 3.63963 6.39573 5.09879 4.31744L4.07576 3.59917ZM1.99208 13.0256C2.9719 13.7637 3.97076 14.2642 4.72156 14.5801C5.09805 14.7385 5.41505 14.8517 5.64011 14.9259C5.75271 14.963 5.84252 14.9904 5.9055 15.0089C5.93699 15.0182 5.9618 15.0252 5.97942 15.0301C5.98823 15.0325 5.99524 15.0344 6.0004 15.0358C6.00298 15.0365 6.00509 15.0371 6.00673 15.0375C6.00755 15.0377 6.00825 15.0379 6.00884 15.0381C6.00913 15.0382 6.00939 15.0382 6.00962 15.0383C6.00974 15.0383 6.00989 15.0384 6.00995 15.0384C6.01009 15.0384 6.01023 15.0384 6.1688 14.4339C6.32736 13.8293 6.32749 13.8294 6.3276 13.8294C6.32763 13.8294 6.32774 13.8294 6.32779 13.8295C6.32791 13.8295 6.32799 13.8295 6.32805 13.8295C6.32816 13.8296 6.32815 13.8296 6.32803 13.8295C6.32779 13.8295 6.32708 13.8293 6.32592 13.829C6.3236 13.8283 6.31946 13.8272 6.31356 13.8256C6.30176 13.8223 6.28295 13.817 6.25761 13.8095C6.20692 13.7947 6.13021 13.7713 6.03139 13.7387C5.8336 13.6735 5.54818 13.5718 5.20633 13.428C4.52045 13.1394 3.61898 12.6862 2.74418 12.0272L1.99208 13.0256ZM6.70372 14.7571L7.72585 13.0656L6.656 12.4191L5.63387 14.1107L6.70372 14.7571ZM12.0731 4.0882L12.4851 3.28538L11.373 2.71462L10.961 3.51743L12.0731 4.0882ZM11.8323 3.61745C12.8057 3.77011 13.8957 4.11334 14.7468 4.52178L15.2876 3.39483C14.3275 2.93405 13.1206 2.55421 12.0259 2.38255L11.8323 3.61745ZM14.5057 4.31744C15.9649 6.39573 16.9396 9.26786 16.6146 12.4632L17.8582 12.5896C18.2166 9.06509 17.1422 5.89724 15.5287 3.59917L14.5057 4.31744ZM16.8603 12.0272C15.9855 12.6862 15.084 13.1394 14.3982 13.428C14.0563 13.5718 13.7709 13.6735 13.5731 13.7387C13.4743 13.7713 13.3976 13.7947 13.3469 13.8095C13.3215 13.817 13.3027 13.8223 13.2909 13.8256C13.285 13.8272 13.2809 13.8283 13.2786 13.829C13.2774 13.8293 13.2767 13.8295 13.2765 13.8295C13.2763 13.8296 13.2763 13.8296 13.2764 13.8295C13.2765 13.8295 13.2766 13.8295 13.2767 13.8295C13.2768 13.8294 13.2769 13.8294 13.2769 13.8294C13.277 13.8294 13.2771 13.8293 13.4357 14.4339C13.5943 15.0384 13.5944 15.0384 13.5945 15.0384C13.5946 15.0384 13.5948 15.0383 13.5949 15.0383C13.5951 15.0382 13.5954 15.0382 13.5957 15.0381C13.5962 15.0379 13.5969 15.0377 13.5978 15.0375C13.5994 15.0371 13.6015 15.0365 13.6041 15.0358C13.6092 15.0344 13.6163 15.0325 13.6251 15.0301C13.6427 15.0252 13.6675 15.0182 13.699 15.0089C13.762 14.9904 13.8518 14.963 13.9644 14.9259C14.1894 14.8517 14.5064 14.7385 14.8829 14.5801C15.6337 14.2642 16.6326 13.7637 17.6124 13.0256L16.8603 12.0272ZM13.9706 14.1107L12.9485 12.4191L11.8786 13.0656L12.9008 14.7571L13.9706 14.1107ZM8.08745 3.80282C8.16681 4.42276 8.16678 4.42276 8.16676 4.42277C8.16676 4.42277 8.16675 4.42277 8.16674 4.42277C8.16674 4.42277 8.16675 4.42277 8.16677 4.42276C8.16682 4.42276 8.16693 4.42274 8.1671 4.42272C8.16744 4.42268 8.16802 4.42261 8.16883 4.4225C8.17046 4.4223 8.17302 4.42197 8.17647 4.42154C8.18338 4.42068 8.19387 4.41938 8.20762 4.4177C8.23512 4.41435 8.27563 4.4095 8.32662 4.40366C8.42872 4.39197 8.57224 4.37634 8.73712 4.36073C9.07154 4.32907 9.47598 4.29922 9.79943 4.29922L9.79945 3.04922C9.41562 3.04922 8.96406 3.08366 8.61931 3.1163C8.4446 3.13284 8.29274 3.14937 8.18435 3.16178C8.1301 3.168 8.0866 3.1732 8.05639 3.17688C8.04129 3.17872 8.0295 3.18019 8.02135 3.1812C8.01727 3.18171 8.0141 3.18211 8.01188 3.1824C8.01077 3.18254 8.00989 3.18265 8.00926 3.18273C8.00895 3.18277 8.00869 3.1828 8.0085 3.18282C8.0084 3.18284 8.00832 3.18285 8.00825 3.18286C8.00822 3.18286 8.00818 3.18287 8.00816 3.18287C8.00813 3.18287 8.0081 3.18288 8.08745 3.80282ZM9.79943 4.29922C10.1241 4.29922 10.5301 4.3291 10.8656 4.36076C11.0311 4.37637 11.1751 4.39199 11.2776 4.40369C11.3287 4.40953 11.3694 4.41438 11.397 4.41773C11.4108 4.41941 11.4213 4.42071 11.4282 4.42157C11.4317 4.42201 11.4343 4.42233 11.4359 4.42254C11.4367 4.42264 11.4373 4.42271 11.4376 4.42276C11.4378 4.42278 11.4379 4.42279 11.438 4.4228C11.438 4.4228 11.438 4.4228 11.438 4.4228C11.438 4.4228 11.438 4.4228 11.438 4.4228C11.438 4.4228 11.438 4.42279 11.517 3.80282C11.5961 3.18284 11.5961 3.18284 11.5961 3.18283C11.596 3.18283 11.596 3.18283 11.596 3.18282C11.5959 3.18281 11.5958 3.1828 11.5957 3.18279C11.5955 3.18277 11.5953 3.18273 11.595 3.18269C11.5943 3.18261 11.5935 3.1825 11.5923 3.18236C11.5901 3.18208 11.5869 3.18168 11.5828 3.18117C11.5747 3.18015 11.5629 3.17869 11.5477 3.17685C11.5174 3.17317 11.4738 3.16797 11.4193 3.16176C11.3106 3.14935 11.1583 3.13282 10.983 3.11629C10.6372 3.08365 10.1843 3.04922 9.79945 3.04922L9.79943 4.29922ZM5.69927 12.3099C5.48686 12.8977 5.48696 12.8977 5.48706 12.8978C5.4871 12.8978 5.48721 12.8978 5.4873 12.8978C5.48748 12.8979 5.48769 12.898 5.48793 12.8981C5.48842 12.8982 5.48904 12.8985 5.48979 12.8987C5.49128 12.8993 5.49329 12.9 5.49581 12.9009C5.50084 12.9027 5.50791 12.9052 5.51694 12.9084C5.535 12.9147 5.56091 12.9237 5.59412 12.9349C5.66052 12.9574 5.75618 12.9891 5.87658 13.0268C6.11714 13.1021 6.45778 13.2021 6.8621 13.302C7.66408 13.5003 8.74529 13.7057 9.80236 13.7057L9.80235 12.4557C8.8895 12.4557 7.91917 12.2757 7.16208 12.0886C6.78687 11.9958 6.47111 11.9031 6.25013 11.8339C6.13977 11.7993 6.05339 11.7707 5.99543 11.7511C5.96646 11.7413 5.94462 11.7337 5.93047 11.7287C5.9234 11.7263 5.91825 11.7244 5.91509 11.7233C5.91351 11.7227 5.91243 11.7224 5.91186 11.7222C5.91157 11.7221 5.91141 11.722 5.91138 11.722C5.91137 11.722 5.91138 11.722 5.91143 11.722C5.91146 11.722 5.91152 11.722 5.91153 11.722C5.9116 11.7221 5.91167 11.7221 5.69927 12.3099ZM9.80236 13.7057C10.8594 13.7057 11.9406 13.5003 12.7425 13.302C13.1468 13.2021 13.4874 13.1021 13.728 13.0268C13.8483 12.9891 13.944 12.9574 14.0104 12.9349C14.0436 12.9237 14.0695 12.9147 14.0876 12.9083C14.0966 12.9052 14.1037 12.9027 14.1087 12.9009C14.1112 12.9 14.1132 12.8993 14.1147 12.8987C14.1155 12.8985 14.1161 12.8982 14.1166 12.8981C14.1168 12.898 14.117 12.8979 14.1172 12.8978C14.1173 12.8978 14.1174 12.8978 14.1174 12.8978C14.1175 12.8977 14.1176 12.8977 13.9052 12.3099C13.6928 11.7221 13.6929 11.7221 13.6929 11.722C13.693 11.722 13.693 11.722 13.693 11.722C13.6931 11.722 13.6931 11.722 13.6931 11.722C13.6931 11.722 13.6929 11.7221 13.6926 11.7222C13.692 11.7224 13.691 11.7227 13.6894 11.7233C13.6862 11.7244 13.6811 11.7263 13.674 11.7287C13.6599 11.7337 13.638 11.7413 13.6091 11.7511C13.5511 11.7707 13.4647 11.7993 13.3544 11.8339C13.1334 11.9031 12.8177 11.9958 12.4425 12.0886C11.6855 12.2757 10.7152 12.4557 9.80235 12.4557L9.80236 13.7057ZM7.31103 10.0166C6.98094 10.0166 6.58744 9.68572 6.58744 9.12983H5.33744C5.33744 10.2405 6.16238 11.2666 7.31103 11.2666V10.0166ZM6.58744 9.12983C6.58744 8.57016 6.97248 8.24299 7.31103 8.24299V6.99299C6.1472 6.99299 5.33744 8.02293 5.33744 9.12983H6.58744ZM7.31103 8.24299C7.65963 8.24299 8.04238 8.57925 8.03464 9.12085L9.28452 9.1387C9.30041 8.02563 8.47652 6.99299 7.31103 6.99299V8.24299ZM8.03458 9.12977C8.03458 9.68948 7.64953 10.0166 7.31103 10.0166V11.2666C8.47478 11.2666 9.28458 10.2367 9.28458 9.12977H8.03458Z"
										fill="url(#paint0_linear_2222_13837)"
									></path>
									<defs>
										<linearGradient
											id="paint0_linear_2222_13837"
											x1="13.9039"
											y1="0.873729"
											x2="7.34284"
											y2="16.9596"
											gradientUnits="userSpaceOnUse"
										>
											<stop stop-color="#3466F6"></stop>
											<stop offset="0.0001" stop-color="#3466F6"></stop>
											<stop offset="1" stop-color="#7C3AED"></stop>
										</linearGradient>
									</defs>
								</svg>
							</div>
							<div class="flex flex-row items-center mb-2">
								<h2 class="font-medium leading-snug text-slate-800">Exclusive Discord channel</h2>
							</div>
							<p class="text-slate-600">
								Connect with fellow Zouhair Blog supporters in a private channel, and share your
								thoughts on the platform's evolution with our team directly.
							</p>
						</div>
						<div class="flex flex-col items-start w-full p-5 mb-5 md:w-1/3 md:mb-0">
							<div class="relative mb-3">
								<svg
									class="w-5 h-5 stroke-current"
									viewBox="0 0 19 19"
									fill="none"
									xmlns="http://www.w3.org/2000/svg"
								>
									<path
										d="M5.32111 11.7119C5.59497 11.5989 5.96103 11.4476 6.35789 11.283C7.26763 10.9057 8.20531 10.4673 8.89825 10.4673C9.51056 10.4673 11.0486 10.8969 11.2889 10.9584C11.9758 11.1343 12.4231 11.6002 12.4231 12.1858C12.4231 12.7714 12.0445 13.2415 11.3504 13.3607H9.97638C9.97638 13.3607 11.1562 13.3607 11.8309 13.3607C12.5056 13.3607 13.5834 12.3708 13.9234 12.1374C14.4782 11.7566 15.1533 11.213 15.8943 11.852C16.2855 12.1893 16.2826 12.5909 16.1926 12.8949C16.0939 13.2284 15.8371 13.4826 15.5882 13.7254L14.6705 14.6208C14.0291 15.2465 13.2156 15.6664 12.334 15.8269L10.6891 16.1264C10.2519 16.206 9.80251 16.1875 9.37338 16.0722L8.10447 15.7313C7.5968 15.5949 7.0734 15.5258 6.54773 15.5258H5.32111M11.7781 7.69876H11.0135C10.3922 7.69876 9.88849 7.19508 9.88849 6.57376V3.35001C9.88849 2.72869 10.3922 2.22501 11.0135 2.22501H15.7835C16.4048 2.22501 16.9085 2.72869 16.9085 3.35001V6.57376C16.9085 7.19508 16.4048 7.69876 15.7835 7.69876H13.9183C13.5816 7.69876 13.2547 7.81205 12.9901 8.02038L11.7781 8.97501V7.69876ZM3.42743 16.475L4.55243 16.475C4.96664 16.475 5.30243 16.1392 5.30243 15.725L5.3211 11.225C5.3211 10.8108 4.98532 10.475 4.57111 10.475L3.4461 10.475C3.03189 10.475 2.6961 10.8108 2.6961 11.225L2.67743 15.725C2.67743 16.1392 3.01321 16.475 3.42743 16.475Z"
										stroke="url(#paint0_linear_3977_21799)"
										stroke-width="1.25"
										stroke-linecap="round"
										stroke-linejoin="round"
									></path>
									<defs>
										<linearGradient
											id="paint0_linear_3977_21799"
											x1="13.6843"
											y1="-0.424954"
											x2="3.95022"
											y2="17.7425"
											gradientUnits="userSpaceOnUse"
										>
											<stop stop-color="#3466F6"></stop>
											<stop offset="0.0001" stop-color="#3466F6"></stop>
											<stop offset="1" stop-color="#7C3AED"></stop>
										</linearGradient>
									</defs>
								</svg>
							</div>
							<div class="flex flex-row items-center mb-2">
								<h2 class="font-medium leading-snug text-slate-800">Priority support</h2>
							</div>
							<p class="text-slate-600">
								Pro users get priority support, with a guaranteed response time of within 12 hours.
							</p>
						</div>
						<div class="flex flex-col items-start w-full p-5 mb-5 md:w-1/3 md:mb-0">
							<div class="relative mb-3">
								<svg
									class="w-5 h-5 fill-current"
									viewBox="0 0 19 19"
									fill="none"
									xmlns="http://www.w3.org/2000/svg"
								>
									<path
										d="M5.30225 11.6136V7.25H7.02384C7.3548 7.25 7.63676 7.31321 7.86972 7.43963C8.10267 7.56463 8.28023 7.73864 8.40239 7.96165C8.52597 8.18324 8.58776 8.43892 8.58776 8.72869C8.58776 9.01847 8.52526 9.27415 8.40026 9.49574C8.27526 9.71733 8.09415 9.88991 7.85693 10.0135C7.62114 10.1371 7.33563 10.1989 7.0004 10.1989H5.9031V9.45952H6.85125C7.02881 9.45952 7.17512 9.42898 7.29017 9.3679C7.40665 9.3054 7.4933 9.21946 7.55012 9.11009C7.60835 8.99929 7.63747 8.87216 7.63747 8.72869C7.63747 8.58381 7.60835 8.45739 7.55012 8.34943C7.4933 8.24006 7.40665 8.15554 7.29017 8.09588C7.17369 8.0348 7.02597 8.00426 6.84699 8.00426H6.22483V11.6136H5.30225Z"
										fill="url(#paint0_linear_3340_77852)"
									></path>
									<path
										d="M9.16997 11.6136V8.34091H10.0499V8.91193H10.084C10.1437 8.70881 10.2438 8.5554 10.3845 8.4517C10.5251 8.34659 10.687 8.29403 10.8703 8.29403C10.9157 8.29403 10.9647 8.29688 11.0173 8.30256C11.0698 8.30824 11.116 8.31605 11.1558 8.32599V9.13139C11.1131 9.11861 11.0542 9.10724 10.9789 9.0973C10.9036 9.08736 10.8347 9.08239 10.7722 9.08239C10.6387 9.08239 10.5194 9.11151 10.4143 9.16974C10.3106 9.22656 10.2282 9.30611 10.1671 9.40838C10.1075 9.51065 10.0776 9.62855 10.0776 9.76207V11.6136H9.16997Z"
										fill="url(#paint1_linear_3340_77852)"
									></path>
									<path
										d="M12.9514 11.6776C12.6204 11.6776 12.3342 11.6072 12.0927 11.4666C11.8527 11.3246 11.6673 11.1271 11.5366 10.8743C11.4059 10.62 11.3406 10.3253 11.3406 9.99006C11.3406 9.65199 11.4059 9.35653 11.5366 9.10369C11.6673 8.84943 11.8527 8.65199 12.0927 8.51136C12.3342 8.36932 12.6204 8.2983 12.9514 8.2983C13.2824 8.2983 13.5679 8.36932 13.8079 8.51136C14.0494 8.65199 14.2355 8.84943 14.3662 9.10369C14.4968 9.35653 14.5622 9.65199 14.5622 9.99006C14.5622 10.3253 14.4968 10.62 14.3662 10.8743C14.2355 11.1271 14.0494 11.3246 13.8079 11.4666C13.5679 11.6072 13.2824 11.6776 12.9514 11.6776ZM12.9557 10.9744C13.1062 10.9744 13.2319 10.9318 13.3328 10.8466C13.4336 10.7599 13.5096 10.642 13.5608 10.4929C13.6133 10.3438 13.6396 10.174 13.6396 9.98366C13.6396 9.79332 13.6133 9.62358 13.5608 9.47443C13.5096 9.32528 13.4336 9.20739 13.3328 9.12074C13.2319 9.03409 13.1062 8.99077 12.9557 8.99077C12.8037 8.99077 12.6758 9.03409 12.5721 9.12074C12.4699 9.20739 12.3924 9.32528 12.3399 9.47443C12.2888 9.62358 12.2632 9.79332 12.2632 9.98366C12.2632 10.174 12.2888 10.3438 12.3399 10.4929C12.3924 10.642 12.4699 10.7599 12.5721 10.8466C12.6758 10.9318 12.8037 10.9744 12.9557 10.9744Z"
										fill="url(#paint2_linear_3340_77852)"
									></path>
									<path
										fill-rule="evenodd"
										clip-rule="evenodd"
										d="M5.17224 11.6499V7.28625H6.89383C7.2248 7.28625 7.50676 7.34947 7.73971 7.47589C7.97267 7.60089 8.15022 7.77489 8.27238 7.9979C8.39596 8.21949 8.45775 8.47518 8.45775 8.76495C8.45775 9.05472 8.39525 9.3104 8.27025 9.53199C8.14525 9.75358 7.96414 9.92617 7.72693 10.0497C7.49113 10.1733 7.20562 10.2351 6.87039 10.2351H6.09483V11.6499H5.17224ZM6.72125 9.49577H6.09483V8.04052H6.71699C6.89596 8.04052 7.04369 8.07106 7.16017 8.13214C7.27664 8.19179 7.36329 8.27631 7.42011 8.38569C7.47835 8.49364 7.50747 8.62006 7.50747 8.76495C7.50747 8.90841 7.47835 9.03554 7.42011 9.14634C7.36329 9.25572 7.27664 9.34165 7.16017 9.40415C7.04511 9.46523 6.8988 9.49577 6.72125 9.49577Z"
										fill="url(#paint3_linear_3340_77852)"
									></path>
									<path
										d="M9.03996 11.6499V8.37716H9.91993V8.94819H9.95402C10.0137 8.74506 10.1138 8.59165 10.2544 8.48796C10.3951 8.38285 10.557 8.33029 10.7402 8.33029C10.7857 8.33029 10.8347 8.33313 10.8873 8.33881C10.9398 8.34449 10.986 8.35231 11.0258 8.36225V9.16765C10.9831 9.15486 10.9242 9.1435 10.8489 9.13356C10.7736 9.12361 10.7047 9.11864 10.6422 9.11864C10.5087 9.11864 10.3894 9.14776 10.2843 9.206C10.1806 9.26282 10.0982 9.34236 10.0371 9.44464C9.97746 9.54691 9.94763 9.66481 9.94763 9.79833V11.6499H9.03996Z"
										fill="url(#paint4_linear_3340_77852)"
									></path>
									<path
										fill-rule="evenodd"
										clip-rule="evenodd"
										d="M11.9627 11.5029C12.2042 11.6435 12.4904 11.7138 12.8214 11.7138C13.1524 11.7138 13.4379 11.6435 13.6779 11.5029C13.9194 11.3608 14.1055 11.1634 14.2362 10.9105C14.3668 10.6563 14.4322 10.3615 14.4322 10.0263C14.4322 9.68824 14.3668 9.39279 14.2362 9.13995C14.1055 8.88569 13.9194 8.68824 13.6779 8.54762C13.4379 8.40557 13.1524 8.33455 12.8214 8.33455C12.4904 8.33455 12.2042 8.40557 11.9627 8.54762C11.7227 8.68824 11.5373 8.88569 11.4066 9.13995C11.2759 9.39279 11.2106 9.68824 11.2106 10.0263C11.2106 10.3615 11.2759 10.6563 11.4066 10.9105C11.5373 11.1634 11.7227 11.3608 11.9627 11.5029ZM13.2028 10.8828C13.1019 10.9681 12.9762 11.0107 12.8257 11.0107C12.6737 11.0107 12.5458 10.9681 12.4421 10.8828C12.3399 10.7962 12.2624 10.6783 12.2099 10.5292C12.1587 10.38 12.1332 10.2103 12.1332 10.0199C12.1332 9.82958 12.1587 9.65983 12.2099 9.51069C12.2624 9.36154 12.3399 9.24364 12.4421 9.15699C12.5458 9.07035 12.6737 9.02702 12.8257 9.02702C12.9762 9.02702 13.1019 9.07035 13.2028 9.15699C13.3036 9.24364 13.3796 9.36154 13.4308 9.51069C13.4833 9.65983 13.5096 9.82958 13.5096 10.0199C13.5096 10.2103 13.4833 10.38 13.4308 10.5292C13.3796 10.6783 13.3036 10.7962 13.2028 10.8828Z"
										fill="url(#paint5_linear_3340_77852)"
									></path>
									<path
										fill-rule="evenodd"
										clip-rule="evenodd"
										d="M2.30225 7.25C2.30225 5.59315 3.64539 4.25 5.30225 4.25H14.3022C15.9591 4.25 17.3022 5.59315 17.3022 7.25V11.75C17.3022 13.4069 15.9591 14.75 14.3022 14.75H5.30225C3.64539 14.75 2.30225 13.4069 2.30225 11.75V7.25ZM5.30225 5.375H14.3022C15.3378 5.375 16.1772 6.21447 16.1772 7.25V11.75C16.1772 12.7855 15.3378 13.625 14.3022 13.625H5.30225C4.26671 13.625 3.42725 12.7855 3.42725 11.75V7.25C3.42725 6.21447 4.26671 5.375 5.30225 5.375Z"
										fill="url(#paint6_linear_3340_77852)"
									></path>
									<defs>
										<linearGradient
											id="paint0_linear_3340_77852"
											x1="13.9039"
											y1="2.2974"
											x2="8.24437"
											y2="17.4071"
											gradientUnits="userSpaceOnUse"
										>
											<stop stop-color="#3466F6"></stop>
											<stop offset="0.0001" stop-color="#3466F6"></stop>
											<stop offset="1" stop-color="#7C3AED"></stop>
										</linearGradient>
										<linearGradient
											id="paint1_linear_3340_77852"
											x1="13.9039"
											y1="2.2974"
											x2="8.24437"
											y2="17.4071"
											gradientUnits="userSpaceOnUse"
										>
											<stop stop-color="#3466F6"></stop>
											<stop offset="0.0001" stop-color="#3466F6"></stop>
											<stop offset="1" stop-color="#7C3AED"></stop>
										</linearGradient>
										<linearGradient
											id="paint2_linear_3340_77852"
											x1="13.9039"
											y1="2.2974"
											x2="8.24437"
											y2="17.4071"
											gradientUnits="userSpaceOnUse"
										>
											<stop stop-color="#3466F6"></stop>
											<stop offset="0.0001" stop-color="#3466F6"></stop>
											<stop offset="1" stop-color="#7C3AED"></stop>
										</linearGradient>
										<linearGradient
											id="paint3_linear_3340_77852"
											x1="13.9039"
											y1="2.2974"
											x2="8.24437"
											y2="17.4071"
											gradientUnits="userSpaceOnUse"
										>
											<stop stop-color="#3466F6"></stop>
											<stop offset="0.0001" stop-color="#3466F6"></stop>
											<stop offset="1" stop-color="#7C3AED"></stop>
										</linearGradient>
										<linearGradient
											id="paint4_linear_3340_77852"
											x1="13.9039"
											y1="2.2974"
											x2="8.24437"
											y2="17.4071"
											gradientUnits="userSpaceOnUse"
										>
											<stop stop-color="#3466F6"></stop>
											<stop offset="0.0001" stop-color="#3466F6"></stop>
											<stop offset="1" stop-color="#7C3AED"></stop>
										</linearGradient>
										<linearGradient
											id="paint5_linear_3340_77852"
											x1="13.9039"
											y1="2.2974"
											x2="8.24437"
											y2="17.4071"
											gradientUnits="userSpaceOnUse"
										>
											<stop stop-color="#3466F6"></stop>
											<stop offset="0.0001" stop-color="#3466F6"></stop>
											<stop offset="1" stop-color="#7C3AED"></stop>
										</linearGradient>
										<linearGradient
											id="paint6_linear_3340_77852"
											x1="13.9039"
											y1="2.2974"
											x2="8.24437"
											y2="17.4071"
											gradientUnits="userSpaceOnUse"
										>
											<stop stop-color="#3466F6"></stop>
											<stop offset="0.0001" stop-color="#3466F6"></stop>
											<stop offset="1" stop-color="#7C3AED"></stop>
										</linearGradient>
									</defs>
								</svg>
							</div>
							<div class="flex flex-row items-center mb-2">
								<h2 class="font-medium leading-snug text-slate-800">Pro badge</h2>
							</div>
							<p class="text-slate-600">Show your support for Zouhair Blog across the platform.</p>
						</div>
						<div class="flex flex-col items-start w-full p-5 mb-5 md:w-1/3 md:mb-0">
							<div class="relative mb-3">
								<svg
									class="w-5 h-5 stroke-current"
									viewBox="0 0 24 24"
									fill="none"
									xmlns="http://www.w3.org/2000/svg"
								>
									<path
										d="M9.98245 10.0112H15.992M15.992 4.00159L18.9968 7.00637L6.6271 19.3761C6.22864 19.7745 5.68821 19.9984 5.12471 19.9984C4.5612 19.9984 4.02077 19.7745 3.62231 19.3761C3.22385 18.9776 3 18.4372 3 17.8737C3 17.3102 3.22385 16.7698 3.62231 16.3713L15.992 4.00159ZM18.9968 15.0191L20.4992 16.6217C20.7542 16.9108 20.9203 17.2674 20.9777 17.6486C21.0351 18.0298 20.9812 18.4195 20.8226 18.7709C20.664 19.1222 20.4073 19.4204 20.0835 19.6295C19.7596 19.8386 19.3823 19.9499 18.9968 19.9499C18.6113 19.9499 18.234 19.8386 17.9101 19.6295C17.5863 19.4204 17.3296 19.1222 17.171 18.7709C17.0124 18.4195 16.9586 18.0298 17.0159 17.6486C17.0733 17.2674 17.2394 16.9108 17.4944 16.6217L18.9968 15.0191Z"
										stroke="url(#paint0_linear_938_22323)"
										stroke-width="1.5"
										stroke-linecap="round"
										stroke-linejoin="round"
									></path>
									<defs>
										<linearGradient
											id="paint0_linear_938_22323"
											x1="12"
											y1="-1.79726"
											x2="12"
											y2="24.5975"
											gradientUnits="userSpaceOnUse"
										>
											<stop stop-color="#3466F6"></stop>
											<stop offset="0.0001" stop-color="#3466F6"></stop>
											<stop offset="1" stop-color="#7C3AED"></stop>
										</linearGradient>
									</defs>
								</svg>
							</div>
							<div class="flex flex-row items-center mb-2">
								<h2 class="font-medium leading-snug text-slate-800">Beta feature access</h2>
								<span
									class="bg-blue-50 font-medium ml-2 capitalize text-xs text-blue-600 rounded-full px-1.5 py-0.5"
								>
									BETA
								</span>
							</div>
							<p class="text-slate-600">
								Get early access to new features as a Pro user. You can toggle which beta features
								to enable on your account.
							</p>
						</div>
						<div class="flex flex-col items-start w-full p-5 mb-5 md:w-1/3 md:mb-0">
							<div class="relative mb-3">
								<svg
									class="w-5 h-5 stroke-current"
									viewBox="0 0 19 18"
									fill="none"
									xmlns="http://www.w3.org/2000/svg"
								>
									<path
										d="M7.91919 14.2435C4.68022 15.298 4.68022 12.3604 3.39969 11.9837M12.4387 15.75V13.1136C12.4387 12.3604 12.514 12.0591 12.0621 11.6071C14.1712 11.3811 16.205 10.5526 16.205 7.0876C16.204 6.18744 15.8528 5.32296 15.2257 4.6772C15.5198 3.8953 15.4928 3.0288 15.1504 2.26679C15.1504 2.26679 14.3218 2.04082 12.514 3.24602C10.9828 2.84724 9.37505 2.84724 7.84387 3.24602C6.03607 2.04082 5.20749 2.26679 5.20749 2.26679C4.86512 3.0288 4.83805 3.8953 5.13217 4.6772C4.50505 5.32296 4.15386 6.18744 4.15294 7.0876C4.15294 10.5526 6.18672 11.3811 8.29582 11.6071C7.84387 12.0591 7.84387 12.511 7.91919 13.1136V15.75"
										stroke="url(#paint0_linear_2222_10528)"
										stroke-width="1.25"
										stroke-linecap="round"
										stroke-linejoin="round"
									></path>
									<defs>
										<linearGradient
											id="paint0_linear_2222_10528"
											x1="13.3038"
											y1="-0.260503"
											x2="3.82406"
											y2="16.5441"
											gradientUnits="userSpaceOnUse"
										>
											<stop stop-color="#3466F6"></stop>
											<stop offset="0.0001" stop-color="#3466F6"></stop>
											<stop offset="1" stop-color="#7C3AED"></stop>
										</linearGradient>
									</defs>
								</svg>
							</div>
							<div class="flex flex-row items-center mb-2">
								<h2 class="font-medium leading-snug text-slate-800">Publish from GitHub</h2>
							</div>
							<p class="text-slate-600">
								Publish Markdown content straight from your GitHub repository — it only takes a
								couple of minutes to set up.
							</p>
						</div>
						<div class="flex flex-col items-start w-full p-5 mb-5 md:w-1/3 md:mb-0">
							<div class="relative mb-3">
								<svg
									width="25"
									height="25"
									viewBox="0 0 25 25"
									fill="none"
									xmlns="http://www.w3.org/2000/svg"
									class="w-5 h-5 fill-current"
								>
									<path
										d="M8.3938 23.1333H9.0188H8.3938ZM8.3938 19.4076H7.7688H8.3938ZM20.8022 2.5H21.4272C21.4272 2.15482 21.1474 1.875 20.8022 1.875V2.5ZM20.8022 22.5V23.125C21.1474 23.125 21.4272 22.8452 21.4272 22.5H20.8022ZM4.80225 19.5L5.42725 19.5L4.80225 19.5ZM15.8022 21.875C15.4571 21.875 15.1772 22.1548 15.1772 22.5C15.1772 22.8452 15.4571 23.125 15.8022 23.125V21.875ZM7.80225 16.5L7.80215 17.125H7.80225V16.5ZM5.97527 22.6309C6.27341 22.8049 6.65612 22.7043 6.83009 22.4061C7.00405 22.108 6.9034 21.7253 6.60527 21.5513L5.97527 22.6309ZM5.02642 20.6379L4.44812 20.8749L5.02642 20.6379ZM4.90659 18.7157L5.50985 18.8791L4.90659 18.7157ZM5.98016 17.1167L5.60056 16.6202L5.60056 16.6202L5.98016 17.1167ZM8.66429 23.2513L8.9076 23.827L8.66429 23.2513ZM8.62363 23.2724L8.91701 23.8243L8.62363 23.2724ZM11.0103 22.2597L10.767 21.684L11.0103 22.2597ZM11.051 22.2387L10.7609 21.6851L11.051 22.2387ZM13.5326 23.2514L13.7804 22.6777L13.5326 23.2514ZM13.5717 23.2721L13.2756 23.8225L13.5717 23.2721ZM11.2365 22.2596L10.9887 22.8333L11.2365 22.2596ZM11.1973 22.239L11.4902 21.6869L11.1973 22.239ZM8.62927 19.7971H13.5668V18.5471H8.62927V19.7971ZM13.1772 19.4076V23.1333H14.4272V19.4076H13.1772ZM9.0188 23.1333V19.4076H7.7688V23.1333H9.0188ZM13.7804 22.6777L11.4844 21.6858L10.9887 22.8333L13.2847 23.8252L13.7804 22.6777ZM10.767 21.684L8.42097 22.6756L8.9076 23.827L11.2536 22.8354L10.767 21.684ZM11.4902 21.6869C11.2623 21.566 10.9893 21.5654 10.7609 21.6851L11.3411 22.7923C11.2043 22.864 11.041 22.8636 10.9044 22.7911L11.4902 21.6869ZM7.7688 23.1333C7.7688 23.7363 8.40902 24.0943 8.91701 23.8243L8.33025 22.7206C8.63513 22.5585 9.0188 22.7712 9.0188 23.1333H7.7688ZM13.1772 23.1333C13.1772 22.7704 13.5626 22.5574 13.8678 22.7217L13.2756 23.8225C13.7842 24.0961 14.4272 23.7376 14.4272 23.1333H13.1772ZM13.5668 19.7971C13.3516 19.7971 13.1772 19.6227 13.1772 19.4076H14.4272C14.4272 18.9324 14.042 18.5471 13.5668 18.5471V19.7971ZM8.62927 18.5471C8.15404 18.5471 7.7688 18.9324 7.7688 19.4076H9.0188C9.0188 19.6227 8.8444 19.7971 8.62927 19.7971V18.5471ZM7.80225 3.125H20.8022V1.875H7.80225V3.125ZM20.1772 2.5V16.5H21.4272V2.5H20.1772ZM20.1772 16.5V22.5H21.4272V16.5H20.1772ZM5.42725 19.5V5.5H4.17725V19.5H5.42725ZM20.8022 21.875H15.8022V23.125H20.8022V21.875ZM6.60527 21.5513C6.15437 21.2882 5.80273 20.8839 5.60472 20.4008L4.44812 20.8749C4.75035 21.6122 5.28707 22.2294 5.97527 22.6309L6.60527 21.5513ZM5.60472 20.4008C5.48673 20.113 5.42723 19.8071 5.42725 19.5L4.17725 19.5C4.17722 19.9686 4.26808 20.4357 4.44812 20.8749L5.60472 20.4008ZM5.42725 19.5C5.42726 19.2917 5.45469 19.0827 5.50985 18.8791L4.30332 18.5523C4.21911 18.8632 4.17727 19.182 4.17725 19.5L5.42725 19.5ZM5.50985 18.8791C5.64633 18.3752 5.94504 17.9303 6.35976 17.6132L5.60056 16.6202C4.96756 17.1042 4.51164 17.7832 4.30332 18.5523L5.50985 18.8791ZM6.35976 17.6132C6.77415 17.2964 7.28076 17.1249 7.80215 17.125L7.80234 15.875C7.00628 15.8749 6.23285 16.1368 5.60056 16.6202L6.35976 17.6132ZM7.80225 1.875C5.80022 1.875 4.17725 3.49797 4.17725 5.5H5.42725C5.42725 4.18832 6.49057 3.125 7.80225 3.125V1.875ZM7.80225 17.125H20.8022V15.875H7.80225V17.125ZM8.42097 22.6756C8.38641 22.6902 8.35906 22.7048 8.34558 22.7121C8.33907 22.7156 8.33232 22.7194 8.33066 22.7203C8.32765 22.722 8.32841 22.7215 8.33025 22.7206L8.91701 23.8243C8.92559 23.8197 8.93305 23.8156 8.93672 23.8136C8.93923 23.8122 8.93982 23.8118 8.94112 23.8111C8.94205 23.8106 8.94218 23.8105 8.9419 23.8107C8.94144 23.8109 8.93785 23.8129 8.93241 23.8156C8.92687 23.8184 8.91839 23.8224 8.9076 23.827L8.42097 22.6756ZM11.2536 22.8354C11.2882 22.8208 11.3155 22.8062 11.3284 22.7993C11.3343 22.7961 11.3413 22.7922 11.3422 22.7917C11.3448 22.7903 11.3436 22.791 11.3411 22.7923L10.7609 21.6851C10.7517 21.6899 10.7437 21.6943 10.7396 21.6965C10.7385 21.6972 10.7374 21.6977 10.7366 21.6982C10.7358 21.6987 10.7352 21.699 10.7346 21.6993C10.7335 21.6999 10.7332 21.7 10.7334 21.7C10.7335 21.6999 10.737 21.698 10.7423 21.6954C10.7477 21.6927 10.7562 21.6886 10.767 21.684L11.2536 22.8354ZM13.2847 23.8252C13.2743 23.8207 13.2662 23.8167 13.2608 23.814C13.2556 23.8114 13.2521 23.8095 13.2517 23.8093C13.2514 23.8091 13.2515 23.8092 13.2524 23.8097C13.2537 23.8104 13.2543 23.8107 13.2567 23.812C13.2602 23.814 13.2674 23.818 13.2756 23.8225L13.8678 22.7217C13.8696 22.7226 13.8703 22.723 13.8674 22.7214C13.8658 22.7205 13.8593 22.7168 13.853 22.7134C13.84 22.7063 13.8137 22.692 13.7804 22.6777L13.2847 23.8252ZM11.4844 21.6858C11.4948 21.6903 11.5029 21.6943 11.5082 21.6969C11.5133 21.6995 11.5166 21.7013 11.5168 21.7014C11.5169 21.7015 11.5166 21.7014 11.5156 21.7008C11.515 21.7005 11.5144 21.7001 11.5136 21.6997C11.5128 21.6993 11.5118 21.6987 11.5108 21.6981C11.5068 21.6959 11.4991 21.6916 11.4902 21.6869L10.9044 22.7911C10.902 22.7899 10.9009 22.7892 10.9033 22.7906C10.9042 22.7911 10.911 22.7949 10.9167 22.798C10.9291 22.8048 10.9554 22.819 10.9887 22.8333L11.4844 21.6858Z"
										fill="url(#paint0_linear_5366_21819)"
									></path>
									<defs>
										<linearGradient
											id="paint0_linear_5366_21819"
											x1="17.1773"
											y1="-1.36625"
											x2="1.18721"
											y2="21.6313"
											gradientUnits="userSpaceOnUse"
										>
											<stop stop-color="#3466F6"></stop>
											<stop offset="0.0001" stop-color="#3466F6"></stop>
											<stop offset="1" stop-color="#7C3AED"></stop>
										</linearGradient>
									</defs>
								</svg>
							</div>
							<div class="flex flex-row items-center mb-2">
								<h2 class="font-medium leading-snug text-slate-800">Back up drafts to GitHub</h2>
							</div>
							<p class="text-slate-600">
								Back up articles-in-progress to your GitHub repository, so you're always in control
								of your content.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<%- include("../components/loggedFooter"); %>
